openapi: 3.0.3
info:
  contact:
    email: healthcare@stedi.com
  license:
    name: Proprietary
    url: https://stedi.com
  title: Stedi Healthcare Claims Claim acknowledgments Transactions API
  version: '2025-03-07'
servers:
- description: Production
  url: https://claims.us.stedi.com/2025-03-07
security:
- httpApiKeyAuth: []
tags:
- name: Transactions
paths:
  /transactions:
    get:
      description: Fetch a list of transactions, sorted by the date they were created from newest to oldest.
      operationId: ListTransactions
      parameters:
      - name: pageSize
        in: query
        description: The maximum number of elements to return in a page. You can set this to a maximum of 500 elements. If not specified, the default is 100.
        schema:
          type: number
          maximum: 500
          minimum: 1
          description: The maximum number of elements to return in a page. You can set this to a maximum of 500 elements. If not specified, the default is 100.
        examples:
          ListTransactions_example1:
            summary: List transactions
            description: ''
            value: 200
      - name: pageToken
        in: query
        description: A token returned by a previous call to this operation in the `nextPageToken`. If not specified, Stedi returns the first page of results.
        schema:
          type: string
          maxLength: 1024
          minLength: 1
          description: A token returned by a previous call to this operation in the `nextPageToken`. If not specified, Stedi returns the first page of results.
      - name: businessIdentifier
        in: query
        description: List only transactions containing a business identifier with the given value.
        schema:
          type: string
          description: List only transactions containing a business identifier with the given value.
      - name: transactionSetId
        in: query
        description: 'List only a given type of transaction. Accepts any valid 3-digit X12 Transaction Set Identifier Code, as defined in the X12 standard. See: <https://www.stedi.com/edi/x12/element/143>.'
        schema:
          $ref: '#/components/schemas/X12TransactionSetIdentifierCode'
      - name: sender
        in: query
        description: List only transactions sent by the given profile. This is the profile ID of the sender.
        schema:
          type: string
          description: List only transactions sent by the given profile. This is the profile ID of the sender.
      - name: receiver
        in: query
        description: List only transactions sent to the given profile. This is the profile ID of the receiver.
        schema:
          type: string
          description: List only transactions sent to the given profile. This is the profile ID of the receiver.
      - name: direction
        in: query
        description: The direction of the transaction. Inbound transactions are those you receive from a payer, provider, or other trading partner. Outbound transactions are those you send to a payer, provider, or other trading partner.
        schema:
          $ref: '#/components/schemas/Direction'
      - name: mode
        in: query
        description: 'Indicates whether the transaction contains test or production data. Stedi determines this from the value in [`ISA15` Usage Indicator Code](https://www.stedi.com/edi/x12/segment/ISA#ISA-15). '
        schema:
          $ref: '#/components/schemas/Mode'
      - name: status
        in: query
        description: A status indicating whether Stedi was able to successfully process the transaction.
        schema:
          $ref: '#/components/schemas/TransactionStatus'
      - name: from
        in: query
        description: The start of the time range to filter transactions. The results will include transactions created at or after this timestamp.
        schema:
          type: string
          description: The start of the time range to filter transactions. The results will include transactions created at or after this timestamp.
          format: date-time
      - name: to
        in: query
        description: The end of the time range to filter transactions. The results will include transactions up to and including this timestamp.
        schema:
          type: string
          description: The end of the time range to filter transactions. The results will include transactions up to and including this timestamp.
          format: date-time
      - name: elementId
        in: query
        description: List only transactions containing a business identifier with the given element ID. This is the X12 element ID, such as "127" for Reference Identification. May only be supplied if `businessIdentifier` is also supplied. See Stedi's EDI references pages to find element IDs.
        schema:
          type: string
          description: List only transactions containing a business identifier with the given element ID. This is the X12 element ID, such as "127" for Reference Identification. May only be supplied if `businessIdentifier` is also supplied. See Stedi's EDI references pages to find element IDs.
      - name: partnershipId
        in: query
        description: List only transactions that were sent or received on the given partnership. This is the partnership ID, such as "local_clearinghouse-test".
        schema:
          type: string
          description: List only transactions that were sent or received on the given partnership. This is the partnership ID, such as "local_clearinghouse-test".
      responses:
        '200':
          description: ListTransactions 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponseContent'
              examples:
                ListTransactions_example1:
                  summary: List transactions
                  description: ''
                  value:
                    items:
                    - direction: INBOUND
                      mode: test
                      status: succeeded
                      fileExecutionId: 95236a56-a020-4522-8fef-bcffcec0ec1d
                      transactionId: c8dd3a67-b8ca-4b0e-aa73-e0de82414b8f
                      processedAt: '2025-04-02T21:30:15.801Z'
                      artifacts:
                      - artifactType: application/edi-x12
                        sizeBytes: 8374
                        model: transaction
                        usage: input
                        url: https://core.us.stedi.com/2023-08-01/transactions/112233344-b8ca-4h1e-aa73-123482414b8f/input
                      - artifactType: application/json
                        sizeBytes: 76898
                        model: transaction
                        usage: output
                        url: https://core.us.stedi.com/2023-08-01/transactions/1115555-b8ca-1234-aa73-e0je82414hb8f/output
                      partnership:
                        partnershipId: stedi_test-sender
                        partnershipType: x12
                        sender:
                          profileId: test-sender
                        receiver:
                          profileId: stedi
                      businessIdentifiers:
                      - elementId: '127'
                        element: BHT-03
                        name: Reference Identification
                        value: XXXXXX
                      x12:
                        metadata:
                          interchange:
                            acknowledgmentRequestedCode: '0'
                            controlNumber: 1
                          functionalGroup:
                            controlNumber: 1
                            release: 005010X222A1
                            date: '2025-04-02'
                            time: '21:29:57'
                            functionalIdentifierCode: HC
                          transaction:
                            controlNumber: '0001'
                            transactionSetIdentifier: '837'
                          receiver:
                            applicationCode: STEDI-TEST
                            isa:
                              qualifier: ZZ
                              id: STEDI-TEST
                          sender:
                            applicationCode: TestSender
                            isa:
                              qualifier: ZZ
                              id: TestSender
                        transactionSetting:
                          guideId: 01JQW6E5RSBSTKS3ZQ1SPR4019
                          transactionSettingId: 01JQW6E72Q3HDXM40YYAQCBZDY
                    nextPageToken: be08e5ba4bf36da9da27dcb651e64a6e5502685499994f354
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}:
    get:
      description: Fetch details for a specific transaction.
      operationId: GetTransaction
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransaction_example1:
            summary: List transactions
            description: ''
            value: a15b68ca-fae0-42de-b8a3-f436668b8604
      responses:
        '200':
          description: GetTransaction 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionResponseContent'
              examples:
                GetTransaction_example1:
                  summary: List transactions
                  description: ''
                  value:
                    direction: INBOUND
                    mode: test
                    status: succeeded
                    fileExecutionId: 95236a56-a020-4522-8fef-bcffcec0ec1d
                    transactionId: c8dd3a67-b8ca-4b0e-aa73-e0de82414b8f
                    processedAt: '2025-04-02T21:30:15.801Z'
                    artifacts:
                    - artifactType: application/edi-x12
                      sizeBytes: 8374
                      model: transaction
                      usage: input
                      url: https://core.us.stedi.com/2023-08-01/transactions/c8dd1111-b8ca-4330e-aa73-e0de33314b8f/input
                    - artifactType: application/json
                      sizeBytes: 76898
                      model: transaction
                      usage: output
                      url: https://core.us.stedi.com/2023-08-01/transactions/c8dd3a67-b8ca-4b0e-kk73-55667882414b8f/output
                    partnership:
                      partnershipId: stedi_test-sender
                      partnershipType: x12
                      sender:
                        profileId: test-sender
                      receiver:
                        profileId: stedi
                    businessIdentifiers:
                    - elementId: '127'
                      element: BHT-03
                      name: Reference Identification
                      value: XXXXXX
                    x12:
                      metadata:
                        interchange:
                          acknowledgmentRequestedCode: '0'
                          controlNumber: 1
                        functionalGroup:
                          controlNumber: 1
                          release: 005010X222A1
                          date: '2025-04-02'
                          time: '21:29:57'
                          functionalIdentifierCode: HC
                        transaction:
                          controlNumber: '0001'
                          transactionSetIdentifier: '837'
                        receiver:
                          applicationCode: STEDI-TEST
                          isa:
                            qualifier: ZZ
                            id: STEDI-TEST
                        sender:
                          applicationCode: TestSender
                          isa:
                            qualifier: ZZ
                            id: TestSender
                      transactionSetting:
                        guideId: 01JQW6E5RSBSTKS3ZQ1SPR4019
                        transactionSettingId: 01JQW6E72Q3HDXM40YYAQCBZDY
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/attachment/{artifactId}:
    get:
      description: Retrieve a transaction's output document.
      operationId: GetTransactionAttachmentDocument
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionAttachmentDocument_example1:
            summary: Get transaction attachment document
            description: ''
            value: c8dd3a67-b8ca-4b0e-aa73-e0de82414b8f
      - name: artifactId
        in: path
        description: A unique identifier for the artifact within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the artifact within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionAttachmentDocument_example1:
            summary: Get transaction attachment document
            description: ''
            value: e0de82414b8f-b8ca-4b0e-aa73-c8dd3a67
      responses:
        '302':
          description: GetTransactionAttachmentDocument 302 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionAttachmentDocumentResponseContent'
              examples:
                GetTransactionAttachmentDocument_example1:
                  summary: Get transaction attachment document
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/55907f88-999e-4912-9e9...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/attachment/{artifactId}/url:
    get:
      description: 'This endpoint is used to retrieve a transaction''s attachment document url.


        This endpoint returns the document download URL, it must be then fetched for the actual document content. There are no size restrictions on documents when fetching from this endpoint.

        '
      operationId: GetTransactionAttachmentDocumentUrl
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionAttachmentDocumentUrl_example1:
            summary: Get transaction output document url
            description: ''
            value: 06bdccdc-4aaa-4aaa-4aaa-abaa11110000
      - name: artifactId
        in: path
        schema:
          type: string
        required: true
        examples:
          GetTransactionAttachmentDocumentUrl_example1:
            summary: Get transaction output document url
            description: ''
            value: abaa11110000-4aaa-4aaa-4aaa-06bdccdc
      responses:
        '200':
          description: GetTransactionAttachmentDocumentUrl 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionAttachmentDocumentUrlResponseContent'
              examples:
                GetTransactionAttachmentDocumentUrl_example1:
                  summary: Get transaction output document url
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/fragments/{fragmentIndex}:
    get:
      description: Retrieve metadata for a fragment.
      operationId: GetTransactionFragment
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionFragment_example1:
            summary: Get fragment
            description: ''
            value: a15b68ca-fae0-42de-b8a3-f436668b8604
      - name: fragmentIndex
        in: path
        description: The identifier for a specific fragment within a processed transaction. This ID is included in the fragment processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: number
          description: The identifier for a specific fragment within a processed transaction. This ID is included in the fragment processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionFragment_example1:
            summary: Get fragment
            description: ''
            value: 1
      responses:
        '200':
          description: GetTransactionFragment 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionFragmentResponseContent'
              examples:
                GetTransactionFragment_example1:
                  summary: Get fragment
                  description: ''
                  value:
                    direction: INBOUND
                    mode: production
                    fileExecutionId: 29d6b95d-c611-bce6-b893-0e64821cd238
                    transactionId: 7d0c6f84-4cec-4f4a-a681-e7a36eb48d25
                    processedAt: '2023-10-12T15:34:01.435Z'
                    partnership:
                      partnershipId: me_another-merch
                      partnershipType: x12
                      sender:
                        profileId: merch
                      receiver:
                        profileId: me
                    x12:
                      metadata:
                        interchange:
                          acknowledgmentRequestedCode: '0'
                          controlNumber: 103
                        functionalGroup:
                          controlNumber: 103
                          release: 005010X220A1
                          date: '2004-12-27'
                          time: '13:24'
                          functionalIdentifierCode: BE
                        transaction:
                          controlNumber: '13331'
                          transactionSetIdentifier: '846'
                        receiver:
                          applicationCode: THISISME
                          isa:
                            qualifier: '02'
                            id: THISISME
                        sender:
                          applicationCode: ANOTHERMERCH
                          isa:
                            qualifier: '02'
                            id: ANOTHERMERCH
                      transactionSetting:
                        guideId: 01HAPYY1YPFWGVJH1HD75SP0A2
                        transactionSettingId: 01HCAHP7PY84DBZG0FM5JB4MCE
                    fragments:
                      batchSize: 800
                      keyName: item_identification_LIN_loop
                      fragmentCount: 1065
                    fragmentIndex: 0
                    artifacts:
                    - artifactType: application/json
                      sizeBytes: 389388
                      model: fragment
                      usage: output
                      url: https://core.us.stedi.com/2023-08-01/transactions/7d0c6f84-4cec-4f4a-a681-e7a36eb48d25/fragments/0/output
                    transactionUrl: https://core.us.stedi.com/2023-08-01/transactions/7d0c6f84-4cec-4f4a-a681-e7a36eb48d25
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/fragments/{fragmentIndex}/output:
    get:
      description: Retrieve a transaction fragment's output document after it has been translated.
      operationId: GetTransactionFragmentOutputDocument
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionFragmentOutputDocument_example1:
            summary: Get fragment output
            description: ''
            value: a15b68ca-fae0-42de-b8a3-f436668b8604
      - name: fragmentIndex
        in: path
        description: The identifier for a specific fragment within a processed transaction. This ID is included in the fragment processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: number
          description: The identifier for a specific fragment within a processed transaction. This ID is included in the fragment processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionFragmentOutputDocument_example1:
            summary: Get fragment output
            description: ''
            value: 1
      responses:
        '302':
          description: GetTransactionFragmentOutputDocument 302 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionFragmentOutputDocumentResponseContent'
              examples:
                GetTransactionFragmentOutputDocument_example1:
                  summary: Get fragment output
                  description: ''
                  value:
                    documentDownloadUrl: https://core.us.stedi.com/2023-08-01/transactions/7d0c6f84-4cec-4f4a...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/fragments/{fragmentIndex}/output-url:
    get:
      description: 'This endpoint is used to retrieve a transaction fragment''s output document URL after it has been translated via Core.


        This endpoint returns the document download URL, it must be then fetched for the actual document content.

        There are no size restrictions on documents when fetching from this endpoint, however they are generally smaller and consumable by nature of being a fragment.

        '
      operationId: GetTransactionFragmentOutputDocumentUrl
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionFragmentOutputDocumentUrl_example1:
            summary: Get fragment output document url
            description: ''
            value: 06bdccdc-4aaa-4aaa-4aaa-abaa11110000
      - name: fragmentIndex
        in: path
        schema:
          type: number
        required: true
        examples:
          GetTransactionFragmentOutputDocumentUrl_example1:
            summary: Get fragment output document url
            description: ''
            value: 1
      responses:
        '200':
          description: GetTransactionFragmentOutputDocumentUrl 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionFragmentOutputDocumentUrlResponseContent'
              examples:
                GetTransactionFragmentOutputDocumentUrl_example1:
                  summary: Get fragment output document url
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/input:
    get:
      description: Retrieve a transaction's input document.
      operationId: GetTransactionInputDocument
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionInputDocument_example1:
            summary: Get transaction input document
            description: ''
            value: c8dd3a67-b8ca-4b0e-aa73-e0de82414b8f
      responses:
        '302':
          description: GetTransactionInputDocument 302 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionInputDocumentResponseContent'
              examples:
                GetTransactionInputDocument_example1:
                  summary: Get transaction input document
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/55907f88-999e-4912-9e9...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/input-url:
    get:
      description: 'This endpoint is used to retrieve a transaction''s input document url before it passes through any translation and mappings, generally this will be EDI.


        This endpoint returns the document download URL, it must be then fetched for the actual document content. There are no size restrictions on documents when fetching from this endpoint.

        '
      operationId: GetTransactionInputDocumentUrl
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionInputDocumentUrl_example1:
            summary: Get transaction input document url
            description: ''
            value: 06bdccdc-4aaa-4aaa-4aaa-abaa11110000
      responses:
        '200':
          description: GetTransactionInputDocumentUrl 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionInputDocumentUrlResponseContent'
              examples:
                GetTransactionInputDocumentUrl_example1:
                  summary: Get transaction input document url
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/output:
    get:
      description: Retrieve a transaction's output document.
      operationId: GetTransactionOutputDocument
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event, or you can retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionOutputDocument_example1:
            summary: Get transaction output document
            description: ''
            value: c8dd3a67-b8ca-4b0e-aa73-e0de82414b8f
      responses:
        '302':
          description: GetTransactionOutputDocument 302 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionOutputDocumentResponseContent'
              examples:
                GetTransactionOutputDocument_example1:
                  summary: Get transaction output document
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/55907f88-999e-4912-9e9...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
  /transactions/{transactionId}/output-url:
    get:
      description: 'This endpoint is used to retrieve a transaction''s output document url after it has been translated via Core.


        This endpoint returns the document download URL, it must be then fetched for the actual document content. There are no size restrictions on documents when fetching from this endpoint.

        '
      operationId: GetTransactionOutputDocumentUrl
      parameters:
      - name: transactionId
        in: path
        description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        schema:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        required: true
        examples:
          GetTransactionOutputDocumentUrl_example1:
            summary: Get transaction output document url
            description: ''
            value: 06bdccdc-4aaa-4aaa-4aaa-abaa11110000
      responses:
        '200':
          description: GetTransactionOutputDocumentUrl 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionOutputDocumentUrlResponseContent'
              examples:
                GetTransactionOutputDocumentUrl_example1:
                  summary: Get transaction output document url
                  description: ''
                  value:
                    documentDownloadUrl: https://stedi-default-core-artifacts.s3.us-east-1.amazonaws.com/...
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Transactions
components:
  schemas:
    TransactionStatus:
      type: string
      description: A status indicating whether Stedi was able to successfully process the transaction.
      enum:
      - failed
      - succeeded
    BusinessIdentifier:
      type: object
      properties:
        elementId:
          type: string
          description: The identifier of the element containing the business identifier in the EDI specification.
        element:
          type: string
          description: The element where the business identifier was found. For example, `BHT03` for 837 claims.
        name:
          type: string
          description: The friendly name of the business identifier. For example, `Originator Application Transaction Identifier`.
        value:
          type: string
          description: The value of the business identifier.
      required:
      - element
      - elementId
      - name
      - value
    X12TransactionMetadataFunctionalGroup:
      type: object
      description: Data from the Functional Group Header of the X12 EDI file.
      properties:
        controlNumber:
          type: number
          maximum: 999999999
          minimum: 0
          description: The Group Control Number ([`GS06`](https://www.stedi.com/edi/x12/segment/GS#GS-06)).
        date:
          type: string
          description: The date in the Functional Group Header ([`GS04`](https://www.stedi.com/edi/x12/segment/GS#GS-04)), formatted as `YYYY-MM-DD`. For example, `2023-08-28`.
        functionalIdentifierCode:
          type: string
          description: The Functional Identifier Code ([`GS01`](https://www.stedi.com/edi/x12/segment/GS#GS-01)), which indicates the type of transaction. For example, `HC` for an 837 Healthcare Claim.
        time:
          type: string
          description: The Time ([`GS05`](https://www.stedi.com/edi/x12/segment/GS#GS-05)), formatted as `HH:MM:SS`. For example, `21:29:57`.
        release:
          type: string
          description: The Version/Release/Industry Identifier Code ([`GS08`](https://www.stedi.com/edi/x12/segment/GS#GS-08)), which indicates the version of the X12 standard used. For example, `005010X222A1`.
      required:
      - controlNumber
      - date
      - functionalIdentifierCode
      - release
      - time
    ServiceExceptionResponseContent:
      type: object
      properties:
        message:
          type: string
        exceptionCause:
          $ref: '#/components/schemas/ExceptionCause'
      required:
      - message
    ServiceUnavailableExceptionResponseContent:
      type: object
      description: The server cannot handle the request due to technical reasons.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    GetTransactionAttachmentDocumentUrlResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    GetTransactionInputDocumentResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    Artifact:
      type: object
      properties:
        artifactType:
          $ref: '#/components/schemas/ArtifactType'
        usage:
          $ref: '#/components/schemas/ArtifactUsage'
        sizeBytes:
          type: number
          description: The size of the artifact in bytes.
        url:
          type: string
          description: A URL to download the artifact.
        model:
          $ref: '#/components/schemas/ArtifactModel'
      required:
      - artifactType
      - model
      - sizeBytes
      - url
      - usage
    AccessDeniedExceptionResponseContent:
      type: object
      description: The server response for authorization failure.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    GetTransactionAttachmentDocumentResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    GetTransactionOutputDocumentUrlResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    ExceptionCause:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
        stack:
          type: string
    GetTransactionFragmentResponseContent:
      type: object
      properties:
        transactionId:
          type: string
          description: A unique identifier for the processed transaction containing this fragment. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        fileExecutionId:
          type: string
          description: A unique identifier for the processed file containing this fragment. This ID is included in the file processed event. You can also retrieve it manually from the file's details page in the Stedi portal.
        direction:
          $ref: '#/components/schemas/Direction'
        mode:
          $ref: '#/components/schemas/Mode'
        processedAt:
          type: string
          description: The date and time when Stedi processed the transaction containing the fragment, in ISO 8601 format. For example, `2023-08-28T00:00:00Z`.
          format: date-time
        fragmentIndex:
          type: number
          description: The identifier for the fragment within a processed transaction.
        fragments:
          $ref: '#/components/schemas/TransactionFragmentsSummary'
        transactionUrl:
          type: string
          description: The URL to review the transaction within the Stedi portal.
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
          description: A list of artifacts related to the transaction containing the fragment.
        partnership:
          $ref: '#/components/schemas/Partnership'
        x12:
          $ref: '#/components/schemas/X12TransactionSummary'
      required:
      - artifacts
      - direction
      - fileExecutionId
      - fragmentIndex
      - fragments
      - mode
      - partnership
      - processedAt
      - transactionId
      - transactionUrl
    ResourceNotFoundExceptionResponseContent:
      type: object
      description: The server response when the specified resource cannot be found after an API request passes authentication and authorization.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    X12TransactionSetIdentifierCode:
      type: string
      description: 'Any valid 3-digit X12 Transaction Set Identifier Code, as defined in the X12 standard. See: <https://www.stedi.com/edi/x12/element/143>.'
      enum:
      - '100'
      - '101'
      - '102'
      - '103'
      - '104'
      - '105'
      - '106'
      - '107'
      - '108'
      - '109'
      - '110'
      - '111'
      - '112'
      - '113'
      - '120'
      - '121'
      - '124'
      - '125'
      - '126'
      - '127'
      - '128'
      - '129'
      - '130'
      - '131'
      - '132'
      - '133'
      - '135'
      - '138'
      - '139'
      - '140'
      - '141'
      - '142'
      - '143'
      - '144'
      - '146'
      - '147'
      - '148'
      - '149'
      - '150'
      - '151'
      - '152'
      - '153'
      - '154'
      - '155'
      - '157'
      - '158'
      - '159'
      - '160'
      - '161'
      - '163'
      - '170'
      - '175'
      - '176'
      - '179'
      - '180'
      - '185'
      - '186'
      - '187'
      - '188'
      - '189'
      - '190'
      - '191'
      - '194'
      - '195'
      - '196'
      - '197'
      - '198'
      - '199'
      - '200'
      - '201'
      - '202'
      - '203'
      - '204'
      - '205'
      - '206'
      - '210'
      - '211'
      - '212'
      - '213'
      - '214'
      - '215'
      - '216'
      - '217'
      - '219'
      - '220'
      - '222'
      - '223'
      - '224'
      - '225'
      - '227'
      - '228'
      - '240'
      - '242'
      - '244'
      - '245'
      - '248'
      - '249'
      - '250'
      - '251'
      - '252'
      - '255'
      - '256'
      - '259'
      - '260'
      - '261'
      - '262'
      - '263'
      - '264'
      - '265'
      - '266'
      - '267'
      - '268'
      - '269'
      - '270'
      - '271'
      - '272'
      - '273'
      - '274'
      - '275'
      - '276'
      - '277'
      - '278'
      - '280'
      - '283'
      - '284'
      - '285'
      - '286'
      - '288'
      - '290'
      - '300'
      - '301'
      - '303'
      - '304'
      - '309'
      - '310'
      - '311'
      - '312'
      - '313'
      - '315'
      - '317'
      - '319'
      - '322'
      - '323'
      - '324'
      - '325'
      - '326'
      - '350'
      - '352'
      - '353'
      - '354'
      - '355'
      - '356'
      - '357'
      - '358'
      - '359'
      - '361'
      - '362'
      - '404'
      - '410'
      - '412'
      - '414'
      - '417'
      - '418'
      - '419'
      - '420'
      - '421'
      - '422'
      - '423'
      - '424'
      - '425'
      - '426'
      - '429'
      - '431'
      - '432'
      - '433'
      - '434'
      - '435'
      - '436'
      - '437'
      - '440'
      - '451'
      - '452'
      - '453'
      - '455'
      - '456'
      - '460'
      - '463'
      - '466'
      - '468'
      - '470'
      - '475'
      - '485'
      - '486'
      - '490'
      - '492'
      - '494'
      - '500'
      - '501'
      - '503'
      - '504'
      - '511'
      - '517'
      - '521'
      - '527'
      - '536'
      - '540'
      - '561'
      - '567'
      - '568'
      - '601'
      - '603'
      - '620'
      - '625'
      - '650'
      - '715'
      - '753'
      - '754'
      - '805'
      - '806'
      - '810'
      - '811'
      - '812'
      - '813'
      - '814'
      - '815'
      - '816'
      - '818'
      - '819'
      - '820'
      - '821'
      - '822'
      - '823'
      - '824'
      - '826'
      - '827'
      - '828'
      - '829'
      - '830'
      - '831'
      - '832'
      - '833'
      - '834'
      - '835'
      - '836'
      - '837'
      - '838'
      - '839'
      - '840'
      - '841'
      - '842'
      - '843'
      - '844'
      - '845'
      - '846'
      - '847'
      - '848'
      - '849'
      - '850'
      - '851'
      - '852'
      - '853'
      - '854'
      - '855'
      - '856'
      - '857'
      - '858'
      - '859'
      - '860'
      - '861'
      - '862'
      - '863'
      - '864'
      - '865'
      - '866'
      - '867'
      - '868'
      - '869'
      - '870'
      - '871'
      - '872'
      - '873'
      - '874'
      - '875'
      - '876'
      - '877'
      - '878'
      - '879'
      - '880'
      - '881'
      - '882'
      - '883'
      - '884'
      - '885'
      - '886'
      - '887'
      - '888'
      - '889'
      - '890'
      - '891'
      - '892'
      - '893'
      - '894'
      - '895'
      - '896'
      - '897'
      - '920'
      - '924'
      - '925'
      - '926'
      - '928'
      - '940'
      - '943'
      - '944'
      - '945'
      - '947'
      - '980'
      - '990'
      - '993'
      - '996'
      - '997'
      - '998'
      - '999'
    X12TransactionMetadataInterchange:
      type: object
      description: Data from the Interchange Control Header of the X12 EDI file.
      properties:
        acknowledgmentRequestedCode:
          type: string
          description: The value of [`ISA14`](https://www.stedi.com/edi/x12/segment/ISA#ISA-14) in the Interchange Control Header, which indicates whether the sender is requesting a [`TA1` Interchange Acknowledgment](https://www.stedi.com/edi/x12/segment/TA1).
        controlNumber:
          type: number
          maximum: 999999999
          minimum: 0
          description: The control number in the Interchange Control Header.
      required:
      - acknowledgmentRequestedCode
      - controlNumber
    GetTransactionResponseContent:
      type: object
      properties:
        transactionId:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        fileExecutionId:
          type: string
          description: A unique identifier for the processed file within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the file's details page in the Stedi portal.
        status:
          $ref: '#/components/schemas/TransactionStatus'
        direction:
          $ref: '#/components/schemas/Direction'
        mode:
          $ref: '#/components/schemas/Mode'
        processedAt:
          type: string
          description: The date and time when Stedi processed the transaction, in ISO 8601 format. For example, `2023-08-28T00:00:00Z`.
          format: date-time
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
          description: A list of artifacts related to the transaction.
        partnership:
          $ref: '#/components/schemas/Partnership'
        x12:
          $ref: '#/components/schemas/X12TransactionSummary'
        fragments:
          $ref: '#/components/schemas/TransactionFragmentsSummary'
        translationErrors:
          type: array
          items:
            $ref: '#/components/schemas/TranslationError'
          description: Details about errors that prevented Stedi from processing the transaction.
        businessIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/BusinessIdentifier'
          description: Any business identifiers extracted from the transaction.
      required:
      - artifacts
      - direction
      - fileExecutionId
      - mode
      - partnership
      - processedAt
      - status
      - transactionId
    Direction:
      type: string
      description: The direction of the transaction. Inbound transactions are those you receive from a payer, provider, or other trading partner. Outbound transactions are those you send to a payer, provider, or other trading partner.
      enum:
      - INBOUND
      - OUTBOUND
      - UNKNOWN
    PartnershipSender:
      type: object
      description: The entity that initiated the transaction.
      properties:
        profileId:
          type: string
          maxLength: 40
          minLength: 1
          pattern: ^([a-zA-Z0-9._-]+)$
          description: A unique identifier for the profile within the Stedi platform.
      required:
      - profileId
    GetTransactionFragmentOutputDocumentResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    UnauthorizedExceptionResponseContent:
      type: object
      description: The server response when the authorizer failed to authenticate the caller.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    Partnership:
      type: object
      description: 'Information about the associated partnership.


        A partnership describes all aspects of the EDI relationship between two profiles in your Stedi account, such as which transaction sets they will exchange and other important information for processing EDI files. If you''re sending or receiving transactions through the Stedi clearinghouse, Stedi configures the necessary partnership for you automatically when you set up your account.'
      properties:
        partnershipId:
          type: string
          maxLength: 81
          minLength: 1
          pattern: ^([a-zA-Z0-9._-]+)$
          description: 'The unique identifier for the partnership within the Stedi platform.


            A partnership describes all aspects of the EDI relationship between two profiles in your Stedi account, such as which transaction sets they will exchange and other important information for processing EDI files. If you''re sending or receiving transactions through the Stedi clearinghouse, Stedi configures the necessary partnerships for you automatically when you set up your account.'
        partnershipType:
          $ref: '#/components/schemas/PartnershipType'
        sender:
          $ref: '#/components/schemas/PartnershipSender'
        receiver:
          $ref: '#/components/schemas/PartnershipReceiver'
      required:
      - partnershipId
      - partnershipType
      - receiver
      - sender
    GatewayTimeoutExceptionResponseContent:
      type: object
      description: The server was acting as a gateway or proxy and did not receive a timely response from the upstream server.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    PartnershipReceiver:
      type: object
      description: The entity that is receiving the transaction.
      properties:
        profileId:
          type: string
          maxLength: 40
          minLength: 1
          pattern: ^([a-zA-Z0-9._-]+)$
          description: A unique identifier for the profile within the Stedi platform.
      required:
      - profileId
    Index:
      type: object
      properties:
        line:
          type: number
          description: The line number in the document where the problem occurred.
        column:
          type: number
          description: The column number in the document where the problem occurred.
      required:
      - column
      - line
    ListTransactionsResponseContent:
      type: object
      description: Common output structure for list operations with pagination support.
      properties:
        nextPageToken:
          type: string
          maxLength: 1024
          minLength: 1
          description: Token that you can supply in subsequent requests to retrieve the next page of results. If not returned, there are no more results.
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
      required:
      - items
    X12TransactionMetadataProfileISA:
      type: object
      description: The Interchange ID and qualifier.
      properties:
        qualifier:
          type: string
          description: The Interchange Sender ID Qualifier, which indicates the type of identifier. For example, `ZZ` for a mutually defined identifier.
        id:
          type: string
          description: The Interchange ID, which is the unique identifier for the entity in the EDI file.
      required:
      - id
      - qualifier
    X12TransactionMetadata:
      type: object
      description: Metadata about the X12 EDI transaction, including information from the interchange, functional group, and transaction headers as well as the sender and receiver IDs.
      properties:
        interchange:
          $ref: '#/components/schemas/X12TransactionMetadataInterchange'
        functionalGroup:
          $ref: '#/components/schemas/X12TransactionMetadataFunctionalGroup'
        transaction:
          $ref: '#/components/schemas/X12TransactionMetadataTransaction'
        sender:
          $ref: '#/components/schemas/X12TransactionMetadataProfile'
        receiver:
          $ref: '#/components/schemas/X12TransactionMetadataProfile'
      required:
      - functionalGroup
      - interchange
      - receiver
      - sender
      - transaction
    TransactionSummary:
      type: object
      description: The processed transactions that match the request criteria. The `items` array is empty if there are no matching transactions.
      properties:
        transactionId:
          type: string
          description: A unique identifier for the processed transaction within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the transaction's details page within the Stedi portal.
        fileExecutionId:
          type: string
          description: A unique identifier for the processed file within Stedi. This ID is included in the transaction processed event. You can also retrieve it manually from the file's details page in the Stedi portal.
        status:
          $ref: '#/components/schemas/TransactionStatus'
        direction:
          $ref: '#/components/schemas/Direction'
        mode:
          $ref: '#/components/schemas/Mode'
        processedAt:
          type: string
          description: The date and time when Stedi processed the transaction, in ISO 8601 format. For example, `2023-08-28T00:00:00Z`.
          format: date-time
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
          description: A list of artifacts related to the transaction.
        partnership:
          $ref: '#/components/schemas/Partnership'
        x12:
          $ref: '#/components/schemas/X12TransactionSummary'
        fragments:
          $ref: '#/components/schemas/TransactionFragmentsSummary'
        translationErrors:
          type: array
          items:
            $ref: '#/components/schemas/TranslationError'
          description: Details about errors that prevented Stedi from processing the transaction.
        businessIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/BusinessIdentifier'
          description: Any business identifiers extracted from the transaction.
      required:
      - artifacts
      - direction
      - fileExecutionId
      - mode
      - partnership
      - processedAt
      - status
      - transactionId
    GetTransactionOutputDocumentResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    GetTransactionFragmentOutputDocumentUrlResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    UnprocessableEntityExceptionResponseContent:
      type: object
      description: The request parameters do not match a previous request with the same idempotency key.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    Mode:
      type: string
      description: Indicates whether the transaction contains test or production data. Stedi determines this from the value in [`ISA15` Usage Indicator Code](https://www.stedi.com/edi/x12/segment/ISA#ISA-15).
      enum:
      - test
      - production
      - other
    ThrottlingExceptionResponseContent:
      type: object
      description: The server response when usage plan or account-level throttling limits exceeded.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    ArtifactUsage:
      type: string
      description: 'The type of data the artifact contains. For example, an input artifact represents the original data Stedi received before processing, while an output artifact represents the processed data.


        For example, for an inbound 835 ERA from a payer, the input artifact would be the original X12 EDI, and the output artifact would be the JSON representation of the ERA.'
      enum:
      - attachment
      - input
      - metadata
      - output
    X12TransactionMetadataTransaction:
      type: object
      description: Data from the Transaction Set Header of the X12 EDI file.
      properties:
        controlNumber:
          type: string
          description: The Transaction Set Control Number ([`ST02`](https://www.stedi.com/edi/x12/segment/ST#ST-02)).
        transactionSetIdentifier:
          type: string
          description: The Transaction Set Identifier Code ([`ST01`](https://www.stedi.com/edi/x12/segment/ST#ST-01)), which indicates the type of transaction. For example, `837` for an 837 Healthcare Claim.
      required:
      - controlNumber
      - transactionSetIdentifier
    TranslationError:
      type: object
      properties:
        context:
          $ref: '#/components/schemas/TranslationErrorContext'
        mark:
          $ref: '#/components/schemas/Mark'
        message:
          type: string
          description: A message describing the error that occurred during translation.
      required:
      - message
    X12TransactionSetting:
      type: object
      description: The IDs for the guide and transaction setting Stedi used to process the transaction.
      properties:
        guideId:
          type: string
          description: 'The unique identifier for the Stedi guide used to process the transaction.


            Stedi guides are machine-readable specifications for X12 EDI transactions. They describe how to structure and validate EDI files for each transaction type.'
        transactionSettingId:
          type: string
          description: 'The unique identifier for the transaction setting Stedi used to process the transaction.


            Transaction settings configure how Stedi processes specific transaction types, such as which Stedi guide to use and other processing options. If you''re using the Stedi clearinghouse, Stedi automatically configures the required transaction settings for you when you set up your account.'
    X12TransactionMetadataProfile:
      type: object
      description: The Application Code and ISA ID for the profile.
      properties:
        applicationCode:
          type: string
          description: The Application Code for the profile, which is used to identify the entity in the `GS` header of an EDI file.
        isa:
          $ref: '#/components/schemas/X12TransactionMetadataProfileISA'
      required:
      - applicationCode
      - isa
    PartnershipType:
      type: string
      description: The type of partnership, which determines the EDI standard used for exchanging transactions.
      enum:
      - x12
      - edifact
    TransactionFragmentsSummary:
      type: object
      description: Details about fragments included in the transaction, if applicable. Fragments break large transactions into smaller parts for easier processing and management.
      properties:
        keyName:
          type: string
          description: The JSON schema key name for the segment in the Stedi guide used to split the transaction into fragments. For example, in an 834 Health Care Benefit Enrollment and Maintenance, this would be `member_level_detail_INS_loop`.
        fragmentCount:
          type: number
          description: The total number of fragments in the transaction.
        batchSize:
          type: number
          description: The maximum size of each fragment in kilobytes (KB). Stedi uses this to automatically split large inbound transactions into fragments.
      required:
      - batchSize
      - fragmentCount
      - keyName
    GetTransactionInputDocumentUrlResponseContent:
      type: object
      properties:
        documentDownloadUrl:
          type: string
          description: A URL to download the document. This URL is available for 60 minutes.
    Mark:
      type: object
      description: The location in the document where the problem occurred. May be a single index or a range.
      properties:
        start:
          $ref: '#/components/schemas/Index'
        end:
          $ref: '#/components/schemas/Index'
      required:
      - start
    ResourceUnderChangeExceptionResponseContent:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    ArtifactModel:
      type: string
      description: The model of the artifact, which indicates the type of process or operation it represents. For example, an execution artifact represents a file that was processed, a fragment artifact represents a part of a larger transaction, and a fault artifact represents an error that occurred during processing.
      enum:
      - execution
      - fragment
      - transaction
      - fault
    BadRequestExceptionResponseContent:
      type: object
      description: The server cannot process the request due to an apparent client error.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    X12TransactionSummary:
      type: object
      description: Details about the X12 EDI transaction.
      properties:
        metadata:
          $ref: '#/components/schemas/X12TransactionMetadata'
        transactionSetting:
          $ref: '#/components/schemas/X12TransactionSetting'
      required:
      - metadata
    TranslationErrorContext:
      type: object
      properties:
        code:
          type: string
          description: The error code.
        schemaPath:
          type: string
          description: The name of the JSON property where the error occurred.
    ArtifactType:
      type: string
      description: The format of the artifact.
      enum:
      - text/csv
      - application/edifact
      - application/filepart
      - application/json
      - application/pdf
      - text/psv
      - text/tsv
      - application/edi-x12
      - application/xml
      - application/zip
      - image/jpeg
      - image/png
      - image/tiff
      - text/plain
      - unknown
  securitySchemes:
    httpApiKeyAuth:
      description: A [Stedi API Key](https://www.stedi.com/app/settings/api-keys) for authentication.
      in: header
      name: Authorization
      type: apiKey
x-stedi:
  lifecycle: general_availability
  product: claims
  public: true
