openapi: 3.0.3
info:
  contact:
    email: healthcare@stedi.com
  license:
    name: Proprietary
    url: https://stedi.com
  title: Stedi Healthcare Claims Claim acknowledgments Claim submission API
  version: '2025-03-07'
servers:
- description: Production
  url: https://claims.us.stedi.com/2025-03-07
security:
- httpApiKeyAuth: []
tags:
- name: Claim submission
paths:
  /change/medicalnetwork/institutionalclaims/v1/raw-x12-submission:
    post:
      description: Submit an 837I institutional claim in raw X12 EDI format
      operationId: InstitutionalClaimsRawX12Submission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              InstitutionalClaimsRawX12Submission_example1:
                description: ''
                summary: Submit claim
                value:
                  x12: ISA*00*          *00*          *ZZ*574183004559   *ZZ*STEDITEST      *260213*2004*^*00501*000000035*0*T*>~GS*HC*574183004559*STEDITEST*20260213*200422*35*X*005010X223A2~ST*837*0001*005010X223A2~BHT*0019*00*01KHC9KCMYMA7YSW4K1ZM774ZA*20260213*2003*CH~NM1*41*2*Test Facility*****46*123456789~PER*IC**TE*2225551234~NM1*40*2*UnitedHealthcare*****46*87726~HL*1**20*1~NM1*85*2*Test Facility*****XX*1999999976~N3*123 Mulberry Street~N4*Seattle*WA*111135272~REF*EI*123456789~HL*2*1*22*0~SBR*P*18*******ZZ~NM1*IL*1*DOE*JANE****MI*98765~N3*1234 Some St~N4*Buckeye*AZ*85326~DMG*D8*19000101*F~NM1*PR*2*UnitedHealthcare*****PI*87726~CLM*55556666777888*500***11>A>0**C*Y*Y~DTP*434*RD8*20241015-20241015~DTP*435*DT*202409091000~CL1*3*9*30~HI*ABK>R45851~NM1*71*1*Provider*Doctor****XX*1999999976~LX*1~SV2*0800*HC>H0001*500*UN*1~DTP*472*RD8*20241015-20241015~REF*6R*111222333~SE*28*0001~GE*1*35~IEA*1*000000035~
            schema:
              $ref: '#/components/schemas/InstitutionalClaimsRawX12SubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                InstitutionalClaimsRawX12Submission_example1:
                  description: ''
                  summary: Submit claim
                  value:
                    claimReference:
                      correlationId: 01J1M588QT2TAV2N093GNJ998T
                      formatVersion: '5010'
                      patientControlNumber: '26403774'
                      payerId: AETNA
                      rhClaimNumber: 01J1M588QT2TAV2N093GNJ998T
                      serviceLines:
                      - lineItemControlNumber: '1'
                      timeOfResponse: '2024-07-10T22:05:32.203Z'
                    controlNumber: '000000001'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: b727b8e7-1f00-4011-bc6e-e41444d406d8
                    payer:
                      payerID: AETNA
                      payerName: Aetna
                    status: SUCCESS
                    tradingPartnerServiceId: AETNA
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*2001*^*00501*929135779*0*T*>~GS*HN*STEDITEST*574183004559*20260213*200134*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC9GC66KDRVHEJC42Q103EQ*20260213*200134*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC9GC66KDRVHEJC42Q103EQ~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*Test Facility*****46*123456789~TRN*2*01KHC9G8FMGZ6CA9TQT704RAMB~STC*A0>17>AY*20260213*WQ*500.0~QTY*90*1~AMT*YU*500.0~HL*3*2*19*1~NM1*85*2*Test Facility*****XX*1999999976~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*500.0~HL*4*3*PT*0~NM1*QC*1*DOE*JANE****MI*98765~TRN*2*12345~STC*A1>20*20260213*WQ*500.0~DTP*472*RD8*20241015-20241015~SE*25*0001~GE*1*1~IEA*1*929135779~
              schema:
                $ref: '#/components/schemas/InstitutionalClaimsRawX12SubmissionResponseContent'
          description: InstitutionalClaimsRawX12Submission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /change/medicalnetwork/institutionalclaims/v1/submission:
    post:
      description: Submit an 837I institutional claim in JSON format
      operationId: InstitutionalClaimsSubmission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              InstitutionalClaimsSubmission_example1:
                description: ''
                summary: Submit claim
                value:
                  claimInformation:
                    benefitsAssignmentCertificationIndicator: Y
                    claimChargeAmount: '500.00'
                    claimCodeInformation:
                      admissionSourceCode: '9'
                      admissionTypeCode: '3'
                      patientStatusCode: '30'
                    claimDateInformation:
                      admissionDateAndHour: '202409091000'
                      statementBeginDate: '20241015'
                      statementEndDate: '20241015'
                    claimFilingCode: ZZ
                    claimFrequencyCode: '0'
                    patientControlNumber: <YOUR-CLAIM-ID>
                    placeOfServiceCode: '11'
                    planParticipationCode: C
                    principalDiagnosis:
                      principalDiagnosisCode: R45851
                      qualifierCode: ABK
                    releaseInformationCode: Y
                    serviceLines:
                    - assignedNumber: '0'
                      institutionalService:
                        lineItemChargeAmount: '500.00'
                        measurementUnit: UN
                        procedureCode: H0001
                        procedureIdentifier: HC
                        serviceLineRevenueCode: 0800
                        serviceUnitCount: '1'
                      lineItemControlNumber: '111222333'
                      serviceDate: '20241015'
                      serviceDateEnd: '20241015'
                  controlNumber: '123456789'
                  providers:
                  - address:
                      address1: 123 Mulberry Street
                      city: Seattle
                      postalCode: '111135272'
                      state: WA
                    contactInformation:
                      name: Test Facility
                      phoneNumber: '2065551234'
                    employerId: '123456789'
                    npi: '1999999976'
                    organizationName: Test Facility
                    providerType: BillingProvider
                  - contactInformation:
                      name: name
                    firstName: Doctor
                    lastName: Provider
                    npi: '1999999976'
                    providerType: AttendingProvider
                  receiver:
                    organizationName: UnitedHealthcare
                  submitter:
                    contactInformation:
                      name: Test Facility
                      phoneNumber: '2225551234'
                    organizationName: Test Facility
                    taxId: '123456789'
                  subscriber:
                    address:
                      address1: 1234 Some St
                      city: Buckeye
                      postalCode: '85326'
                      state: AZ
                    dateOfBirth: '19000101'
                    firstName: JANE
                    gender: F
                    lastName: DOE
                    memberId: '98765'
                    paymentResponsibilityLevelCode: P
                  tradingPartnerName: UnitedHealthcare
                  tradingPartnerServiceId: '87726'
                  usageIndicator: T
            schema:
              $ref: '#/components/schemas/InstitutionalClaimsSubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                InstitutionalClaimsSubmission_example1:
                  description: ''
                  summary: Submit claim
                  value:
                    claimReference:
                      claimType: INST
                      correlationId: 01JABEX6DPF4FCT2J0Y0SGFCY8
                      formatVersion: '5010'
                      patientControlNumber: '00001111222233334444'
                      payerId: '87726'
                      rhClaimNumber: 01JABEX6DPF4FCT2J0Y0SGFCY8
                      serviceLines:
                      - lineItemControlNumber: '111222333'
                      timeOfResponse: '2024-10-16T20:04:32.962Z'
                    controlNumber: '123456789'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: a742ab42-a6f3-4232-a88c-197d341afdbe
                    payer:
                      payerID: '87726'
                      payerName: UnitedHealthcare
                    status: SUCCESS
                    tradingPartnerServiceId: '87726'
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*2001*^*00501*929135779*0*T*>~GS*HN*STEDITEST*574183004559*20260213*200134*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC9GC66KDRVHEJC42Q103EQ*20260213*200134*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC9GC66KDRVHEJC42Q103EQ~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*Test Facility*****46*123456789~TRN*2*01KHC9G8FMGZ6CA9TQT704RAMB~STC*A0>17>AY*20260213*WQ*500.0~QTY*90*1~AMT*YU*500.0~HL*3*2*19*1~NM1*85*2*Test Facility*****XX*1999999976~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*500.0~HL*4*3*PT*0~NM1*QC*1*DOE*JANE****MI*98765~TRN*2*12345~STC*A1>20*20260213*WQ*500.0~DTP*472*RD8*20241015-20241015~SE*25*0001~GE*1*1~IEA*1*929135779~
              schema:
                $ref: '#/components/schemas/InstitutionalClaimsSubmissionResponseContent'
          description: InstitutionalClaimsSubmission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /change/medicalnetwork/professionalclaims/v3/raw-x12-submission:
    post:
      description: Submit an 837P professional claim in raw X12 EDI format
      operationId: ClaimsRawX12Submission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              ClaimsRawX12Submission_example1:
                description: ''
                summary: Submit professional claim - X12 EDI
                value:
                  x12: ISA*00*          *00*          *ZZ*574183004559   *ZZ*STEDITEST      *260213*2039*^*00501*000000039*0*T*>~GS*HC*574183004559*STEDITEST*20260213*203918*39*X*005010X222A1~ST*837*0001*005010X222A1~BHT*0019*00*01KHCBK84E40QQYJVXA5VVXG54*20260213*2038*CH~NM1*41*2*Test Data Health Services, Inc.*****46*123435~PER*IC**TE*5552223333~NM1*40*2*Cigna*****46*6400~HL*1**20*1~PRV*BI*PXC*2084P0800X~NM1*85*2*Therapy Associates*****XX*1999999984~N3*123 Some St*Floor 1~N4*A City*NY*123450000~REF*EI*123456789~PER*IC*Test Data Health Services, Inc.*TE*5553334444~HL*2*1*22*0~SBR*P*18*3335555******CI~NM1*IL*1*Anon*John****MI*U7777788888~N3*2222 Random St~N4*A City*NY*123450000~DMG*D8*20000101*M~NM1*PR*2*Cigna*****PI*6400~CLM*123456789*109.2***02>B>1*Y*A*Y*Y~HI*ABK>F1111~NM1*77*2*Smith Associates~N3*1234 Other St~N4*A City*NY*123450000~LX*1~SV1*HC>90837>95*109.2*UN*1***1~DTP*472*D8*20240101~REF*6R*111222333~SE*29*0001~GE*1*39~IEA*1*000000039~
            schema:
              $ref: '#/components/schemas/ClaimsRawX12SubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ClaimsRawX12Submission_example1:
                  description: ''
                  summary: Submit professional claim - X12 EDI
                  value:
                    claimReference:
                      correlationId: 01J1M588QT2TAV2N093GNJ998T
                      formatVersion: '5010'
                      patientControlNumber: '22266555'
                      payerId: '60054'
                      rhclaimNumber: 01J1M588QT2TAV2N093GNJ998T
                      serviceLines:
                      - lineItemControlNumber: '111222333'
                      timeOfResponse: '2024-07-10T22:05:32.203Z'
                    controlNumber: '000000001'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: b727b8e7-1f00-4011-bc6e-e41444d406d8
                    payer:
                      payerId: '60054'
                      payerName: Cigna
                    status: SUCCESS
                    tradingPartnerServiceId: '60054'
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*1951*^*00501*980180479*0*T*>~GS*HN*STEDITEST*574183004559*20260213*195151*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC8YJE8EY6A5HFR00Z5H305*20260213*195151*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC8YJE8EY6A5HFR00Z5H305~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*Test Data Health Services, Inc.*****46*123456~TRN*2*01KHC8Y4HNP0GVQ5NSVTPZBC0F~STC*A0>17>AY*20260213*WQ*109.2~QTY*90*1~AMT*YU*109.2~HL*3*2*19*1~NM1*85*2*Therapy Associates*****XX*1234567890~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*109.2~HL*4*3*PT*0~NM1*QC*1*Anon*John****MI*U7777788888~TRN*2*111222333~STC*A1>20*20260213*WQ*109.2~DTP*472*RD8*20240101-20240101~SE*25*0001~GE*1*1~IEA*1*980180479~
              schema:
                $ref: '#/components/schemas/ClaimsRawX12SubmissionResponseContent'
          description: ClaimsRawX12Submission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /change/medicalnetwork/professionalclaims/v3/submission:
    post:
      description: Submit an 837P professional claim in JSON format
      operationId: ClaimsSubmission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              ClaimsSubmission_example1:
                description: ''
                summary: Submit claim
                value:
                  billing:
                    address:
                      address1: 123 Some St
                      address2: Floor 1
                      city: A City
                      postalCode: '123450000'
                      state: NY
                    contactInformation:
                      name: Test Data Health Services, Inc.
                      phoneNumber: '5553334444'
                    employerId: '123456789'
                    npi: '1999999984'
                    organizationName: Therapy Associates
                    providerType: BillingProvider
                    taxonomyCode: 2084P0800X
                  claimInformation:
                    benefitsAssignmentCertificationIndicator: Y
                    claimChargeAmount: '109.20'
                    claimFilingCode: CI
                    claimFrequencyCode: '1'
                    healthCareCodeInformation:
                    - diagnosisCode: F1111
                      diagnosisTypeCode: ABK
                    patientControlNumber: <YOUR-CLAIM-ID>
                    placeOfServiceCode: '02'
                    planParticipationCode: A
                    releaseInformationCode: Y
                    serviceFacilityLocation:
                      address:
                        address1: 1234 Other St
                        city: A City
                        postalCode: '123450000'
                        state: NY
                      npi: '1999999984'
                      organizationName: Smith Associates
                    serviceLines:
                    - professionalService:
                        compositeDiagnosisCodePointers:
                          diagnosisCodePointers:
                          - '1'
                        lineItemChargeAmount: '109.20'
                        measurementUnit: UN
                        procedureCode: '90837'
                        procedureIdentifier: HC
                        procedureModifiers:
                        - '95'
                        serviceUnitCount: '1'
                      providerControlNumber: '111222333'
                      renderingProvider:
                        firstName: Jane
                        lastName: Smith
                        npi: '1999999984'
                        providerType: RenderingProvider
                        taxonomyCode: 111YP2000X
                      serviceDate: '20240101'
                    signatureIndicator: Y
                  receiver:
                    organizationName: Cigna
                  submitter:
                    contactInformation:
                      name: Test Data Health Services, Inc.
                      phoneNumber: '5552223333'
                    organizationName: Test Data Health Services, Inc.
                    submitterIdentification: <YOUR-SUBMITTER-ID>
                  subscriber:
                    address:
                      address1: 2222 Random St
                      city: A City
                      postalCode: '123450000'
                      state: NY
                    dateOfBirth: '20000101'
                    firstName: John
                    gender: M
                    groupNumber: '3335555'
                    lastName: Anon
                    memberId: U7777788888
                    paymentResponsibilityLevelCode: P
                    subscriberGroupName: Cigna
                  tradingPartnerName: Cigna
                  tradingPartnerServiceId: '6400'
                  usageIndicator: T
            schema:
              $ref: '#/components/schemas/ClaimsSubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ClaimsSubmission_example1:
                  description: ''
                  summary: Submit claim
                  value:
                    claimReference:
                      correlationId: 01HTCX97F6XS6F2K22D4KD59TK
                      formatVersion: '5010'
                      patientControlNumber: '22266555'
                      payerId: '6400'
                      rhclaimNumber: 01HTCX97F6XS6F2K22D4KD59TK
                      serviceLines:
                      - lineItemControlNumber: '111222333'
                      timeOfResponse: '2024-04-01T13:23:54.255Z'
                    controlNumber: '555123'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: a7f7c912-77f7-489d-96fc-c4ab3b5c33fc
                    payer:
                      payerId: '6400'
                      payerName: Cigna
                    status: SUCCESS
                    tradingPartnerServiceId: '6400'
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*1951*^*00501*980180479*0*T*>~GS*HN*STEDITEST*574183004559*20260213*195151*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC8YJE8EY6A5HFR00Z5H305*20260213*195151*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC8YJE8EY6A5HFR00Z5H305~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*Test Data Health Services, Inc.*****46*123456~TRN*2*01KHC8Y4HNP0GVQ5NSVTPZBC0F~STC*A0>17>AY*20260213*WQ*109.2~QTY*90*1~AMT*YU*109.2~HL*3*2*19*1~NM1*85*2*Therapy Associates*****XX*1234567890~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*109.2~HL*4*3*PT*0~NM1*QC*1*Anon*John****MI*U7777788888~TRN*2*111222333~STC*A1>20*20260213*WQ*109.2~DTP*472*RD8*20240101-20240101~SE*25*0001~GE*1*1~IEA*1*980180479~
              schema:
                $ref: '#/components/schemas/ClaimsSubmissionResponseContent'
          description: ClaimsSubmission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /dental-claims/raw-x12-submission:
    post:
      description: Submit an 837D dental claim in raw X12 EDI format
      operationId: DentalClaimsRawX12Submission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              DentalClaimsRawX12Submission_example1:
                description: ''
                summary: Submit claim
                value:
                  x12: ISA*00*          *00*          *ZZ*574183004559   *ZZ*STEDITEST      *260213*2050*^*00501*000000042*0*T*>~GS*HC*574183004559*STEDITEST*20260213*205048*42*X*005010X224A2~ST*837*0001*005010X224A2~BHT*0019*00*01KHCCA4V6K00NFPX588G859SJ*20260213*2050*CH~NM1*41*2*ABA Inc*****46*1234567~PER*IC*BILLING DEPARTMENT*TE*3134893157~NM1*40*2*United HealthCare Dental*****46*52133~HL*1**20*1~PRV*BI*PXC*106S00000X~NM1*85*2*ABA Inc*****XX*1999999992~N3*ABA Inc 123 Some St~N4*Denver*CO*802383000~REF*EI*123456789~PER*IC*ABA Inc*TE*3134893157~HL*2*1*22*0~SBR*P*18*1234567890******FI~NM1*IL*1*Doe*John****MI*123412345~N3*1234 Some St~N4*Buckeye*AZ*85326~DMG*D8*20180615*F~NM1*PR*2*United HealthCare Dental*****PI*52133~N3*PO Box 7000~N4*Camden*SC*29000~CLM*12345*832***12>B>1*Y*A*Y*Y~DN2*3*E****JP~REF*G1*20231010012345678~HI*ABK>K081~NM1*82*1*Doe*Jane****XX*1999999992~PRV*PE*PXC*106S00000X~LX*1~SV3*AD>D7140*832**1>2*I*2*****1~TOO*JP*3*M>O~DTP*472*D8*20230428~REF*6R*a0UDo000000dd2dMAA~NM1*82*1*Doe*Jane****XX*1999999992~PRV*PE*PXC*122300000X~SE*35*0001~GE*1*42~IEA*1*000000042~
            schema:
              $ref: '#/components/schemas/DentalClaimsRawX12SubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                DentalClaimsRawX12Submission_example1:
                  description: ''
                  summary: Submit claim
                  value:
                    claimReference:
                      correlationId: 01J1M588QT2TAV2N093GNJ998T
                      formatVersion: '5010'
                      patientControlNumber: '22266555'
                      payerId: '60054'
                      rhclaimNumber: 01J1M588QT2TAV2N093GNJ998T
                      serviceLines:
                      - lineItemControlNumber: '111222333'
                      timeOfResponse: '2024-07-10T22:05:32.203Z'
                    controlNumber: '000000001'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: b727b8e7-1f00-4011-bc6e-e41444d406d8
                    payer:
                      payerId: '60054'
                      payerName: Cigna
                    status: SUCCESS
                    tradingPartnerServiceId: '60054'
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*1956*^*00501*343800641*0*T*>~GS*HN*STEDITEST*574183004559*20260213*195613*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC96JC6ZRRJ3PB88T7JR7S8*20260213*195613*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC96JC6ZRRJ3PB88T7JR7S8~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*ABA Inc*****46*123456789~TRN*2*01KHC96GBNYA14YRBRJGFR13P7~STC*A0>17>AY*20260213*WQ*832.0~QTY*90*1~AMT*YU*832.0~HL*3*2*19*1~NM1*85*2*ABA Inc*****XX*1999999992~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*832.0~HL*4*3*PT*0~NM1*QC*1*Doe*John****MI*123412345~TRN*2*12345~STC*A1>20*20260213*WQ*832.0~DTP*472*RD8*20230428-20230428~SE*25*0001~GE*1*1~IEA*1*343800641~
              schema:
                $ref: '#/components/schemas/DentalClaimsRawX12SubmissionResponseContent'
          description: DentalClaimsRawX12Submission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /dental-claims/submission:
    post:
      description: Submit an 837D dental claim in JSON format
      operationId: DentalClaimsSubmission
      parameters:
      - description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
        in: header
        name: Idempotency-Key
        schema:
          description: A unique string to identify this request to the server. The key can be up to 255 characters. You can safely retry requests with the same idempotency key within 24 hours of making the first request. This prevents you from sending duplicate claims due to network errors or other intermittent failures. [Learn more](https://www.stedi.com/docs/api-reference/index#idempotency-keys).
          maxLength: 255
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            examples:
              DentalClaimsSubmission_example1:
                description: ''
                summary: Submit claim
                value:
                  billing:
                    address:
                      address1: ABA Inc 123 Some St
                      city: Denver
                      postalCode: '802383000'
                      state: CO
                    contactInformation:
                      name: ABA Inc
                      phoneNumber: '3134893157'
                    employerId: '123456789'
                    npi: '1999999992'
                    organizationName: ABA Inc
                    providerType: BillingProvider
                    taxonomyCode: 106S00000X
                  claimInformation:
                    benefitsAssignmentCertificationIndicator: Y
                    claimChargeAmount: '832.00'
                    claimFilingCode: FI
                    claimFrequencyCode: '1'
                    claimSupplementalInformation:
                      priorAuthorizationNumber: '20231010012345678'
                    healthCareCodeInformation:
                    - diagnosisCode: K08101
                      diagnosisTypeCode: ABK
                    patientControlNumber: <YOUR-CLAIM-ID>
                    placeOfServiceCode: '12'
                    planParticipationCode: A
                    releaseInformationCode: Y
                    serviceFacilityLocation:
                      address:
                        address1: ABA Inc 123 Some St
                        city: Denver
                        postalCode: '802383100'
                        state: CO
                      npi: '1999999992'
                      organizationName: ABA Inc
                      phoneNumber: '3134893157'
                    serviceLines:
                    - dentalService:
                        compositeDiagnosisCodePointers:
                          diagnosisCodePointers:
                          - '1'
                        lineItemChargeAmount: '832.00'
                        oralCavityDesignation:
                        - '1'
                        - '2'
                        placeOfServiceCode: '12'
                        procedureCode: D7140
                        procedureCount: 2
                        prosthesisCrownOrInlayCode: I
                      providerControlNumber: a0UDo000000dd2dMAA
                      renderingProvider:
                        firstName: Jane
                        lastName: Doe
                        npi: '1999999992'
                        taxonomyCode: 122300000X
                      serviceDate: '20230428'
                      teethInformation:
                      - toothCode: '3'
                        toothSurfaceCodes:
                        - M
                        - O
                    signatureIndicator: Y
                    toothStatus:
                    - toothNumber: '3'
                      toothStatusCode: E
                  payerAddress:
                    address1: PO Box 7000
                    city: Camden
                    postalCode: '29000'
                    state: SC
                  receiver:
                    organizationName: United HealthCare Dental
                  rendering:
                    firstName: Jane
                    lastName: Doe
                    npi: '1999999992'
                    providerType: RenderingProvider
                    taxonomyCode: 106S00000X
                  submitter:
                    contactInformation:
                      name: BILLING DEPARTMENT
                      phoneNumber: '3134893157'
                    organizationName: ABA Inc
                    submitterIdentification: <YOUR-SUBMITTER-ID
                  subscriber:
                    address:
                      address1: 1234 Some St
                      city: Buckeye
                      postalCode: '85326'
                      state: AZ
                    dateOfBirth: '20180615'
                    firstName: John
                    gender: F
                    groupNumber: '1234567890'
                    lastName: Doe
                    memberId: '123412345'
                    paymentResponsibilityLevelCode: P
                  tradingPartnerName: United HealthCare Dental
                  tradingPartnerServiceId: '52133'
                  usageIndicator: T
            schema:
              $ref: '#/components/schemas/DentalClaimsSubmissionRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                DentalClaimsSubmission_example1:
                  description: ''
                  summary: Submit claim
                  value:
                    claimReference:
                      correlationId: 01JDQMX92Q1T561BH8NKX750TQ
                      formatVersion: '5010'
                      patientControlNumber: 0U1LBRS4
                      payerId: '52133'
                      rhclaimNumber: 01JDQMX92Q1T561BH8NKX750TQ
                      serviceLines:
                      - lineItemControlNumber: a0UDo000000dd2dMAA
                      timeOfResponse: '2024-11-27T20:27:27.077Z'
                    controlNumber: '1'
                    httpStatusCode: 200 OK
                    meta:
                      traceId: 9b491769-052e-4738-93d6-e0b5f6d83f53
                    payer:
                      payerId: '52133'
                      payerName: United HealthCare Dental
                    status: SUCCESS
                    tradingPartnerServiceId: '52133'
                    x12: ISA*00*          *00*          *ZZ*STEDITEST      *ZZ*574183004559   *260213*1956*^*00501*343800641*0*T*>~GS*HN*STEDITEST*574183004559*20260213*195613*1*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*01KHC96JC6ZRRJ3PB88T7JR7S8*20260213*195613*TH~HL*1**20*1~NM1*AY*2*STEDI INC*****46*117151744~TRN*1*01KHC96JC6ZRRJ3PB88T7JR7S8~DTP*050*D8*20260213~DTP*009*D8*20260213~HL*2*1*21*1~NM1*41*2*ABA Inc*****46*123456789~TRN*2*01KHC96GBNYA14YRBRJGFR13P7~STC*A0>17>AY*20260213*WQ*832.0~QTY*90*1~AMT*YU*832.0~HL*3*2*19*1~NM1*85*2*ABA Inc*****XX*1999999992~TRN*1*0~REF*TJ*123456789~QTY*QA*1~AMT*YU*832.0~HL*4*3*PT*0~NM1*QC*1*Doe*John****MI*123412345~TRN*2*12345~STC*A1>20*20260213*WQ*832.0~DTP*472*RD8*20230428-20230428~SE*25*0001~GE*1*1~IEA*1*343800641~
              schema:
                $ref: '#/components/schemas/DentalClaimsSubmissionResponseContent'
          description: DentalClaimsSubmission 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictExceptionResponseContent'
          description: ConflictException 409 response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestChangedExceptionResponseContent'
          description: RequestChangedException 422 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /export/pdf:
    get:
      description: Retrieve a Stedi generatedCMS-1500 Claim Form PDF for a submitted 837P (professional) claim by business identifier
      operationId: ExportPDF
      parameters:
      - description: The business identifier for the claim PDF you want to retrieve. This value is returned as the `claimReference.correlationId` in the synchronous response Stedi returns when you submit a professional claim.
        examples:
          ExportPDF_example1:
            description: ''
            summary: Retrieve PDF
            value: a10b1111-7233-484c-8dee-b240c590c767
        in: query
        name: businessId
        required: true
        schema:
          description: The business identifier for the claim PDF you want to retrieve. This value is returned as the `claimReference.correlationId` in the synchronous response Stedi returns when you submit a professional claim.
          type: string
      - description: If false, the generated PDF will only contain the form data on a white background, suitable for printing on pre-printed forms. The default is true.
        in: query
        name: background
        schema:
          description: If false, the generated PDF will only contain the form data on a white background, suitable for printing on pre-printed forms. The default is true.
          type: boolean
      responses:
        '200':
          content:
            application/json:
              examples:
                ExportPDF_example1:
                  description: ''
                  summary: Retrieve PDF
                  value:
                    errors:
                    - error: No artifacts found for transaction
                      transactionId: a10b3344-7288-484a-8dbb-b240c123c767
                    pdfs:
                    - data: JVBERi0xLjcKJYGBgYEKCjcgMCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZGUKL0xlbmd0aCAxMAo ...
                      transactionId: a10b1111-7233-484c-8dee-b240c590c767
              schema:
                $ref: '#/components/schemas/ExportPDFResponseContent'
          description: ExportPDF 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPDF400ErrorResponseContent'
          description: ExportPDF400Error 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPDF403ErrorResponseContent'
          description: ExportPDF403Error 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPDF404ErrorResponseContent'
          description: ExportPDF404Error 404 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
  /export/{transactionId}/1500/pdf:
    get:
      description: Retrieve the generated CMS-1500 Claim Form PDF for a submitted 837P professional claim
      operationId: GetPDF1500
      parameters:
      - description: A unique identifier for the processed claim within Stedi. This ID is included in the transaction processed event for the claim, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve this ID through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within Stedi.
        examples:
          GetPDF1500_example1:
            description: ''
            summary: Retrieve PDF
            value: a10b1111-7233-484c-8dee-b240c590c767
        in: path
        name: transactionId
        required: true
        schema:
          description: A unique identifier for the processed claim within Stedi. This ID is included in the transaction processed event for the claim, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve this ID through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within Stedi.
          maxLength: 36
          minLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
      - description: If false, the generated PDF will only contain the form data on a white background, suitable for printing on pre-printed forms. The default is true.
        in: query
        name: background
        schema:
          description: If false, the generated PDF will only contain the form data on a white background, suitable for printing on pre-printed forms. The default is true.
          type: boolean
      responses:
        '200':
          content:
            application/octet-stream:
              examples:
                GetPDF1500_example1:
                  description: ''
                  summary: Retrieve PDF
                  value: JVBERi0xLjcKJYGBgYEKCjcgMCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZGUKL0xlbmd0aCAxMAo ...
              schema:
                $ref: '#/components/schemas/GetPDF1500OutputPayload'
          description: GetPDF1500 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Claim submission
components:
  schemas:
    PregnancyIndicator:
      description: Code indicating whether the patient is pregnant. Can be set to `Y` - Yes.
      enum:
      - Y
      type: string
    ConflictExceptionResponseContent:
      description: Exception returned when a resource conflict is detected, such as a duplicate submission already in progress.
      properties:
        code:
          description: Unique error code identifying the specific type of error.
          type: string
        message:
          description: Human readable error message explaining why the request was rejected.
          type: string
      required:
      - message
      type: object
    QuestionResponseCode:
      description: Code indicating a yes or no condition response to the question. Can be set to `N` - No, `W` - Not Applicable, or `Y` - Yes.
      enum:
      - N
      - W
      - Y
      type: string
    ContractInformationContractTypeCode:
      description: Code indicating the type of contract. Can be set to `01` - Diagnosis Related Group (DRG), `02` - Per Diem, `03` - Variable Per Diem, `04` - Flat, `05` - Capitated, `06` - Percent, or `09` - Other.
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - 09
      type: string
    ValueInformation:
      properties:
        valueCode:
          description: The value code.
          maxLength: 30
          type: string
        valueCodeAmount:
          description: The monetary amount associated with the value code, expressed as a decimal.
          pattern: ^\d+(\.\d{1,2})?$
          type: string
      required:
      - valueCode
      - valueCodeAmount
      type: object
    ReportInformation:
      properties:
        attachmentControlNumber:
          description: "A control number assigned to the attachment. The payer uses this identifier to match the attachment to the claim.\n  - You must include either this property or `attachmentId` in the request, but not both. Including both properties will result in an error.\n  - We recommend using a ULID or UUID of up to 50 characters.\n  - Stedi autogenerates a control number if you don't provide one."
          type: string
        attachmentId:
          description: "The unique identifier for an attachment file you previously uploaded to Stedi. This value is returned in the `attachmentId` property of the [Create Claim Attachment (275) JSON](https://www.stedi.com/docs/healthcare/api-reference/post-healthcare-submit-claim-attachment) response. Stedi uses it to generate and submit the 275 claim attachment transaction to the payer.\n  - This property is **required** when you're submitting attachment files through Stedi.\n  - You must include either this property or `attachmentControlNumber` in the request, but not both. Including both properties will result in an error."
          maxLength: 36
          minLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
        attachmentReportTypeCode:
          $ref: '#/components/schemas/AttachmentReportTypeCode'
        attachmentTransmissionCode:
          $ref: '#/components/schemas/ReportInformationAttachmentTransmissionCode'
      required:
      - attachmentReportTypeCode
      - attachmentTransmissionCode
      type: object
    ClaimNotes:
      description: Free-form information to substantiate the medical treatment that isn't provided elsewhere in the claim submission. Also used to provide narrative information from the forms Home Health Certification and Plan of Treatment or Medical Update and Patient Information, as needed to substantiate home health services. You can provide up to 10 strings in this array.
      properties:
        additionalInformation:
          deprecated: true
          items:
            type: string
          type: array
        allergies:
          description: Allergies
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        diagnosisDescription:
          description: Diagnosis Description
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        dme:
          description: Durable Medical Equipment (DME) and Supplies
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        functionalLimitsOrReasonHomebound:
          description: Functional Limitations, Reason Homebound, or Both
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        goalRehabOrDischargePlans:
          description: Goals, Rehabilitation Potential, or Discharge Plans
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        medications:
          description: Medications
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        nutritionalRequirments:
          description: Nutritional Requirements
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        ordersForDiscipLinesAndTreatments:
          description: Orders for Disciplines and Treatments
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        reasonsPatientLeavesHome:
          description: Reasons Patient Leaves Home
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        safetyMeasures:
          description: Safety Measures
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        supplementalPlanOfTreatment:
          description: Supplementary Plan of Treatment
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        timesAndReasonsPatientNotAtHome:
          description: Times and Reasons Patient Not at Home
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        unusualHomeOrSocialEnv:
          description: Unusual Home, Social Environment, or Both
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        updatedInformation:
          description: Updated Information
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      type: object
    OperatingPhysicianIdentificationQualifierCode:
      description: The type of identifier used in `secondaryIdentifier`. Can be set to `0B` - State License Number, `1G` - Provider UPIN Number, `G2` - Provider Commercial Number, or `LU` - Location Number. Note that UPIN is deprecated and should not be used.
      enum:
      - 0B
      - 1G
      - G2
      - LU
      type: string
    Supervising:
      description: 'The entity responsible for overseeing the rendering provider and the care reported in this claim. Applies when the rendering provider is supervised by a physician. Use when the provider applies to the entire claim, not just a specific service line.


        This should be an individual, not an organization, and you should supply at least the provider''s `lastName` and an identifier, which is typically the `npi`.'
      properties:
        address:
          $ref: '#/components/schemas/ClaimsAddress'
          deprecated: true
        commercialNumber:
          description: The commercial number of the supervising provider.
          type: string
        contactInformation:
          $ref: '#/components/schemas/ClaimsContactInformation'
          deprecated: true
        employerId:
          deprecated: true
          type: string
        firstName:
          description: The first name of the supervising provider.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The last name of the supervising provider.
          maxLength: 60
          minLength: 1
          type: string
        locationNumber:
          description: The location number of the supervising provider.
          type: string
        middleName:
          description: The middle name or initial of the supervising provider.
          maxLength: 25
          minLength: 1
          type: string
        npi:
          description: The individual [National Provider Identifier (NPI)](https://www.stedi.com/docs/healthcare/national-provider-identifier) assigned to the supervising provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The supervising provider's business name, when the provider is not an individual.
          maxLength: 60
          minLength: 1
          type: string
        providerType:
          deprecated: true
          description: This field is now automatically populated and it only remains for backwards compatibility.
          type: string
        providerUpinNumber:
          deprecated: true
          description: Deprecated; do not use.
          type: string
        ssn:
          deprecated: true
          description: Social Security Number without spaces or punctuation (9 digits)
          pattern: ^\d{9}$
          type: string
        stateLicenseNumber:
          description: The state license number of the supervising provider. This is assigned directly by a payer in order to identify the provider in their system. This is not commonly used.
          type: string
        suffix:
          description: The suffix of the supervising provider's name, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          deprecated: true
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      type: object
    PlaceOfServiceCode:
      description: Code identifying the type of facility where the services were or may be performed.
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '31'
      - '32'
      - '33'
      - '34'
      - '41'
      - '42'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '60'
      - '61'
      - '62'
      - '65'
      - '66'
      - '71'
      - '72'
      - '81'
      - '99'
      type: string
    DentalServiceLineAssistantSurgeon:
      properties:
        commercialNumber:
          description: The provider's commercial number.
          type: string
        firstName:
          description: The provider's first name.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The provider's last name.
          maxLength: 60
          minLength: 1
          type: string
        locationNumber:
          description: The provider's location number.
          type: string
        middleName:
          description: The provider's middle name or initial.
          maxLength: 25
          minLength: 1
          type: string
        npi:
          description: The individual National Provider Identifier (NPI) assigned to the provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The provider's business name.
          maxLength: 60
          minLength: 1
          type: string
        providerUpinNumber:
          description: Deprecated; do not use.
          type: string
        stateLicenseNumber:
          description: The provider's state license number. This is assigned directly by a payer in order to identify the provider in their system. This is not commonly used.
          type: string
        suffix:
          description: The provider's name suffix, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          description: Code from the National Uniform Claims Committee [Health Care Provider Taxonomy Code Set](https://taxonomy.nucc.org/). This identifies the provider's type and/or area of specialty.
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      type: object
    InstitutionalReferring:
      description: 'Information about the provider who referred the patient for care.

        - Include this object only when the referring provider is different than the provider listed in the `attending` object.

        - Use this object for providers that apply to the entire claim.

        - This should be an individual, not an organization, and you should supply at least the provider''s `lastName` and an identifier, which is typically the `npi`.'
      properties:
        address:
          $ref: '#/components/schemas/InstitutionalAddress'
          deprecated: true
        commercialNumber:
          deprecated: true
          type: string
        contactInformation:
          $ref: '#/components/schemas/InstitutionalContactInformation'
          deprecated: true
        employerId:
          deprecated: true
          type: string
        firstName:
          description: The provider's first name.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The provider's last name.
          maxLength: 60
          minLength: 1
          type: string
        locationNumber:
          deprecated: true
          type: string
        middleName:
          description: The provider's middle name or initial.
          maxLength: 25
          minLength: 1
          type: string
        npi:
          description: The individual [National Provider Identifier (NPI)](https://www.stedi.com/docs/healthcare/national-provider-identifier) assigned to the provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The provider's business name.
          maxLength: 60
          minLength: 1
          type: string
        providerType:
          $ref: '#/components/schemas/ReferringProviderType'
          deprecated: true
          description: This field is now automatically populated and it only remains for backwards compatibility.
        providerUpinNumber:
          deprecated: true
          type: string
        secondaryIdentificationQualifierCode:
          $ref: '#/components/schemas/ReferringSecondaryIdentificationQualifierCode'
        secondaryIdentifier:
          description: 'The identifier specified in `secondaryIdentifierQualifierCode`.


            You can only include one secondary identifier for the provider.'
          type: string
        stateLicenseNumber:
          deprecated: true
          type: string
        suffix:
          description: The provider's name suffix, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          deprecated: true
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      required:
      - lastName
      type: object
    InstitutionalRendering:
      description: 'Information about the provider who delivered the medical services or non-surgical procedures listed in the claim. This must be an individual, not an organization, and you must supply at least the provider''s `lastName` and an identifier, which is typically the `npi`. The provider''s `firstName` is also required, if applicable.


        Include this object when all of the following are true:

        - The rendering provider is different than the provider listed in the `attending` object.

        - The provider applies to the entire claim or to at least one service line. For example, if a claim had two service lines with two different rendering providers, you would include the provider for the first service line here and leave the `claimInformation.serviceLines[].renderingProvider` object for that service line blank. Then, you would specify the second provider in the appropriate service line''s `claimInformation.serviceLines[].renderingProvider` object.

        - State or federal regulatory requirements call for a combined claim. A combined claim includes both facility and professional components, such as a Medicaid clinic bill or a critical access hospital claim.'
      properties:
        address:
          $ref: '#/components/schemas/InstitutionalAddress'
          deprecated: true
        commercialNumber:
          deprecated: true
          description: The provider's commercial number.
          type: string
        contactInformation:
          $ref: '#/components/schemas/InstitutionalContactInformation'
          deprecated: true
        employerId:
          deprecated: true
          type: string
        firstName:
          description: The provider's first name.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The provider's last name.
          maxLength: 60
          minLength: 1
          type: string
        locationNumber:
          deprecated: true
          description: The provider's location number.
          type: string
        middleName:
          description: The provider's middle name or initial.
          maxLength: 25
          minLength: 1
          type: string
        npi:
          description: The individual [National Provider Identifier (NPI)](https://www.stedi.com/docs/healthcare/national-provider-identifier) assigned to the provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The provider's business name.
          maxLength: 60
          minLength: 1
          type: string
        providerType:
          deprecated: true
          description: This field is now automatically populated and it only remains for backwards compatibility.
          type: string
        providerUpinNumber:
          deprecated: true
          type: string
        secondaryIdentificationQualifierCode:
          $ref: '#/components/schemas/RenderingSecondaryIdentificationQualifierCode'
        secondaryIdentifier:
          description: 'The identifier specified in the `secondaryIdentificationQualifierCode`.


            You can only include one secondary identifier for the provider.'
          type: string
        stateLicenseNumber:
          deprecated: true
          description: The provider's state license number. This is assigned directly by a payer in order to identify the provider in their system. This is not commonly used.
          type: string
        suffix:
          description: The provider's name suffix, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          deprecated: true
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      required:
      - lastName
      type: object
    ToothStatusCode:
      description: Can be set to `E` - To Be Extracted, `M` - Missing.
      enum:
      - E
      - M
      type: string
    AmbulanceCertificationConditionCodesItem:
      description: Code indicating the condition of the patient at the time of transport. You can provide up to five codes. Visit [Claims code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#ambulance-certification-condition-codes) for a complete list.
      enum:
      - '01'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '12'
      type: string
    ExternalCauseOfInjuryPresentOnAdmissionIndicator:
      description: Indicates whether the external cause of injury was present on admission. Can be set to `N` - No (onset did NOT occur prior to admission to the hospital), `Y` - Yes (onset occurred prior to admission to the hospital), `U` - Unknown, or `W` - Not Applicable.
      enum:
      - N
      - U
      - Y
      - W
      type: string
    FormIdentification:
      description: Use this object to attach standardized supplemental information to the claim when required by the payer. One example is payer documentation requirements for home health services.
      properties:
        formIdentifier:
          description: A code from the industry code list you identified in `formTypeCode`.
          type: string
        formTypeCode:
          $ref: '#/components/schemas/FormTypeCode'
        supportingDocumentation:
          description: Use to provide information in response to a coded questionnaire document.
          items:
            $ref: '#/components/schemas/SupportingDocumentation'
          maxItems: 99
          minItems: 1
          type: array
      required:
      - formIdentifier
      - formTypeCode
      type: object
    DentalServiceLinePricingRepricingInformation:
      description: Repricing information about the line item. This information is completed by repricers, not providers. For capitated encounters, pricing or repricing information usually is not applicable and is provided to qualify other information within the claim.
      properties:
        exceptionCode:
          $ref: '#/components/schemas/ClaimsExceptionCode'
        measurementUnitCode:
          $ref: '#/components/schemas/DentalMeasurementUnitCode'
          description: The unit of measure for the service that was repriced. Can be set to `UN` - Units.
        policyComplianceCode:
          $ref: '#/components/schemas/PolicyComplianceCode'
          description: Code indicating the policy compliance status of the claim. Visit [Claims code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#policy-compliance-codes-2) for a complete list.
        pricingMethodologyCode:
          $ref: '#/components/schemas/PricingMethodologyCode'
        rejectReasonCode:
          $ref: '#/components/schemas/RejectReasonCode'
          description: Code indicating the rejection message returned from the third party organization. Visit [Claims code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#reject-reason-codes-2) for a complete list.
        repricedAllowedAmount:
          description: The dollar amount, expressed as a decimal. For example, `100.50`.
          pattern: ^\d+(\.\d{1,2})?$
          type: string
        repricedApprovedHCPCSCode:
          description: The procedure code for the service that was repriced.
          type: string
        repricedApprovedServiceUnitCount:
          description: The number of units for the service that was repriced, expressed as a decimal. The maximum length for this field is 8 digits excluding the decimal. When a decimal is used, the maximum number of digits allowed to the right of the decimal is three.
          format: double
          type: number
        repricedSavingAmount:
          description: The dollar amount, expressed as a decimal.
          pattern: ^\d+(\.\d{1,2})?$
          type: string
        repricingOrganizationIdentifier:
          description: The identifier of the organization that repriced the claim.
          type: string
        repricingPerDiemOrFlatRateAmount:
          description: The pricing rate associated with per diem or flat rate repricing, expressed as a decimal.
          type: string
        serviceIdQualifier:
          $ref: '#/components/schemas/DentalServiceIdQualifier'
          description: The qualifier for the type of code included in `repricedApprovedHCPCSCode`. Can be set to `AD` - American Dental Association Codes.
      required:
      - pricingMethodologyCode
      - repricedAllowedAmount
      type: object
    InstitutionalDelayReasonCode:
      description: Code indicating the reason for the delay in claim submission. Visit [Claims code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#delay-reason-codes) for a complete list.
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
      - '10'
      - '11'
      - '15'
      type: string
    ConditionIndicatorDurableMedicalEquipmentCertificationConditionIndicator:
      description: Code indicating whether there is a certification. Can be set to `N` - No or `Y` - Yes.
      enum:
      - Y
      - N
      type: string
    ServiceLineReferringProviderIdentificationQualifierCode:
      description: The type of identifier used in `secondaryIdentifier`. Can be set to `0B` - State License Number, `1G` - Provider UPIN Number, or `G2` - Provider Commercial Number. Note that UPIN is deprecated and should not be used.
      enum:
      - 0B
      - 1G
      - G2
      type: string
    AdmittingDiagnosis:
      properties:
        admittingDiagnosisCode:
          description: "The admitting diagnosis code for the patient.\n  - You must submit a valid, billable code at the highest level of specificity. Include the 4th - 7th characters as applicable.\n  - **Don't** submit the decimal point for ICD codes. The decimal point is implied.\n  - **Don't** submit ICD-10 header codes. Header codes exist to group related codes and aren't valid for billing. These header codes can change with each new version of ICD-10, so we recommend reviewing your diagnosis codes every year to ensure that they aren't classified as header codes in the most recent version. To determine whether a code is a header code, you can also search the [Value Set Authority Center](https://vsac.nlm.nih.gov/context/cs). If the 'Header' property is set, the code is a header code and you shouldn't use it in claim submissions."
          maxLength: 30
          type: string
        qualifierCode:
          $ref: '#/components/schemas/AdmittingDiagnosisQualifierCode'
      required:
      - admittingDiagnosisCode
      - qualifierCode
      type: object
    ResourceNotFoundExceptionResponseContent:
      description: The server response when the specified resource cannot be found after an API request passes authentication and authorization.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    BillingProviderType:
      description: Defines the billing provider type.
      enum:
      - BillingProvider
      type: string
    DentalServiceLine:
      properties:
        assistantSurgeon:
          $ref: '#/components/schemas/DentalServiceLineAssistantSurgeon'
          description: 'Information about the assistant surgeon who rendered the care. Use this object when the rendering providers provided these services in the role of the assistant surgeon.


            This should be an individual, not an organization, and you should supply at least the surgeon''s `lastName` and an identifier, which is typically the `npi`.'
        contractInformation:
          $ref: '#/components/schemas/DentalContractInformation'
        dentalService:
          $ref: '#/components/schemas/DentalService'
          description: Information about the service rendered to the patient, including the procedure code, the line item charge amount, and the place of service.
        fileInformation:
          description: Used to send additional data specifically requested by the payer. Not commonly used.
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        lineAdjudicationInformation:
          description: Includes service line adjudication information for coordination of benefits between the initial payers of a health care claim and all subsequent payers.
          items:
            $ref: '#/components/schemas/DentalLineAdjudicationInformation'
          type: array
        linePricingRepricingInformation:
          $ref: '#/components/schemas/DentalServiceLinePricingRepricingInformation'
        postageTaxAmount:
          description: The amount of the postage, formatted as a decimal. When you include this property, the total `lineItemChargeAmount` for this service line must include this postage value.
          pattern: ^\d+(\.\d{1,2})?$
          type: string
        providerControlNumber:
          description: A unique identifier for this service line within the claim. It appears in the 835 (ERA) response as `lineItemControlNumber`, allowing you to correlate ERAs to the specific service lines from the original claim. If you don't set this property, Stedi uses a random ULID. Stedi returns service line identifiers in the `claimReference.serviceLines[].lineItemControlNumber` object of the synchronous API response.
          maxLength: 30
          type: string
        renderingProvider:
          $ref: '#/components/schemas/DentalServiceLineRenderingProvider'
          description: 'Information about the provider who rendered the services. This can be a individual or a company (a laboratory or other facility). This is where you should enter the substitute provider''s (locum tenens physician) information, if applicable.


            You should only include this object when the rendering provider information for this service line is different than the information listed in the `rendering` object for the entire claim.'
        salesTaxAmount:
          description: Sales tax, formatted as a decimal. When you include this property, the total `lineItemChargeAmount` for this service line must include this sales tax value.
          type: string
        serviceDate:
          description: The date the service was rendered (for services performed on a single day),. **Do not** supply a date here if you are including the `serviceLineDateInformation.treatmentStartDate` property in the service line.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        serviceFacilityLocation:
          $ref: '#/components/schemas/DentalServiceLineServiceFacilityLocation'
          description: "Information about where the services were rendered. This can be healthcare facilities, such as surgical centers or reference labs, OR the patient's address when services were rendered in their home.\n  - Only include this object when the service facility location is **different** from the billing provider's address. If you include this object when the address is the same, Stedi omits all of the service facility location information from the claim submission, including the name and any identifiers.\n  - For telehealth services, the service facility location is the provider's address, even though the patient may have been in their home or elsewhere when receiving services.\n  - Sometimes the billing provider is an actual physician group that is located at the same address as a hospital, but is in fact a separate entity. In this case, you can differentiate the service facility location by including the specific suite or building number of the physician group. This ensures that the service facility location is different from the billing provider's address and is reported accurately."
        serviceLineDateInformation:
          $ref: '#/components/schemas/DentalServiceLineDateInformation'
        serviceLineReferenceInformation:
          $ref: '#/components/schemas/DentalServiceLineReferenceInformation'
        supervisingProvider:
          $ref: '#/components/schemas/DentalServiceLineSupervisingProvider'
          description: 'Information about the provider who oversaw the rendering provider and the care reported in this service line. Include this object when the supervising provider is different than the one listed in the `supervising` object for the entire claim.


            This should be an individual, not an organization, and you should supply at least the provider''s `lastName` and an identifier, which is typically the `npi`.'
        teethInformation:
          description: Identify a tooth by its number and the surfaces involved in the service.
          items:
            $ref: '#/components/schemas/ToothInformation'
          type: array
      required:
      - dentalService
      type: object
    ServiceLineOrderingProvider:
      properties:
        address:
          $ref: '#/components/schemas/ClaimsAddress'
        claimOfficeNumber:
          deprecated: true
          type: string
        commercialNumber:
          type: string
        contactInformation:
          $ref: '#/components/schemas/ContactInformationOrderingProvider'
        employerId:
          deprecated: true
          type: string
        employerIdentificationNumber:
          deprecated: true
          type: string
        firstName:
          description: The provider's first name.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The provider's last name.
          maxLength: 60
          minLength: 1
          type: string
        locationNumber:
          deprecated: true
          type: string
        middleName:
          description: The provider's middle name or initial.
          maxLength: 25
          minLength: 1
          type: string
        naic:
          deprecated: true
          type: string
        npi:
          description: The individual [National Provider Identifier (NPI)](https://www.stedi.com/docs/healthcare/national-provider-identifier) assigned to the provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The provider's business name.
          maxLength: 60
          minLength: 1
          type: string
        otherIdentifier:
          type: string
        payerIdentificationNumber:
          type: string
        providerType:
          deprecated: true
          description: This field is now automatically populated and it only remains for backwards compatibility.
          type: string
        providerUpinNumber:
          deprecated: true
          type: string
        secondaryIdentifier:
          description: Secondary identifiers for the ordering provider.
          items:
            $ref: '#/components/schemas/ServiceLineOrderingProviderSecondaryIdentifierItem'
          maxItems: 20
          minItems: 1
          type: array
        ssn:
          deprecated: true
          description: Social Security Number without spaces or punctuation (9 digits)
          pattern: ^\d{9}$
          type: string
        stateLicenseNumber:
          type: string
        suffix:
          description: The provider's name suffix, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          deprecated: true
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      type: object
    Attending:
      description: 'Information about the individual who has overall responsibility for the patient''s medical care and treatment reported in the claim. This information is required when the claim contains any services other than non-scheduled transportation claims.


        This provider should be an individual, not an organization, and you should supply at least the provider''s `lastName` and an identifier, which is typically the `npi`.'
      properties:
        address:
          $ref: '#/components/schemas/InstitutionalAddress'
          deprecated: true
        contactInformation:
          $ref: '#/components/schemas/InstitutionalContactInformation'
          deprecated: true
        employerId:
          deprecated: true
          type: string
        firstName:
          description: The provider's first name.
          maxLength: 35
          minLength: 1
          type: string
        lastName:
          description: The provider's last name. This is **required**.
          maxLength: 60
          minLength: 1
          type: string
        middleName:
          description: The provider's middle name or initial.
          maxLength: 25
          minLength: 1
          type: string
        npi:
          description: The individual [National Provider Identifier (NPI)](https://www.stedi.com/docs/healthcare/national-provider-identifier) assigned to the provider.
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The provider's business name.
          maxLength: 60
          minLength: 1
          type: string
        providerType:
          deprecated: true
          description: This field is now automatically populated and it only remains for backwards compatibility.
          type: string
        secondaryIdentificationQualifierCode:
          $ref: '#/components/schemas/OperatingPhysicianIdentificationQualifierCode'
        secondaryIdentifier:
          description: 'The identifier referenced by `secondaryIdentificationQualifierCode`. For example, if `secondaryIdentificationQualifierCode` is set to `0B`, this property should be the provider''s state license number.


            You can only include one secondary identifier for the provider.'
          type: string
        suffix:
          description: The provider's name suffix, such as Jr. or III.
          maxLength: 10
          minLength: 1
          type: string
        taxonomyCode:
          description: The provider's [taxnonomy code](https://www.cms.gov/medicare/enrollment-renewal/providers-suppliers/health-care-taxonomy), a unique 10-character code that designates their classification and specialization. Only applies to the attending provider.
          maxLength: 10
          minLength: 10
          pattern: ^[A-Za-z0-9]{10}$
          type: string
      type: object
    GenderWithUnknown:
      enum:
      - M
      - F
      - U
      type: string
    Subscriber:
      description: 'The person or entity who is the primary policyholder for the health plan _or_ a dependent with their own member ID. The subscriber can be an individual or a business entity.

        - When a dependent has a unique, payer-assigned member ID, treat them as the `subscriber` for the claim submission - include their information here and omit the `dependent` object from the request.  Stedi treats the subscriber as an individual when the request doesn''t contain a value for the `subscriber.organizationName` property.

        - You must set the `dateOfBirth` and `gender` properties when the subscriber is the patient. Stedi determines that the subscriber is the patient when the `dependent` object is not included in the request.

        - If either `dateOfBirth` or `gender` is set, you must include both properties. You can either include both properties or neither within a single request.

        - You must include `address` in this object when the patient is the subscriber. If the patient is a dependent, include address information in the `dependent` object instead.'
      properties:
        address:
          $ref: '#/components/schemas/RequestSubscriberDependentAddress'
          description: "The subscriber's address. Every claim must include address information in either the `subscriber` (when the patient is the subscriber) or `dependent` (when the patient is a dependent) object. You must include at least the `address1` and `city` properties in this object. The `state` and `postalCode` properties are also required for all United States and Canadian addresses.\n  - The address must be the patient's correct address at the time of service. Don't use placeholder values to complete unknown address information. Use of outdated or placeholder values could cause the payer to reject, deny, or delay the claim due to suspected fraud.\n  - If you don't know the patient's address, you should first submit a [Real-Time Eligibility Check](https://www.stedi.com/docs/healthcare/api-reference/post-healthcare-eligibility) for the patient and then copy the patient's address from either the `subscriber` or `dependent` object in the response.\n  - If the patient doesn't have a current address, you can populate the `address1` property with `UNKNOWN` and populate the city, state, and zip code with appropriate values based on your discretion. However, some payers may have explicit rules for how to handle this situation, so you should check the payer's specific requirements before using this approach."
        contactInformation:
          $ref: '#/components/schemas/ContactInformationSubscriberDependent'
        dateOfBirth:
          description: The subscriber's date of birth. This property is **required** if the subscriber is an individual.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        firstName:
          description: The subscriber's first name. This property is **recommended** when the subscriber is an individual. Some payers reject requests without the `firstName` property.
          type: string
        gender:
          $ref: '#/components/schemas/SubscriberGender'
          description: "Identifies the subscriber's gender. This property is **required** when the subscriber is the patient. Can be set to `F` - Female, `M` - Male, or `U` - Unknown. \n\nSome payers may reject the claim if the patient's gender doesn't match the gender they have recorded in their member records. If the gender isn't known or the patient declines to answer, use `U` or perform an eligibility check to determine the gender according to the payer's records."
        groupNumber:
          description: "The subscriber's health plan group number.\n  - Provide this property OR the `policyNumber`, not both.\n  - Provide this property OR the `subscriberGroupName`, not both. If this property is set, Stedi ignores the `subscriberGroupName` property."
          type: string
        insuranceTypeCode:
          $ref: '#/components/schemas/SubscriberInsuranceTypeCode'
          description: 'Identifies the type of insurance policy within a specific insurance program. This property is **required** when sending claims to Medicare and Medicare is not the primary payer (`paymentResponsibilityLevelCode` is not set to `P`). Otherwise, don''t include this property in the claim.


            Visit [Claims code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#insurance-type-codes) for a complete list of insurance type codes.'
        lastName:
          description: "The subscriber's last name. This property is **required** if the subscriber is an individual.\n\n **Don't** include the subscriber's name suffix, such as Jr. or III. Use the designated `suffix` property instead."
          type: string
        memberId:
          description: The member ID for the subscriber's insurance policy. This property is **required** if the subscriber is an individual.
          maxLength: 80
          minLength: 2
          type: string
        middleName:
          description: The subscriber's middle name or initial.
          type: string
        organizationName:
          description: The business name of the entity submitting the claim. When the subscriber is an organization, you should identify the patient in the `dependent` object.
          maxLength: 60
          minLength: 1
          type: string
        paymentResponsibilityLevelCode:
          $ref: '#/components/schemas/SubscriberPaymentResponsibilityLevelCode'
        policyNumber:
          description: The subscriber's health plan policy number. You should provide either this property OR the `groupNumber`, not both.
          type: string
        ssn:
[...]
