openapi: 3.2.0
info:
  title: Stedi Events API
  license:
    name: Proprietary
    url: https://stedi.com
  version: '1.0'
  description: 'Operations tagged Events across 2 of this provider''s published API definitions: stedi-core-openapi.yml, stedi-event-destinations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://core.us.stedi.com/2023-08-01
  description: Production
- description: Production
  url: https://events.us.stedi.com/2026-02-01
security:
- httpApiKeyAuth: []
tags:
- name: Events
paths:
  /events/{eventId}/retry:
    post:
      description: This endpoint retriggers the specified processing event.
      operationId: RetryEvent
      parameters:
      - name: eventId
        in: path
        description: The ID of the event you want Stedi to re-emit.
        schema:
          type: string
          description: The ID of the event you want Stedi to re-emit.
        required: true
        examples:
          RetryEvent_example1:
            summary: Retry event
            description: ''
            value: f75168e4-e682-4410-bfec-b5b1541c7f21
      responses:
        '200':
          description: RetryEvent 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryEventResponseContent'
              examples:
                RetryEvent_example1:
                  summary: Retry event
                  description: ''
                  value:
                    eventId: f75168e4-e682-4410-bfec-b5b1541c7f22
        '400':
          description: BadRequestException 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestExceptionResponseContent'
        '401':
          description: UnauthorizedException 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
        '403':
          description: AccessDeniedException 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
        '404':
          description: ResourceNotFoundException 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
        '409':
          description: ResourceUnderChangeException 409 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnderChangeExceptionResponseContent'
        '422':
          description: UnprocessableEntityException 422 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityExceptionResponseContent'
        '429':
          description: ThrottlingException 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
        '500':
          description: ServiceException 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceExceptionResponseContent'
        '503':
          description: ServiceUnavailableException 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
        '504':
          description: GatewayTimeoutException 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
      tags:
      - Events
    servers:
    - url: https://core.us.stedi.com/2023-08-01
      description: Production
  /events:
    get:
      description: Lists all events for your account. Results are paginated.
      operationId: EventDestinationsListEvents
      parameters:
      - description: The maximum number of elements to return in a page. If not specified, the default is 100.
        in: query
        name: pageSize
        schema:
          description: The maximum number of elements to return in a page. If not specified, the default is 100.
          maximum: 1000
          minimum: 1
          type: number
      - description: The `nextPageToken` value from a previous response. You can use this to get the next page of results. If not set, Stedi returns the first page of results.
        in: query
        name: pageToken
        schema:
          description: The `nextPageToken` value from a previous response. You can use this to get the next page of results. If not set, Stedi returns the first page of results.
          maxLength: 1024
          minLength: 1
          type: string
      - description: Filter results by event ID, such as `evt_019d554b-311b-7813-b491-0a8973762eae`.
        in: query
        name: eventId
        schema:
          description: Filter results by event ID, such as `evt_019d554b-311b-7813-b491-0a8973762eae`.
          pattern: ^[a-z]{3,5}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
      - description: "Filter results by one or more event statuses. Can be:\n  - `DELIVERED`: Stedi successfully delivered the event to all relevant event destinations.\n  - `PENDING`: Stedi is still trying to deliver the event to one or more event destinations.\n  - `FAILED`: Stedi couldn't deliver the event to at least one event destination and is no longer retrying."
        explode: true
        in: query
        name: status
        schema:
          description: "Filter results by one or more event statuses. Can be:\n  - `DELIVERED`: Stedi successfully delivered the event to all relevant event destinations.\n  - `PENDING`: Stedi is still trying to deliver the event to one or more event destinations.\n  - `FAILED`: Stedi couldn't deliver the event to at least one event destination and is no longer retrying."
          items:
            $ref: '#/components/schemas/EventStatus'
          type: array
        style: form
      - description: Filter results by event type, such as `enrollment.activated`.
        in: query
        name: eventType
        schema:
          description: Filter results by event type, such as `enrollment.activated`.
          maxLength: 255
          minLength: 1
          type: string
      - description: "Filter results by their `createdAt` timestamp. Each value is in the format `operator:ISO-8601-timestamp`.\n  - The supported operators are `gt` (after), `gte` (at or after), `lt` (before), and `lte` (at or before). For example: Setting this to `lt:2024-02-01T00:00:00Z` filters for events created before the specified timestamp.\n  - Combine multiple values with `&` to specify a date range. For example: `created=gt:2026-01-01T00:00:00Z&created=lt:2026-02-01T00:00:00Z`."
        explode: true
        in: query
        name: created
        schema:
          description: "Filter results by their `createdAt` timestamp. Each value is in the format `operator:ISO-8601-timestamp`.\n  - The supported operators are `gt` (after), `gte` (at or after), `lt` (before), and `lte` (at or before). For example: Setting this to `lt:2024-02-01T00:00:00Z` filters for events created before the specified timestamp.\n  - Combine multiple values with `&` to specify a date range. For example: `created=gt:2026-01-01T00:00:00Z&created=lt:2026-02-01T00:00:00Z`."
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                EventDestinationsListEvents_example1:
                  description: ''
                  summary: List events
                  value:
                    items:
                    - createdAt: '2026-02-01T12:00:00Z'
                      eventType: enrollment.activated
                      id: evt_550e8400-e29b-41d4-a716-446655440000
                      status: DELIVERED
              schema:
                $ref: '#/components/schemas/EventDestinationsListEventsResponseContent'
          description: EventDestinationsListEvents 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestExceptionResponseContent'
          description: InvalidRequestException 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailedExceptionResponseContent'
          description: AuthenticationFailedException 401 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenExceptionResponseContent'
          description: ForbiddenException 403 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerExceptionResponseContent'
          description: InternalServerException 500 response
      tags:
      - Events
    servers:
    - description: Production
      url: https://events.us.stedi.com/2026-02-01
  /events/{eventId}:
    get:
      description: Retrieves the details of an existing event by its identifier.
      operationId: EventDestinationsGetEvent
      parameters:
      - description: The unique identifier for the event, formatted as `evt_{UUID}`.
        examples:
          EventDestinationsGetEvent_example1:
            description: ''
            summary: Get an event
            value: evt_550e8400-e29b-41d4-a716-446655440000
        in: path
        name: eventId
        required: true
        schema:
          description: The unique identifier for the event, formatted as `evt_{UUID}`.
          pattern: ^[a-z]{3,5}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                EventDestinationsGetEvent_example1:
                  description: ''
                  summary: Get an event
                  value:
                    createdAt: '2026-02-01T12:00:00Z'
                    eventPayload:
                      v1Event:
                        account: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        created: '2026-02-01T12:00:00.000Z'
                        environment: PRODUCTION
                        id: evt_550e8400-e29b-41d4-a716-446655440000
                        object: v1.event
                        resource:
                          id: enr_661f9511-f3ac-52e5-b827-557766551111
                          type: enrollment
                        type: enrollment.activated
                    eventType: enrollment.activated
                    id: evt_550e8400-e29b-41d4-a716-446655440000
                    status: DELIVERED
              schema:
                $ref: '#/components/schemas/EventDestinationsGetEventResponseContent'
          description: EventDestinationsGetEvent 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestExceptionResponseContent'
          description: InvalidRequestException 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailedExceptionResponseContent'
          description: AuthenticationFailedException 401 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenExceptionResponseContent'
          description: ForbiddenException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundExceptionResponseContent'
          description: NotFoundException 404 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerExceptionResponseContent'
          description: InternalServerException 500 response
      tags:
      - Events
    servers:
    - description: Production
      url: https://events.us.stedi.com/2026-02-01
components:
  schemas:
    ExceptionCause:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
        stack:
          type: string
    UnprocessableEntityExceptionResponseContent:
      type: object
      description: The request parameters do not match a previous request with the same idempotency key.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    BadRequestExceptionResponseContent:
      type: object
      description: The server cannot process the request due to an apparent client error.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    GatewayTimeoutExceptionResponseContent:
      type: object
      description: The server was acting as a gateway or proxy and did not receive a timely response from the upstream server.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    UnauthorizedExceptionResponseContent:
      type: object
      description: The server response when the authorizer failed to authenticate the caller.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    ThrottlingExceptionResponseContent:
      type: object
      description: The server response when usage plan or account-level throttling limits exceeded.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    ServiceExceptionResponseContent:
      type: object
      properties:
        message:
          type: string
        exceptionCause:
          $ref: '#/components/schemas/ExceptionCause'
      required:
      - message
    ServiceUnavailableExceptionResponseContent:
      type: object
      description: The server cannot handle the request due to technical reasons.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    AccessDeniedExceptionResponseContent:
      type: object
      description: The server response for authorization failure.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    ResourceNotFoundExceptionResponseContent:
      type: object
      description: The server response when the specified resource cannot be found after an API request passes authentication and authorization.
      properties:
        message:
          type: string
        code:
          type: string
      required:
      - message
    RetryEventResponseContent:
      type: object
      properties:
        eventId:
          type: string
          description: The ID of the newly retried event.
    ResourceUnderChangeExceptionResponseContent:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    V1EventPayload:
      description: A v1 thin event envelope that signals a state change. Consumers fetch current resource state via API using the resource reference. This is the exact payload delivered to webhook destinations.
      properties:
        account:
          description: Stedi account identifier (UUID).
          type: string
        created:
          description: An ISO 8601 timestamp of when the event was created.
          format: date-time
          type: string
        environment:
          $ref: '#/components/schemas/EventEnvironment'
          description: The environment in which the event was produced.
        id:
          description: An identifier for the event, formatted as `evt_{UUID}`.
          type: string
        object:
          $ref: '#/components/schemas/EventPayloadObjectType'
          description: Object type discriminator. Identifies the schema version of this payload.
        relatedResources:
          description: Other resources related to the event. Only present when there are related resources.
          items:
            $ref: '#/components/schemas/EventPayloadResourceRef'
          type: array
        resource:
          $ref: '#/components/schemas/EventPayloadResourceRef'
          description: Information about the resource that triggered the event. You can use this information to retrieve additional information about the resource.
        type:
          description: The event type in dot notation, such as `enrollment.activated`.
          type: string
      required:
      - account
      - created
      - environment
      - object
      - resource
      type: object
    EventEnvironment:
      description: The environment in which an event was produced.
      enum:
      - TEST
      - PRODUCTION
      type: string
    InternalServerExceptionResponseContent:
      description: The service failed unexpectedly. Retry with backoff.
      properties:
        message:
          description: Why the request failed. The wording can change, so branch on the exception type, not this text.
          type: string
      required:
      - message
      type: object
    EventPayloadResourceRef:
      description: A reference to a resource affected by an event.
      properties:
        id:
          description: The resource identifier.
          type: string
        type:
          description: The resource type. Uses dot notation to indicate nested resources. For example, `enrollment.document` indicates a document associated with a transaction enrollment request.
          type: string
      required:
      - id
      - type
      type: object
    EventDestinationsGetEventResponseContent:
      description: Output containing the event details.
      properties:
        createdAt:
          description: An ISO 8601 timestamp of when the event was created.
          format: date-time
          type: string
        eventPayload:
          $ref: '#/components/schemas/EventPayload'
          description: The event payload Stedi delivers to event destinations.
        eventType:
          description: The type of event, such as `enrollment.activated`.
          maxLength: 255
          minLength: 1
          type: string
        id:
          description: The unique identifier for the event, formatted as `evt_{UUID}`.
          pattern: ^[a-z]{3,5}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
        status:
          $ref: '#/components/schemas/EventStatus'
          description: "The current status of the event. Can be:\n  - `DELIVERED`: Stedi successfully delivered the event to all relevant event destinations.\n  - `PENDING`: Stedi is still trying to deliver the event to one or more event destinations. Events may stay in this state for multiple days as Stedi automatically retries.\n  - `FAILED`: Stedi couldn't deliver the event to at least one event destination and is no longer retrying.  Deliveries to some event destinations may have been successful."
      required:
      - createdAt
      - eventPayload
      - eventType
      - id
      - status
      type: object
    EventPayloadObjectType:
      description: Object type discriminator for event payloads.
      enum:
      - v1.event
      type: string
    InvalidRequestExceptionResponseContent:
      description: The request is not valid. Fix the request before retrying.
      properties:
        errors:
          description: Each part of the request that was rejected. Absent when the failure is not specific to any part.
          items:
            $ref: '#/components/schemas/ValidationFailure'
            description: A single validation failure
          type: array
        message:
          description: Why the request failed. The wording can change, so branch on the exception type, not this text.
          type: string
      required:
      - message
      type: object
    EventDestinationsListEventsResponseContent:
      description: Output containing the list of events.
      properties:
        items:
          description: The list of event summaries.
          items:
            $ref: '#/components/schemas/EventSummary'
          type: array
        nextPageToken:
          description: Token that you can supply in subsequent requests to retrieve the next page of results. If not returned, there are no more results.
          maxLength: 1024
          minLength: 1
          type: string
      required:
      - items
      type: object
    NotFoundExceptionResponseContent:
      description: The requested resource does not exist.
      properties:
        message:
          description: Why the request failed. The wording can change, so branch on the exception type, not this text.
          type: string
      required:
      - message
      type: object
    AuthenticationFailedExceptionResponseContent:
      description: The request credentials are missing or not valid.
      properties:
        message:
          description: Why the request failed. The wording can change, so branch on the exception type, not this text.
          type: string
      required:
      - message
      type: object
    EventSummary:
      description: A summary representation of an event, returned in list responses.
      properties:
        createdAt:
          description: An ISO 8601 timestamp of when the event was created.
          format: date-time
          type: string
        eventType:
          description: The type of event, such as `enrollment.activated`.
          maxLength: 255
          minLength: 1
          type: string
        id:
          description: The unique identifier for the event, formatted as `evt_{UUID}`.
          pattern: ^[a-z]{3,5}_[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
        status:
          $ref: '#/components/schemas/EventStatus'
          description: "The current status of the event. Can be:\n  - `DELIVERED`: Stedi successfully delivered the event to all relevant event destinations.\n  - `PENDING`: Stedi is still trying to deliver the event to one or more event destinations. Events may stay in this state for multiple days as Stedi automatically retries.\n  - `FAILED`: Stedi couldn't deliver the event to at least one event destination and is no longer retrying.  Deliveries to some event destinations may have been successful."
      required:
      - createdAt
      - eventType
      - id
      - status
      type: object
    EventPayload:
      description: The event payload, discriminated by object type. Each variant corresponds to a versioned event schema.
      oneOf:
      - properties:
          v1Event:
            $ref: '#/components/schemas/V1EventPayload'
            description: A `v1` thin event payload.
        required:
        - v1Event
        title: v1Event
        type: object
    EventStatus:
      description: The current status of an event.
      enum:
      - PENDING
      - DELIVERED
      - FAILED
      type: string
    ValidationFailure:
      description: A single way in which the request failed validation.
      properties:
        message:
          description: What was wrong with this part of the request
          type: string
        path:
          description: A JSON pointer to the part of the request that failed validation
          type: string
      required:
      - message
      type: object
    ForbiddenExceptionResponseContent:
      description: The caller is authenticated but lacks permission for this resource or action.
      properties:
        message:
          description: Why the request failed. The wording can change, so branch on the exception type, not this text.
          type: string
      required:
      - message
      type: object
  securitySchemes:
    httpApiKeyAuth:
      type: apiKey
      description: A [Stedi API Key](https://www.stedi.com/app/settings/api-keys) for authentication.
      name: Authorization
      in: header
x-refined-from:
- stedi-core-openapi.yml
- stedi-event-destinations-openapi.yml
x-stedi:
  lifecycle: general_availability
  product: claims
  public: true
