openapi: 3.0.3
info:
  contact:
    email: healthcare@stedi.com
  license:
    name: Proprietary
    url: https://stedi.com
  title: Stedi Healthcare Claims Claim acknowledgments Payer API
  version: '2025-03-07'
servers:
- description: Production
  url: https://claims.us.stedi.com/2025-03-07
security:
- httpApiKeyAuth: []
tags:
- name: Payer
paths:
  /payer/{stediId}:
    get:
      description: Retrieve a single payer record by its Stedi payer ID.
      operationId: GetPayerRecord
      parameters:
      - description: 'The Stedi payer ID, a unique identifier Stedi assigns to each payer that will never change. You can find the Stedi payer ID for any supported payer in the [Payer Network](https://www.stedi.com/healthcare/network).


          This must be the Stedi payer ID - querying with the primary payer ID or payer ID aliases isn''t supported.'
        examples:
          GetPayerRecord_example1:
            description: ''
            summary: Retrieve payer record
            value: QDTRP
        in: path
        name: stediId
        required: true
        schema:
          description: 'The Stedi payer ID, a unique identifier Stedi assigns to each payer that will never change. You can find the Stedi payer ID for any supported payer in the [Payer Network](https://www.stedi.com/healthcare/network).


            This must be the Stedi payer ID - querying with the primary payer ID or payer ID aliases isn''t supported.'
          pattern: ^[A-Z]{5}$
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                GetPayerRecord_example1:
                  description: ''
                  summary: Retrieve payer record
                  value:
                    payer:
                      aliases:
                      - '00420'
                      - '13123'
                      - '1584'
                      - '4714'
                      - '95655'
                      - MEDGL
                      - MEDGLD
                      - MEDIGOLD
                      avatarUrl: https://prod-payer-avatars.payers.us.stedi.com/YKHRB/avatar.png?v=1766600157693
                      coverageTypes:
                      - dental
                      - medical
                      displayName: Trinity Health Plan
                      enrollment:
                        ptanRequired: false
                        transactionEnrollmentProcesses:
                          claimPayment:
                            requestedEffectiveDate: NOT_SUPPORTED
                            supportedAggregationPreferences:
                            - NPI
                            - TIN
                            timeframe: DAYS
                            type: ONE_CLICK
                      names:
                      - MediGold
                      - Medigold Health Plans
                      - Mount Carmel Health Plan
                      - Mount Carmel MediGold
                      - Trinity Health Plan of Michigan
                      operatingStates:
                      - ID
                      - IA
                      - MI
                      - NY
                      - OH
                      parentPayerGroupId: GTRSH
                      primaryPayerId: '95655'
                      stediId: YKHRB
                      transactionSupport:
                        claimPayment: ENROLLMENT_REQUIRED
                        claimStatus: SUPPORTED
                        claimSubmission: SUPPORTED
                        coordinationOfBenefits: NOT_SUPPORTED
                        dentalClaimSubmission: NOT_SUPPORTED
                        eligibilityCheck: SUPPORTED
                        institutionalClaimSubmission: SUPPORTED
                        professionalClaimSubmission: SUPPORTED
                        unsolicitedClaimAttachment: NOT_SUPPORTED
                      urls:
                        website: https://www.thpmedicare.org
              schema:
                $ref: '#/components/schemas/GetPayerRecordResponseContent'
          description: GetPayerRecord 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedExceptionResponseContent'
          description: UnauthorizedException 401 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
      tags:
      - Payer
components:
  schemas:
    SupportedAggregationType:
      description: 'Aggregation types a payer supports for 835 Electronic Remittance Advice (ERA) transactions. Payers can aggregate by the provider''s NPI, tax ID (TIN), or both.


        You can use this information to specify an `aggregationPreference` when submitting ERA enrollment requests.'
      enum:
      - NPI
      - TIN
      type: string
    GetPayerRecordResponseContent:
      properties:
        payer:
          $ref: '#/components/schemas/PayerRecord'
          description: The payer record matching the provided Stedi payer ID. The record includes the payer's display name and aliases as well as supported transaction types and details about the payer's [transaction enrollment](https://www.stedi.com/docs/healthcare/transaction-enrollment) process.
      required:
      - payer
      type: object
    PayerUrls:
      description: URLs associated with a payer.
      properties:
        website:
          description: The payer's website URL.
          type: string
      type: object
    ValidationExceptionResponseContent:
      description: 'A standard error for input validation failures.

        This should be thrown by services when a member of the input structure

        falls outside of the modeled or documented constraints.'
      properties:
        fieldList:
          description: 'A list of specific failures encountered while validating the input.

            A member can appear in this list more than once if it failed to satisfy multiple constraints.'
          items:
            $ref: '#/components/schemas/ValidationExceptionField'
          type: array
        message:
          description: A summary of the validation failure.
          type: string
      required:
      - message
      type: object
    EligibilityInquiryEnrollmentProcess:
      description: Details about the enrollment process for eligibility checks.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    InternalFailureExceptionResponseContent:
      description: The server response when an unexpected error occurred while processing request.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    TransactionSupport:
      description: 'Whether the following transaction types are supported: 270 eligibility checks, 276 claim status requests, 837 professional claims, and 835 ERAs (claim payments). If the value is `ENROLLMENT_REQUIRED`, Stedi supports the transaction type, but you must [enroll with the payer](https://www.stedi.com/docs/healthcare/supported-payers#enrollment) first.'
      properties:
        claimPayment:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can receive 835 Electronic Remittance Advice (ERA) transactions from this payer.
        claimStatus:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send 276 claim status requests to this payer.
        claimSubmission:
          $ref: '#/components/schemas/TransactionSupportValue'
          deprecated: true
          description: 'Whether you can send 837 professional claims to this payer.

            This shape is deprecated since 2024-11-13: This `claimSubmission` property is deprecated and will be removed in a future release. Instead, use the `professionalClaimSubmission` property.'
        coordinationOfBenefits:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Coordination of Benefits (COB) support.
        dentalClaimSubmission:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send 837D dental claims to this payer.
        eligibilityCheck:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send 270 eligibility checks to this payer.
        institutionalClaimSubmission:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send 837I institutional claims to this payer.
        professionalClaimSubmission:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send 837P professional claims to this payer.
        unsolicitedClaimAttachment:
          $ref: '#/components/schemas/TransactionSupportValue'
          description: Whether you can send unsolicited claim attachments to this payer.
      required:
      - claimPayment
      - claimStatus
      - claimSubmission
      - coordinationOfBenefits
      - dentalClaimSubmission
      - eligibilityCheck
      - institutionalClaimSubmission
      - professionalClaimSubmission
      - unsolicitedClaimAttachment
      type: object
    TransactionSupportValue:
      enum:
      - SUPPORTED
      - NOT_SUPPORTED
      - ENROLLMENT_REQUIRED
      type: string
    EnrollmentProcessTimeframe:
      description: Stedi's expected timeframe for completing the transaction enrollment process. `INSTANT` indicates that the enrollment will be in `LIVE` status within minutes of submitting the request.
      enum:
      - INSTANT
      - HOURS
      - DAYS
      - WEEKS
      - OVER_4_WEEKS
      type: string
    ResourceNotFoundExceptionResponseContent:
      description: The server response when the specified resource cannot be found after an API request passes authentication and authorization.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    RequestedEffectiveDate:
      description: Whether a payer supports specifying a requested effective date for transaction enrollments.
      enum:
      - SUPPORTED
      - NOT_SUPPORTED
      type: string
    EnrollmentInfo:
      description: Information about enrollment requirements for the payer
      properties:
        ptanRequired:
          description: 'Whether a PTAN (Provider Transaction Access Number) is required for transaction enrollment.


            The Provider Transaction Access Number (PTAN) is a Medicare-issued number given to providers upon enrollment with Medicare. This number is usually six digits and is assigned based on the type of service and the location of the provider. Upon enrollment, Medicare Administrating Contracting (MAC) providers should receive their assigned PTAN number in their approval letter.'
          type: boolean
        transactionEnrollmentProcesses:
          $ref: '#/components/schemas/TransactionEnrollmentProcesses'
          description: 'Enrollment details for specific transaction types.


            Stedi only returns this object when information about the enrollment process is available for one or more transaction types. When this object isn''t included in the response, it **doesn''t** mean no transaction types require enrollment. Refer to the `transactionSupport` object for details about which transaction types require enrollment.'
      type: object
    ProfessionalClaimEnrollmentProcess:
      description: Details about the enrollment process for professional claim submission.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    ClaimPaymentEnrollmentProcess:
      description: Details about the enrollment process for Electronic Remittance Advice (ERAs).
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        supportedAggregationPreferences:
          description: "Aggregation types this payer supports for 835 Electronic Remittance Advice (ERA) transactions. Payers can aggregate by the provider's NPI, tax ID (TIN), or both.\n  - You can use this information to specify an `aggregationPreference` when submitting ERA enrollment requests.\n  - This property is only returned when Stedi can determine the payer's supported aggregation types."
          items:
            $ref: '#/components/schemas/SupportedAggregationType'
          type: array
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    UnauthorizedExceptionResponseContent:
      description: The server response when the authorizer failed to authenticate the caller.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    ValidationExceptionField:
      description: Describes one specific validation failure for an input member.
      properties:
        message:
          description: A detailed description of the validation failure.
          type: string
        path:
          description: A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.
          type: string
      required:
      - message
      - path
      type: object
    CoverageType:
      description: The types of insurance coverage that a payer can provide. Used to indicate whether a payer supports transactions for medical coverage, dental coverage, vision coverage, or a combination of these.
      enum:
      - medical
      - dental
      - vision
      type: string
    TransactionEnrollmentProcesses:
      description: Information about the transaction enrollment requirements and expected timeframes for each transaction type.
      properties:
        claimPayment:
          $ref: '#/components/schemas/ClaimPaymentEnrollmentProcess'
          description: Details about the enrollment process for Electronic Remittance Advice (ERAs) with this payer.
        claimStatusInquiry:
          $ref: '#/components/schemas/ClaimStatusInquiryEnrollmentProcess'
          description: Details about the enrollment process for real-time claim status requests with this payer.
        coordinationOfBenefits:
          $ref: '#/components/schemas/CoordinationOfBenefitsEnrollmentProcess'
          description: Details about the enrollment process for coordination of benefits (COB) checks with this payer.
        dentalClaim:
          $ref: '#/components/schemas/DentalClaimEnrollmentProcess'
          description: Details about the enrollment process for dental claim submission with this payer.
        eligibilityInquiry:
          $ref: '#/components/schemas/EligibilityInquiryEnrollmentProcess'
          description: Details about the enrollment process for eligibility checks with this payer.
        institutionalClaim:
          $ref: '#/components/schemas/InstitutionalClaimEnrollmentProcess'
          description: Details about the enrollment process for institutional claim submission with this payer.
        professionalClaim:
          $ref: '#/components/schemas/ProfessionalClaimEnrollmentProcess'
          description: Details about the enrollment process for professional claim submission with this payer.
        unsolicitedClaimAttachment:
          $ref: '#/components/schemas/UnsolicitedClaimAttachmentEnrollmentProcess'
          description: Details about the enrollment process for unsolicited claim attachments with this payer.
      type: object
    ClaimStatusInquiryEnrollmentProcess:
      description: Details about the enrollment process for real-time claim status requests.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    OperatingStateCode:
      description: US state codes, territories, or `NATIONAL` indicating the geographic regions where a payer operates. When set to `NATIONAL`, the payer operates throughout the entire United States.
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      - DC
      - PR
      - VI
      - GU
      - AS
      - MP
      - NATIONAL
      type: string
    PayerRecord:
      properties:
        aliases:
          description: Alternative IDs associated with a payer. If a payer changes their `primaryPayerId`, aliases allow you to continue sending transactions to the payer using the old ID uninterrupted.
          items:
            type: string
          type: array
        avatarUrl:
          description: 'A URL pointing to an image file (`.png`, `.jpeg`, or `.jpg`) with the payer''s logo. This is the same logo Stedi displays in the [Payer Network](https://www.stedi.com/healthcare/network). You can use this property to display payer logos in your system or application.


            This property is only returned when a payer logo is available.'
          type: string
        conciseName:
          description: A shorter version of the payer's display name for use in dense UI views. This property is only returned when a concise name is available for the payer.
          type: string
        coverageTypes:
          description: 'A list of insurance coverage types that indicates whether this payer supports transactions for medical coverage, dental coverage, vision coverage, or a combination of these. For example: `["medical"]` or `["medical", "dental", "vision"]`.


            When this array isn''t in the response, it means Stedi hasn''t classified the payer''s coverage types yet, **not** that the payer doesn''t support any coverage types.'
          items:
            $ref: '#/components/schemas/CoverageType'
          type: array
        displayName:
          description: The payer's business name, such as Cigna or Aetna. This is the name most commonly used to identify the payer.
          type: string
        employerIdentificationNumbers:
          description: Employer Identification Numbers (EINs) associated with this payer.
          items:
            description: A valid Employer Identification Number (EIN) in the format XX-XXXXXXX
            pattern: ^[0-9]{2}-[0-9]{7}$
            type: string
          type: array
        enrollment:
          $ref: '#/components/schemas/EnrollmentInfo'
          description: Details about the [transaction enrollment process](https://www.stedi.com/docs/healthcare/transaction-enrollment) for this payer, if available. This object may not be returned for some payers.
        names:
          description: Alternative names associated with a payer. These additional names help you search for and identify payers using the name most familiar to your organization.
          items:
            type: string
          type: array
        operatingStates:
          description: 'A list of US state codes, territories, or `NATIONAL` that indicates the geographic regions where this payer operates. For example: `["CA", "OR"]` for a regional payer, or `["NATIONAL"]` for a payer that operates throughout the entire United States.


            When this array isn''t in the response, it means Stedi hasn''t classified the payer''s operating states yet.'
          items:
            $ref: '#/components/schemas/OperatingStateCode'
          type: array
        parentPayerGroupId:
          description: The payer's parent payer group entity. This is metadata Stedi uses internally. It doesn't necessarily relate to the payer's enrollment process or other capabilities.
          type: string
        primaryPayerId:
          description: The most commonly used ID for a payer. This value often corresponds to the name the payer uses internally and provides to patients on member ID cards.
          type: string
        stediId:
          description: A unique ID that Stedi assigned to this payer and uses internally for routing requests. This ID will not change even if the `primaryPayerId` is updated.
          type: string
        transactionSupport:
          $ref: '#/components/schemas/TransactionSupport'
        urls:
          $ref: '#/components/schemas/PayerUrls'
          description: URLs associated with this payer, such as their website. This object is only returned when URL information is available for the payer.
      required:
      - aliases
      - displayName
      - names
      - primaryPayerId
      - stediId
      - transactionSupport
      type: object
    EnrollmentProcessType:
      description: "Whether transaction enrollment is single or multi-step.\n  - `ONE_CLICK` indicates that once you submit the transaction enrollment request, Stedi can complete the rest of the enrollment process without any further action from you.\n  - `MULTI_STEP` indicates that you must complete additional steps to finish the enrollment process. Customer support will reach out with clear instructions explaining how to complete any remaining steps."
      enum:
      - ONE_CLICK
      - MULTI_STEP
      type: string
    InstitutionalClaimEnrollmentProcess:
      description: Details about the enrollment process for institutional claim submission.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    DentalClaimEnrollmentProcess:
      description: Details about the enrollment process for dental claim submission.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    CoordinationOfBenefitsEnrollmentProcess:
      description: Details about the enrollment process for coordination of benefits (COB) checks.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
    UnsolicitedClaimAttachmentEnrollmentProcess:
      description: Details about the enrollment process for unsolicited claim attachments.
      properties:
        requestedEffectiveDate:
          $ref: '#/components/schemas/RequestedEffectiveDate'
          description: "Whether this payer supports specifying a requested effective date for transaction enrollments.\n  - If set to `SUPPORTED`, Stedi will process [transaction enrollment requests](https://www.stedi.com/docs/healthcare/api-reference/post-enrollment-create-enrollment) for this payer according to their specified `requestedEffectiveDate`.\n  - This property is only returned when Stedi can determine whether the payer supports requested effective dates."
        timeframe:
          $ref: '#/components/schemas/EnrollmentProcessTimeframe'
        type:
          $ref: '#/components/schemas/EnrollmentProcessType'
      type: object
  securitySchemes:
    httpApiKeyAuth:
      description: A [Stedi API Key](https://www.stedi.com/app/settings/api-keys) for authentication.
      in: header
      name: Authorization
      type: apiKey
x-stedi:
  lifecycle: general_availability
  product: claims
  public: true
