openapi: 3.0.3
info:
  contact:
    email: healthcare@stedi.com
  license:
    name: Proprietary
    url: https://stedi.com
  title: Stedi Healthcare Claims Claim acknowledgments Insurance discovery API
  version: '2025-03-07'
servers:
- description: Production
  url: https://claims.us.stedi.com/2025-03-07
security:
- httpApiKeyAuth: []
tags:
- name: Insurance discovery
paths:
  /insurance-discovery/check/v1:
    post:
      description: Submit an insurance discovery check in JSON format
      externalDocs:
        description: Developer guide
        url: https://www.stedi.com/docs/healthcare/insurance-discovery
      operationId: InsuranceDiscoveryCheck
      requestBody:
        content:
          application/json:
            examples:
              InsuranceDiscoveryCheck_example1:
                description: ''
                summary: Insurance discovery check
                value:
                  encounter:
                    beginningDateOfService: '20240326'
                    endDateOfService: '20240326'
                  provider:
                    npi: '1999999984'
                  subscriber:
                    address:
                      address1: 123 Main St
                      city: Springfield
                      postalCode: '62701'
                      state: IL
                    dateOfBirth: '19800101'
                    firstName: John
                    gender: M
                    lastName: Smith
                    middleName: Robert
                    ssn: '123456789'
            schema:
              $ref: '#/components/schemas/InsuranceDiscoveryCheckRequestContent'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                InsuranceDiscoveryCheck_example1:
                  description: ''
                  summary: Insurance discovery check
                  value:
                    discoveryId: 12345678-abcd-4321-efgh-987654321abc
                    items:
                    - benefitsInformation:
                      - additionalInformation:
                        - description: To determine if a prior authorization is required, please check the health plan's website.
                        benefitsRelatedEntities:
                        - entityFirstname: Jane
                          entityIdentification: XX
                          entityIdentificationValue: '1234567890'
                          entityIdentifier: Primary Care Provider
                          entityName: Dough
                          entityType: Person
                        code: '1'
                        inPlanNetworkIndicator: Not Applicable
                        inPlanNetworkIndicatorCode: W
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                      - code: '1'
                        inPlanNetworkIndicator: Not Applicable
                        inPlanNetworkIndicatorCode: W
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '1'
                        serviceTypes:
                        - Medical Care
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                      - additionalInformation:
                        - description: per visit
                        benefitAmount: '20'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                      - additionalInformation:
                        - description: Limited to 26 visits per year (visits in excess of 26 require prior authorization).
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                      - additionalInformation:
                        - description: Covered in accordance with ACA guidelines.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                      - benefitAmount: '0'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                      - additionalInformation:
                        - description: per prescription
                        benefitAmount: '10'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                      - additionalInformation:
                        - description: PCP
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: per visit
                        - description: PCP
                        benefitAmount: '15'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: PCP
                        code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: Specialist
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: per visit
                        - description: Specialist
                        benefitAmount: '30'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Specialist
                        code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit. (Primary Care Provider (PCP) and other practitioner office visits do not require prior authorization.) Note| Services (excluding Emergency Room Care / Emergency Services) rendered by an out-of-network provider
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A4
                        serviceTypes:
                        - Psychiatric
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A4
                        serviceTypes:
                        - Psychiatric
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A4
                        serviceTypes:
                        - Psychiatric
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A6
                        serviceTypes:
                        - Psychotherapy
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A6
                        serviceTypes:
                        - Psychotherapy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A6
                        serviceTypes:
                        - Psychotherapy
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A7
                        serviceTypes:
                        - Psychiatric - Inpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A7
                        serviceTypes:
                        - Psychiatric - Inpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A7
                        serviceTypes:
                        - Psychiatric - Inpatient
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A8
                        serviceTypes:
                        - Psychiatric - Outpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A8
                        serviceTypes:
                        - Psychiatric - Outpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - A8
                        serviceTypes:
                        - Psychiatric - Outpatient
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AD
                        serviceTypes:
                        - Occupational Therapy
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AD
                        serviceTypes:
                        - Occupational Therapy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AD
                        serviceTypes:
                        - Occupational Therapy
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AF
                        serviceTypes:
                        - Speech Therapy
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AF
                        serviceTypes:
                        - Speech Therapy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AF
                        serviceTypes:
                        - Speech Therapy
                      - additionalInformation:
                        - description: Prior authorization may be required. Limited to 150 days per year.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AG
                        serviceTypes:
                        - Skilled Nursing Care
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AG
                        serviceTypes:
                        - Skilled Nursing Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - AG
                        serviceTypes:
                        - Skilled Nursing Care
                      - additionalInformation:
                        - description: Covered in accordance with ACA guidelines.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - BZ
                        serviceTypes:
                        - 'Physician Visit - Office: Well'
                      - benefitAmount: '0'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - BZ
                        serviceTypes:
                        - 'Physician Visit - Office: Well'
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - BZ
                        serviceTypes:
                        - 'Physician Visit - Office: Well'
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - MH
                        serviceTypes:
                        - Mental Health
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - MH
                        serviceTypes:
                        - Mental Health
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - MH
                        serviceTypes:
                        - Mental Health
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - PT
                        serviceTypes:
                        - Physical Therapy
                      - additionalInformation:
                        - description: per visit
                        benefitAmount: '15'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - PT
                        serviceTypes:
                        - Physical Therapy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - PT
                        serviceTypes:
                        - Physical Therapy
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - UC
                        serviceTypes:
                        - Urgent Care
                      - additionalInformation:
                        - description: per visit
                        benefitAmount: '10'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - UC
                        serviceTypes:
                        - Urgent Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - UC
                        serviceTypes:
                        - Urgent Care
                      - additionalInformation:
                        - description: per visit
                        benefitAmount: '10'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - UC
                        serviceTypes:
                        - Urgent Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: C
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Deductible
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '3000'
                        code: G
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '2000'
                        code: G
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '6000'
                        code: G
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '5000'
                        code: G
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '0'
                        code: G
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: G
                        coverageLevel: Individual
                        coverageLevelCode: IND
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      - benefitAmount: '0'
                        code: G
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Calendar Year
                        timeQualifierCode: '23'
                      - benefitAmount: '0'
                        code: G
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Out of Pocket (Stop Loss)
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                        timeQualifier: Remaining
                        timeQualifierCode: '29'
                      confidence:
                        level: REVIEW_NEEDED
                        reason: This record was identified as a low confidence match due to a DOB partial match
                      payer:
                        name: EXAMPLE INSURANCE CO
                      planDateInformation:
                        eligibilityBegin: '20250101'
                        planBegin: '20250101'
                        service: '20250301'
                      planInformation:
                        groupDescription: Individual On-Exchange
                        groupNumber: 123456-78
                        planNumber: 123456-EXMPL9876
                      provider:
                        entityType: Non-Person Entity
                        npi: '1999999984'
                        providerName: provider
                      subscriber:
                        address:
                          address1: 123 Main Street
                          city: ANYTOWN
                          postalCode: '12345'
                          state: CA
                        dateOfBirth: '19900115'
                        firstName: John
                        gender: M
                        groupDescription: Individual On-Exchange
                        groupNumber: 123456-78
                        lastName: Doe
                        memberId: '987654321000'
                        middleName: Smith
                        planNumber: 123456-EXMPL9876
                    meta:
                      applicationMode: production
                      traceId: 1-abcdef12-123456789abcdef123456789
                    status: COMPLETE
              schema:
                $ref: '#/components/schemas/InsuranceDiscoveryCheckResponseContent'
          description: InsuranceDiscoveryCheck 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Insurance discovery
  /insurance-discovery/check/v1/{discoveryId}:
    get:
      description: Retrieve insurance discovery check results by `discoveryId`
      externalDocs:
        description: Developer guide
        url: https://www.stedi.com/docs/healthcare/insurance-discovery
      operationId: GetInsuranceDiscoveryCheck
      parameters:
      - description: The unique ID for the insurance discovery check. Stedi returns this value in the response from the [Insurance Discovery Check](https://www.stedi.com/docs/healthcare/api-reference/post-insurance-discovery) endpoint.
        examples:
          GetInsuranceDiscoveryCheck_example1:
            description: ''
            summary: Poll for results
            value: 12345678-abcd-4321-efgh-987654321abc
        in: path
        name: discoveryId
        required: true
        schema:
          description: The unique ID for the insurance discovery check. Stedi returns this value in the response from the [Insurance Discovery Check](https://www.stedi.com/docs/healthcare/api-reference/post-insurance-discovery) endpoint.
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                GetInsuranceDiscoveryCheck_example1:
                  description: ''
                  summary: Poll for results
                  value:
                    discoveryId: 12345678-abcd-4321-efgh-987654321abc
                    items:
                    - benefitsInformation:
                      - additionalInformation:
                        - description: To determine if a prior authorization is required, please check the health plan's website.
                        benefitsRelatedEntities:
                        - entityFirstname: Jane
                          entityIdentification: XX
                          entityIdentificationValue: '1234567890'
                          entityIdentifier: Primary Care Provider
                          entityName: Dough
                          entityType: Person
                        code: '1'
                        inPlanNetworkIndicator: Not Applicable
                        inPlanNetworkIndicatorCode: W
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '30'
                        serviceTypes:
                        - Health Benefit Plan Coverage
                      - code: '1'
                        inPlanNetworkIndicator: Not Applicable
                        inPlanNetworkIndicatorCode: W
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '1'
                        serviceTypes:
                        - Medical Care
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '4'
                        serviceTypes:
                        - Diagnostic X-Ray
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                      - additionalInformation:
                        - description: per visit
                        benefitAmount: '20'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '5'
                        serviceTypes:
                        - Diagnostic Lab
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '12'
                        serviceTypes:
                        - Durable Medical Equipment Purchase
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '13'
                        serviceTypes:
                        - Ambulatory Service Center Facility
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '18'
                        serviceTypes:
                        - Durable Medical Equipment Rental
                      - additionalInformation:
                        - description: Limited to 26 visits per year (visits in excess of 26 require prior authorization).
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '33'
                        serviceTypes:
                        - Chiropractic
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '48'
                        serviceTypes:
                        - Hospital - Inpatient
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '50'
                        serviceTypes:
                        - Hospital - Outpatient
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '51'
                        serviceTypes:
                        - Hospital - Emergency Accident
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '52'
                        serviceTypes:
                        - Hospital - Emergency Medical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '53'
                        serviceTypes:
                        - Hospital - Ambulatory Surgical
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '62'
                        serviceTypes:
                        - MRI/CAT Scan
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '65'
                        serviceTypes:
                        - Newborn Care
                      - additionalInformation:
                        - description: Covered in accordance with ACA guidelines.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                      - benefitAmount: '0'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '68'
                        serviceTypes:
                        - Well Baby Care
                      - additionalInformation:
                        - description: Prior authorization may be required. Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '69'
                        serviceTypes:
                        - Maternity
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                      - benefitPercent: '0.5'
                        code: A
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Co-Insurance
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '86'
                        serviceTypes:
                        - Emergency Services
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                      - additionalInformation:
                        - description: per prescription
                        benefitAmount: '10'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '88'
                        serviceTypes:
                        - Pharmacy
                      - additionalInformation:
                        - description: PCP
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: per visit
                        - description: PCP
                        benefitAmount: '15'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: PCP
                        code: I
                        inPlanNetworkIndicator: 'No'
                        inPlanNetworkIndicatorCode: N
                        name: Non-Covered
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: Specialist
                        - description: Covered No Limit.
                        code: '1'
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Active Coverage
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                      - additionalInformation:
                        - description: per visit
                        - description: Specialist
                        benefitAmount: '30'
                        code: B
                        coverageLevel: Family
                        coverageLevelCode: FAM
                        inPlanNetworkIndicator: 'Yes'
                        inPlanNetworkIndicatorCode: Y
                        name: Co-Payment
                        planCoverage: Gold Plan
                        serviceTypeCodes:
                        - '98'
                        serviceTypes:
                        - Professional (Physician) Visit - Office
                        timeQualifier: Visit
                        timeQualifierCode: '27'
                      - additionalInformation:
                        - description: Specialist
                        code: I
[...]
