openapi: 3.0.3
info:
  contact:
    email: healthcare@stedi.com
  license:
    name: Proprietary
    url: https://stedi.com
  title: Stedi Healthcare Claims Claim acknowledgments Remittances API
  version: '2025-03-07'
servers:
- description: Production
  url: https://claims.us.stedi.com/2025-03-07
security:
- httpApiKeyAuth: []
tags:
- name: Remittances
paths:
  /change/medicalnetwork/reports/v2/{transactionId}/835:
    get:
      description: Retrieve an 835 Electronic Remittance Advice (ERA) in JSON format
      operationId: ConvertReport835
      parameters:
      - description: A unique identifier for the processed 835 transaction within Stedi. This ID is included in the transaction processed event, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve it through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within the Stedi portal.
        examples:
          ConvertReport835_example1:
            description: ''
            summary: Retrieve 835 ERA
            value: d567c2ae-f073-4725-8b8c-06c473b738a6
        in: path
        name: transactionId
        required: true
        schema:
          description: A unique identifier for the processed 835 transaction within Stedi. This ID is included in the transaction processed event, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve it through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within the Stedi portal.
          maxLength: 36
          minLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                ConvertReport835_example1:
                  description: ''
                  summary: Retrieve 835 ERA
                  value:
                    meta:
                      applicationMode: production
                      senderId: BSW
                      transactionId: 7647d644-9348-4596-a3b4-6830b8b48cc8
                    transactions:
                    - controlNumber: '112233'
                      detailInfo:
                      - assignedNumber: '1'
                        paymentInfo:
                        - claimPaymentInfo:
                            claimFilingIndicatorCode: '12'
                            claimFrequencyCode: '1'
                            claimPaymentAmount: '500'
                            claimStatusCode: '1'
                            facilityTypeCode: '11'
                            patientControlNumber: '1112223333'
                            patientResponsibilityAmount: '300'
                            payerClaimControlNumber: '94060555410000'
                            totalClaimChargeAmount: '800'
                          claimSupplementalInformation:
                            coverageAmount: '800'
                          patientName:
                            firstName: JOHN
                            lastName: DOE
                            memberId: '1234567891'
                          serviceLines:
                          - lineItemControlNumber: '111222333'
                            serviceAdjustments:
                            - adjustmentAmount1: '300'
                              adjustmentReason1: Deductible Amount
                              adjustmentReasonCode1: '1'
                              claimAdjustmentGroupCode: PR
                              claimAdjustmentGroupCodeValue: Patient Responsibility
                            serviceDate: '20190301'
                            servicePaymentInformation:
                              adjudicatedProcedureCode: '99211'
                              lineItemChargeAmount: '800'
                              lineItemProviderPaymentAmount: '500'
                              productOrServiceIDQualifier: HC
                              productOrServiceIDQualifierValue: Health Care Financing Administration Common Procedural Coding System (HCPCS) Codes
                            serviceSupplementalAmounts:
                              allowedActual: '800'
                        - claimPaymentInfo:
                            claimFilingIndicatorCode: '12'
                            claimFrequencyCode: '1'
                            claimPaymentAmount: '600'
                            claimStatusCode: '1'
                            facilityTypeCode: '11'
                            patientControlNumber: '22255566677'
                            patientResponsibilityAmount: '600'
                            payerClaimControlNumber: '9407779923000'
                            totalClaimChargeAmount: '1200'
                          claimSupplementalInformation:
                            coverageAmount: '1200'
                          patientName:
                            firstName: JANE
                            lastName: DOE
                            memberId: '1234567891'
                          serviceLines:
                          - serviceAdjustments:
                            - adjustmentAmount1: '600'
                              adjustmentReason1: Deductible Amount
                              adjustmentReasonCode1: '1'
                              claimAdjustmentGroupCode: PR
                              claimAdjustmentGroupCodeValue: Patient Responsibility
                            serviceDate: '20190310'
                            servicePaymentInformation:
                              adjudicatedProcedureCode: '93555'
                              lineItemChargeAmount: '1200'
                              lineItemProviderPaymentAmount: '600'
                              productOrServiceIDQualifier: HC
                              productOrServiceIDQualifierValue: Health Care Financing Administration Common Procedural Coding System (HCPCS) Codes
                            serviceSupplementalAmounts:
                              allowedActual: '1200'
                      financialInformation:
                        checkIssueOrEFTEffectiveDate: '20190316'
                        creditOrDebitFlagCode: C
                        payerIdentifier: '000000000'
                        paymentFormatCode: CCP
                        paymentMethodCode: ACH
                        receiverAccountDetails:
                          receiverAccountNumber: '144444'
                          receiverAccountNumberQualifier: DA
                          receiverDfiIdNumberQualifier: '01'
                          receiverDfiIdentificationNumber: '111333555'
                        senderAccountDetails:
                          senderAccountNumber: '11111111'
                          senderAccountNumberQualifier: DA
                          senderDFIIdentifier: '888999777'
                          senderDfiIdNumberQualifier: '01'
                        totalActualProviderPaymentAmount: '1100'
                        transactionHandlingCode: I
                      payee:
                        federalTaxPayersIdentificationNumber: '777667755'
                        name: ACME MEDICAL CENTER
                        npi: '1999999984'
                      payer:
                        address:
                          address1: 10 SOUTH AVENUET
                          city: NEW YORK
                          postalCode: '55111'
                          state: SD
                        name: RUSHMORE LIFE
                        technicalContactInformation:
                        - contactMethods:
                          - phone: '8005550000'
                          contactName: JOHN DOE
                      paymentAndRemitReassociationDetails:
                        checkOrEFTTraceNumber: '71700666555'
                        originatingCompanyIdentifier: '1935665544'
                        traceTypeCode: '1'
                      productionDate: '20190314'
              schema:
                $ref: '#/components/schemas/ConvertReport835ResponseContent'
          description: ConvertReport835 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Remittances
  /electronic-remittance-advice/{transactionId}/pdf:
    get:
      description: Retrieve the generated PDF of an 835 Electronic Remittance Advice (ERA).
      operationId: GetElectronicRemittanceAdvicePdf
      parameters:
      - description: A unique identifier for the Electronic Remittance Advice (ERA) within Stedi. This ID is included in the transaction processed event for the ERA, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve this ID through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within Stedi.
        examples:
          GetElectronicRemittanceAdvicePdf_example1:
            description: ''
            summary: Retrieve PDF
            value: b12a1241-3312-a3dc-aed2-1a30ca50cd63
        in: path
        name: transactionId
        required: true
        schema:
          description: A unique identifier for the Electronic Remittance Advice (ERA) within Stedi. This ID is included in the transaction processed event for the ERA, which you can receive automatically through Stedi [webhooks](https://www.stedi.com/docs/healthcare/configure-webhooks). You can also retrieve this ID through the [Poll Transactions endpoint](https://www.stedi.com/docs/healthcare/api-reference/get-poll-transactions) or from the transaction's details page within Stedi.
          maxLength: 36
          minLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
      - description: If false, the generated PDF will not include the Stedi logo in the footer. The default is true.
        in: query
        name: logo
        schema:
          description: If false, the generated PDF will not include the Stedi logo in the footer. The default is true.
          type: boolean
      responses:
        '200':
          content:
            application/pdf:
              examples:
                GetElectronicRemittanceAdvicePdf_example1:
                  description: ''
                  summary: Retrieve PDF
                  value: '%PDF-1.3

                    1 0 obj<< ...'
              schema:
                $ref: '#/components/schemas/GetElectronicRemittanceAdvicePdfOutputPayload'
          description: GetElectronicRemittanceAdvicePdf 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationExceptionResponseContent'
          description: ValidationException 400 response
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedExceptionResponseContent'
          description: AccessDeniedException 403 response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundExceptionResponseContent'
          description: ResourceNotFoundException 404 response
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThrottlingExceptionResponseContent'
          description: ThrottlingException 429 response
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalFailureExceptionResponseContent'
          description: InternalFailureException 500 response
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableExceptionResponseContent'
          description: ServiceUnavailableException 503 response
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutExceptionResponseContent'
          description: GatewayTimeoutException 504 response
      tags:
      - Remittances
components:
  schemas:
    ReceiverAccountDetails:
      description: Financial institution account details for the payment receiver.
      properties:
        receiverAccountNumber:
          description: The provider's account number.
          type: string
        receiverAccountNumberQualifier:
          $ref: '#/components/schemas/AccountNumberQualifier'
          description: The code identifying the type of account. Can be either `DA` - Demand Deposit or `SA` - Savings.
        receiverDfiIdNumberQualifier:
          $ref: '#/components/schemas/DfiIdNumberQualifier'
          description: The code identifying the type of identification number of the Depository Financial Institution (DFI). Can be either `01` - ABA Transit Routing Number Including Check Digits (9 digits) or `04` - Canadian Bank Branch Institution Number.
        receiverDfiIdentificationNumber:
          description: The identification number specified in `receiverDfiIdNumberQualifier`.
          type: string
      type: object
    PaymentFormatCode:
      description: Identifies the specific electronic payment format used for ACH transactions. These formats determine the structure and content of the electronic payment message.
      enum:
      - CCP
      - CTX
      type: string
    PaymentInfoClaimSupplementalInformation:
      description: Additional information about the claim payment. All values are expressed as decimals.
      properties:
        coverageAmount:
          description: The total covered charges. This is the sum of the original submitted provider charges that are considered for payment under the health plan. This excludes charges considered not covered, but includes reductions to payments of covered services, such as patient deductibles.
          type: string
        discountAmount:
          description: This is the Prompt Pay Discount Amount.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory1:
          description: Federal Medicare or Medicaid Payment Mandate - Category 1.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory2:
          description: Federal Medicare or Medicaid Payment Mandate - Category 2.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory3:
          description: Federal Medicare or Medicaid Payment Mandate - Category 3.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory4:
          description: Federal Medicare or Medicaid Payment Mandate - Category 4.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory5:
          description: Federal Medicare or Medicaid Payment Mandate - Category 5.
          type: string
        interest:
          description: The interest amount.
          type: string
        negativeLedgerBalance:
          description: The negative ledger balance. Only used by Medicare Part A and Medicare Part B.
          type: string
        patientAmountPaid:
          description: The amount the patient has already paid.
          type: string
        perDayLimit:
          description: The per day limit.
          type: string
        tax:
          description: The total taxes.
          type: string
        totalClaimBeforeTaxes:
          description: The total claim amount before taxes.
          type: string
      type: object
    ClaimPaymentAdviceServiceLinesRenderingProviderInformation:
      description: Identifiers for the provider who rendered this service.
      properties:
        blueCrossProviderNumber:
          description: The rendering provider's Blue Cross Provider Number.
          type: string
        blueShieldProviderNumber:
          description: The rendering provider's Blue Shield Provider Number.
          type: string
        champusIdentificationNumber:
          description: The rendering provider's CHAMPUS Identification Number.
          type: string
        facilityIdNumber:
          description: The rendering provider's Facility ID Number.
          type: string
        federalTaxpayerIdentificationNumber:
          description: The rendering provider's Federal Taxpayer Identification Number.
          type: string
        medicaidProviderNumber:
          description: The rendering provider's Medicaid Provider Number.
          type: string
        medicareProviderNumber:
          description: The rendering provider's Medicare Provider Number.
          type: string
        nationalCouncilForPrescriptionDrugProgramPharmacyNumber:
          description: The rendering provider's National Council for Prescription Drug Programs Pharmacy Number.
          type: string
        npi:
          description: The rendering provider's National Provider Identifier (NPI).
          pattern: ^\d{10}$
          type: string
        providerCommercialNumber:
          description: The Provider Commercial Number.
          type: string
        providerUPINNumber:
          description: Deprecated; replaced by NPI in 2007.
          type: string
        ssn:
          description: The rendering provider's Social Security Number (SSN).
          pattern: ^\d{9}$
          type: string
        stateLicenseNumber:
          description: The rendering provider's State License Number.
          type: string
      type: object
    Meta:
      description: Metadata that helps Stedi track and debug the response.
      properties:
        applicationMode:
          description: Whether this is a test or production ERA.
          type: string
        senderId:
          description: An identifier for the most recent sender of the ERA. This is usually not the original sender, so this value is unlikely to be a payer ID. When Stedi processes and delivers ERAs through the clearinghouse, this value is always `STEDI`.
          type: string
        traceId:
          description: Not currently used.
          type: string
        transactionId:
          description: The Stedi transaction identifier.
          maxLength: 36
          minLength: 36
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
      type: object
    ProviderSupplementalSummaryInformation:
      description: Additional summary information about the provider and the charges in the claim. All values are expressed as decimals.
      properties:
        averageDRGLengthOfStay:
          description: The average length of stay for diagnosis related group (DRG) claims.
          type: string
        averageDRGWeight:
          description: The average diagnosis-related group (DRG) weight.
          type: string
        totalCapitalAmount:
          description: 'The total capital amount. This includes: capital federal-specfic amount, hospital federal-specfic amount, hold harmless amount, Indirect Medical Education amount, Disproportionate Share Hospital amount, and the exception amount. It does not include any capital outlier amount.'
          type: string
        totalCostOutlierAmount:
          description: The total cost outlier amount.
          type: string
        totalCostReportDayCount:
          description: The total number of cost report days.
          type: string
        totalCoveredDayCount:
          description: The total number of covered days.
          type: string
        totalDRGAmount:
          description: The total of the charges reported for all diagnosis-related group (DRG) codes.
          type: string
        totalDayOutlierAmount:
          description: The total day outlier amount.
          type: string
        totalDischargeCount:
          description: The total number of discharges.
          type: string
        totalDisproportionateShareAmount:
          description: The total disproportionate share amount.
          type: string
        totalFederalSpecificAmount:
          description: The total federal specific amount.
          type: string
        totalHospitalSpecificAmount:
          description: The total hospital specific amount.
          type: string
        totalIndirectMedicalEducationAmount:
          description: The total indirect medical education amount.
          type: string
        totalMSPPassThroughAmount:
          description: The total Medicare Secondary Payer (MSP) pass-through amount, calculated for a non-Medicare payer.
          type: string
        totalNonCoveredDayCount:
          description: The total number of non-covered days.
          type: string
        totalOutlierDayCount:
          description: The total number of outlier days.
          type: string
        totalPPSCapitalFSPDRGAmount:
          description: The total prospective payment system (PPS) capital, federal-specific portion, diagnosis-related group (DRG) amount.
          type: string
        totalPPSCapitalHSPDRGAmount:
          description: The total prospective payment system (PPS) capital, hospital-specific portion, diagnosis-related group (DRG) amount.
          type: string
        totalPPSDSHDRGAmount:
          description: The total prospective payment system (PPS) disproportionate share, hospital diagnosis-related group (DRG) amount.
          type: string
      type: object
    ClaimStatusCode:
      description: Indicates the status of the claim after adjudication by the payer. These codes determine whether the claim was processed as primary, secondary, tertiary, denied, forwarded to other payers, or represents special processing situations like reversals or predeterminations.
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '25'
      type: string
    DetailInfo:
      description: Information about the claim or service line.
      properties:
        assignedNumber:
          description: A unique ID assigned to identify this set of claim information within the response.
          type: string
        paymentInfo:
          description: Information relevant to the claim and claim payment, including the subscriber, providers, and service lines. Note that the amount paid may not match the claim amount, even when the claim was not denied. This can happen for several reasons, including adjustments and corrected balances due from other claims.
          items:
            $ref: '#/components/schemas/PaymentInfo'
          type: array
        providerSummaryInformation:
          $ref: '#/components/schemas/ProviderSummaryInformation'
          description: Summary information about the provider.
        providerSupplementalSummaryInformation:
          $ref: '#/components/schemas/ProviderSupplementalSummaryInformation'
          description: Supplemental summary information about the provider.
      type: object
    HealthCareCheckRemarkCodes:
      description: Standard codes used to communicate informational remarks.
      properties:
        codeListQualifierCode:
          description: Code identifying the specific industry code list containing the `remarkCode`. Can be `HE` - Claim Payment Remark Codes or `RX` - National Council for Prescription Drug Programs Reject/Payment Codes.
          type: string
        codeListQualifierCodeValue:
          description: The description of the `codeListQualifierCode`. Can be `Claim Payment Remark Codes` or `National Council for Prescription Drug Programs Reject/Payment Codes`.
          type: string
        remark:
          description: The human readable description of the remark code.
          type: string
        remarkCode:
          description: 'The code identifying the specific remark.


            This property can either be a [Remittance Advice Remark Code (RARC)](https://x12.org/codes/remittance-advice-remark-codes) (`codeListQualifierCode` set to `HE`) or a National Council for Prescription Drug Programs Reject/Payment Code (`codeListQualifierCode` set to `RX`).'
          type: string
      type: object
    ServiceUnavailableExceptionResponseContent:
      description: The server is temporarily unavailable.
      properties:
        code:
          description: Classification of the exception type.
          type: string
        message:
          description: Human readable exception message.
          type: string
      required:
      - message
      type: object
    PaymentInfoInpatientAdjudication:
      description: Information about the adjudication of inpatient claims.
      properties:
        claimDRGAmount:
          description: The Diagnosis Related Group (DRG) amount.
          type: string
        claimDisproportionateShareAmount:
          description: The Disproportionate Share amount.
          type: string
        claimIndirectTeachingAmount:
          description: The indirect teaching amount.
          type: string
        claimMSPPassThroughAmount:
          description: The Medicare Secondary Payer (MSP) pass-through amount.
          type: string
        claimPPSCapitalAmount:
          description: The total Prospective Payment System (PPS) capital amount.
          type: string
        claimPPSCapitalOutlierAmount:
          description: The Prospective Payment System (PPS) Capital Outlier amount.
          type: string
        claimPaymentRemarkCode1:
          description: The [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode2:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode3:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode4:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode5:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        costReportDayCount:
          description: The number of cost report days.
          type: string
        coveredDaysOrVisitsCount:
          description: The number of days or visits covered by the health plan.
          type: string
        lifetimePsychiatricDaysCount:
          description: The number of psychiatric days for the patient's lifetime.
          type: string
        nonPayableProfessionalComponentAmount:
          description: The professional component amount billed but not payable.
          type: string
        oldCapitalAmount:
          description: The old capital amount.
          type: string
        ppsCapitalDSHDRGAmount:
          description: The Prospective Payment System (PPS) capital, disproportionate share, hospital Diagnosis Related Group (DRG) amount.
          type: string
        ppsCapitalExceptionAmount:
          description: The capital exception amount.
          type: string
        ppsCapitalFSPDRGAmount:
          description: The Prospective Payment System (PPS) capital, federal specific portion, Diagnosis Related Group (DRG) amount.
          type: string
        ppsCapitalHSPDRGAmount:
          description: The Prospective Payment System (PPS) capital, hospital specific portion, Diagnosis Related Group (DRG), amount.
          type: string
        ppsCapitalIMEAmount:
          description: The Prospective Payment System (PPS) capital indirect medical education claim amount.
          type: string
        ppsOperatingFederalSpecificDRGAmount:
          description: The federal specific Diagnosis Related Group (DRG) amount.
          type: string
        ppsOperatingHospitalSpecificDRGAmount:
          description: The hospital specific Diagnosis Related Group (DRG) Amount.
          type: string
        ppsOperatingOutlierAmount:
          description: The Prospective Payment System (PPS) Operating Outlier amount, expressed as a decimal.
          type: string
      type: object
    ProviderAdjustments:
      description: Provider-level adjustments unrelated to specific claims.
      properties:
        adjustments:
          description: List of adjustments applied to the provider.
          items:
            $ref: '#/components/schemas/Adjustments'
          type: array
        fiscalPeriodDate:
          description: The last day of the provider's fiscal year.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        providerIdentifier:
          description: This is the provider's NPI.
          type: string
      type: object
    TechnicalContactMethod:
      description: Contact method details for technical support.
      properties:
        email:
          description: The contact email address.
          type: string
        fax:
          description: The contact fax number.
          type: string
        phone:
          description: The contact telephone number including the area code. Phone numbers are formatted as AAABBBCCCC, where AAA represents the area code, BBB represents the telephone number prefix, and CCCC represents the telephone number. Phone numbers are provided without separators, such as dashes or parentheses. For example, `5551123345` for `555-112-3345`.
          type: string
        phoneExtension:
          description: The contact telephone extension, if applicable.
          type: string
        url:
          description: A web address to contact the person or entity. The URL is typically provided without the scheme and separator. For example, `stedi.com`.
          type: string
      type: object
    CreditDebitFlagCode:
      description: Indicates whether a financial transaction represents a credit or debit to the provider's account. Used to specify the direction of money flow in payment transactions.
      enum:
      - C
      - D
      type: string
    ValidationExceptionResponseContent:
      description: 'A standard error for input validation failures.

        Thrown when a member of the input structure

        falls outside of the modeled or documented constraints.'
      properties:
        code:
          description: A code describing the type of validation failure.
          type: string
        message:
          description: A message describing the causes of the validation failure. There may be more than one.
          type: string
      required:
      - message
      type: object
    PayeeAddress:
      description: Address information for the payee.
      properties:
        address1:
          description: The first line of the address.
          type: string
        address2:
          description: The second line of the address.
          type: string
        city:
          description: The city where the address is located.
          type: string
        countryCode:
          description: The standard code for the country from Part 1 of ISO 3166.
          type: string
        countrySubCode:
          description: The standard code for the country subdivision from Part 2 of ISO 3166.
          type: string
        postalCode:
          description: The postal code for the address, excluding punctuation and blanks.
          type: string
        state:
          description: The standard code for the state or province. For example `PA` for Pennsylvania.
          type: string
      type: object
    InternalFailureExceptionResponseContent:
      description: The server response when an unexpected error occurred while processing request.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    AccessDeniedExceptionResponseContent:
      description: The server response for authorization failure.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    ClaimPaymentAdvicePayer:
      description: Information about the payer.
      properties:
        address:
          $ref: '#/components/schemas/ClaimPaymentAdvicePayerAddress'
          description: The payer's address information.
        businessContactInformation:
          $ref: '#/components/schemas/BusinessContactInformation'
          description: A person or office.
        centersForMedicareAndMedicaidServicesPlanId:
          deprecated: true
          description: Formerly used to report the payer's Health Plan ID (HPID) or Other Entity Identifier (OEID). The Centers for Medicare and Medicaid Services (CMS) no longer uses HPID, so this property will not be populated.
          type: string
        healthIndustryNumber:
          description: The payer's health industry number.
          type: string
        name:
          description: The payer's business name, such as Cigna or Aetna.
          type: string
        nationalAssociationOfInsuranceCommissioners:
          description: The payer's National Association of Insurance Commissioners (NAIC) code.
          type: string
        payerIdentificationNumber:
          description: 'An identifier for the payer. For Medicare carriers or intermediaries, this is the Medicare carrier or intermediary ID number. For Blue Cross and Blue Shield Plans, this is the Blue Cross Blue Shield association plan code.


            Providers rarely use this identifier in practice.'
          type: string
        payerWebSiteUrl:
          description: The payer's web address. The URL is typically provided without the scheme and separator. For example, `stedi.com`.
          type: string
        submitterIdentificationNumber:
          description: An identifier for the payer. This is used when the original transaction sender is not the payer or has an identifier other than those already provided.
          type: string
        technicalContactInformation:
          description: A person or office.
          items:
            $ref: '#/components/schemas/TechnicalContactInformation'
          type: array
      type: object
    PaymentInfoCorrectedPatientOrInsuredName:
      description: Used to provide corrected information about the insured.
      properties:
        firstName:
          description: The insured's first name.
          type: string
        insuredsChangedUniqueIdentificationNumber:
          description: The insured's changed unique identification number.
          type: string
        lastName:
          description: The insured's last name.
          type: string
        middleName:
          description: The insured's middle name or initial of the insured.
          type: string
        organizationName:
          description: The business name of the insured when they are not an individual.
          type: string
        suffix:
          description: The insured's name suffix, such as Jr. or III.
          type: string
      type: object
    ClaimPaymentAdviceResponse:
      description: The complete claim payment advice response from the payer.
      properties:
        controlNumber:
          description: The control number the payer provided in the claim payment response. This is used to identify the transaction.
          type: string
        detailInfo:
          description: Detailed information about claims in this payment advice.
          items:
            $ref: '#/components/schemas/DetailInfo'
          type: array
        financialInformation:
          $ref: '#/components/schemas/ClaimPaymentAdviceResponseFinancialInformation'
          description: Financial information about the payment including amounts and account details.
        foreignCurrency:
          description: The standard ISO code for the country whose currency is being used for payments. If this is not present, the currency is US dollars.
          type: string
        payee:
          $ref: '#/components/schemas/Payee'
          description: Information about the payee receiving the payment.
        payer:
          $ref: '#/components/schemas/ClaimPaymentAdvicePayer'
          description: Information about the payer making the payment.
        paymentAndRemitReassociationDetails:
          $ref: '#/components/schemas/ClaimPaymentAdviceResponsePaymentAndRemitReassociationDetails'
          description: Payment and remittance reassociation details for transaction tracking.
        productionDate:
          description: The end date for the adjudication production cycle for claims included in this ERA.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        providerAdjustments:
          description: 'Provider-level adjustment information for debit or credit transactions such as: accelerated payments, cost report settlements for a fiscal year, and timeliness report penalties unrelated to a specific claim or service. These adjustments can either decrease the payment (a positive number) or increase the payment (a negative number).'
          items:
            $ref: '#/components/schemas/ProviderAdjustments'
          type: array
        receiverIdentifier:
          description: The business identification information for the entity initially receiving the transaction. This is typically included when the receiver of the transaction is not the payee, such as a clearinghouse or billing service.
          type: string
        versionIdentification:
          description: The version number of the adjudication system that generated the claim payments.
          type: string
      type: object
    ProviderSummaryInformation:
      description: Summary information about the provider, including the provider's identifier, where the services were performed, and total claim charge amounts.
      properties:
        facilityTypeCode:
          description: A code identifying the type of facility where services were performed. This is the [Place of Service Codes](https://www.cms.gov/medicare/coding-billing/place-of-service-codes/code-sets) for Professional or Dental Services.
          type: string
        fiscalPeriodDate:
          description: The last day of the provider's fiscal year.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        providerIdentifier:
          description: The provider number.
          type: string
        totalClaimChargeAmount:
          description: The total of the charges reported for all claims, expressed as a decimal.
          type: string
        totalClaimCount:
          description: The total number of claims.
          type: string
        totalHCPCSPayableAmount:
          description: The total of the charges reported for all HCPCS codes that are payable, expressed as a decimal.
          type: string
        totalHCPCSReportedChargeAmount:
          description: The total of the charges reported for all Health Care Financing Administration Common Procedural Coding System (HCPCS) codes, expressed as a decimal.
          type: string
        totalMSPPatientLiabilityMetAmount:
          description: The total Medicare Secondary Payer (MSP) patient liability met, expressed as a decimal.
          type: string
        totalMSPPayerAmount:
          description: The total Medicare Secondary Payer (MSP) primary payer amount, expressed as a decimal.
          type: string
        totalNonLabChargeAmount:
          description: The total of non-laboratory charges, expressed as a decimal.
          type: string
        totalPIPAdjustmentAmount:
          description: The total periodic interim payment (PIP) adjustment amount, expressed as a decimal.
          type: string
        totalPIPClaimCount:
          description: The total periodic interim payment (PIP) number of claims, expressed as a decimal.
          type: string
        totalPatientReimbursementAmount:
          description: The total patient reimbursement amount, expressed as a decimal.
          type: string
        totalProfessionalComponentAmount:
          description: The total of the professional component charges, expressed as a decimal.
          type: string
      type: object
    OtherSubscriber:
      description: Information about the other subscriber, when a corrected priority payer has been identified.
      properties:
        firstName:
          description: The subscriber's first name.
          type: string
        lastName:
          description: The subscriber's last name.
          type: string
        memberId:
          description: The subscriber's member ID for their health plan.
          type: string
        middleName:
          description: The subscriber's middle name or initial.
          type: string
        organizationName:
          description: The subscriber's business name, if the subscriber is not an individual.
          type: string
        standardUniqueHealthIdentifierForEachIndividualInTheUnitedStates:
          description: Deprecated
          type: string
        suffix:
          description: The subscriber's name suffix, such as Jr. or III.
          type: string
        taxId:
          description: The subscriber's Federal Taxpayer's Identification Number. Only used when the subscriber is a business entity and not an individual.
          pattern: ^\d{9}$
          type: string
      type: object
    ResourceNotFoundExceptionResponseContent:
      description: The server response when the specified resource cannot be found after an API request passes authentication and authorization.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    TransactionHandlingCode:
      description: Indicates the actions that should be taken by both the sender and receiver of the payment transaction. This determines whether payment should be made, remittance sent, or both.
      enum:
      - C
      - D
      - H
      - I
      - P
      - U
      - X
      type: string
    ConvertReport835ResponseContent:
      description: Transaction response structure for claim payment advice.
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
          description: Metadata that helps Stedi track and debug the response.
        transactions:
          description: The payer's 835 response.
          items:
            $ref: '#/components/schemas/ClaimPaymentAdviceResponse'
          type: array
      required:
      - meta
      type: object
    PaymentInfoPatientName:
      description: Information about the individual who received medical services.
      properties:
        firstName:
          description: The patient's first name.
          type: string
        healthInsuranceClaimNumber:
          description: The patient's Health Insurance Claim (HIC) Number.
          type: string
        lastName:
          description: The patient's last name.
          type: string
        medicaidRecipientIdentificationNumber:
          description: The patient's Medicaid Recipient Identification Number.
          type: string
        memberId:
          description: The patient's member ID number for their health plan.
          type: string
        middleName:
          description: The patient's middle name or initial.
          type: string
        ssn:
          description: The patient's Social Security Number (SSN).
          pattern: ^\d{9}$
          type: string
        standardUniqueHealthIdentifierForEachIndividualInTheUnitedStates:
          description: Deprecated.
          type: string
        suffix:
          description: The patient's name suffix, such as Jr or III.
          type: string
      type: object
    SenderAccountDetails:
      description: Financial institution account details for the payment sender.
      properties:
        senderAccountNumber:
          description: The account number for the company originating the payment.
          type: string
        senderAccountNumberQualifier:
          $ref: '#/components/schemas/AccountNumberQualifier'
          description: The code identifying the type of account the payment is being made from. Can be `DA` - Demand Deposit.
        senderDFIIdentifier:
          description: The identifier specified by the `senderDfiIdNumberQualifier`.
          type: string
        senderDfiIdNumberQualifier:
          $ref: '#/components/schemas/DfiIdNumberQualifier'
          description: The code identifying the type of identification number of the Depository Financial Institution (DFI). Can be either `01` - ABA Transit Routing Number Including Check Digits (9 digits) or `04` - Canadian Bank Branch Institution Number.
      type: object
    PaymentInfoOtherClaimRelatedIdentification:
      description: Additional reference numbers to identify the specific claim.
      properties:
        adjustedRePricedClaimReferenceNumber:
          description: The adjusted repriced claim reference number.
          type: string
        authorizationNumber:
          description: An authorization number assigned by the adjudication process that was not provided prior to the services.
          type: string
        classOfContractCode:
          description: The class of contract code.
          type: string
        classOfContractCodes:
          description: A list of class of contract codes when multiple codes are applicable.
          items:
            type: string
          type: array
        employeeIdentificationNumber:
          description: The employee identification number.
          type: string
        groupNumber:
          description: The other insured group number.
          type: string
        groupOrPolicyNumber:
          description: The group or policy number for the health plan.
          type: string
        insurancePolicyNumber:
          description: The insurance policy number.
          type: string
        medicalRecordIdentificationNumber:
          description: The medical record identification number.
          type: string
        memberIdentificationNumber:
          description: The health plan member identification number.
          type: string
        originalReferenceNumber:
          description: The reference number for the original claim. This is included for correction claims.
          type: string
        predeterminationOfBenefitsIdentificationNumber:
          description: The predetermination of benefits identification number.
          type: string
        priorAuthorizationNumber:
          description: The prior authorization number.
          type: string
        rePricedClaimReferenceNumber:
          description: The repriced claim reference number.
          type: string
        ssn:
          description: The social security number (SSN).
          pattern: ^\d{9}$
          type: string
      type: object
    ClaimPaymentAdviceServiceLinesServiceSupplementalQuantities:
      description: Additional quantity information about the service. All values are expressed as decimals.
      properties:
        federalMedicareOrMedicaidPaymentMandateCategory1:
          description: Federal Medicare or Medicaid Payment Mandate - Category 1.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory2:
          description: Federal Medicare or Medicaid Payment Mandate - Category 2.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory3:
          description: Federal Medicare or Medicaid Payment Mandate - Category 3.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory4:
          description: Federal Medicare or Medicaid Payment Mandate - Category 4.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory5:
          description: Federal Medicare or Medicaid Payment Mandate - Category 5.
          type: string
      type: object
    TechnicalContactInformation:
      description: Technical contact information for the payer.
      properties:
        contactMethods:
          description: Available contact methods for technical support.
          items:
            $ref: '#/components/schemas/TechnicalContactMethod'
          type: array
        contactName:
          description: The name of the contact person or entity.
          type: string
      type: object
    PaymentInfoRenderingProvider:
      description: Information about the provider who rendered the services.
      properties:
        blueCrossProviderNumber:
          description: The rendering provider's Blue Cross Provider Number.
          type: string
        blueShieldProviderNumber:
          description: The rendering provider's Blue Shield Provider Number.
          type: string
        firstName:
          description: The rendering provider's first name.
          type: string
        lastName:
          description: The rendering provider's last name.
          type: string
        medicaidProviderNumber:
          description: The rendering provider's Medicare Provider Number.
          type: string
        middleName:
          description: The rendering provider's middle name or initial.
          type: string
        npi:
          description: The rendering provider's National Provider Identifier (NPI).
          pattern: ^\d{10}$
          type: string
        organizationName:
          description: The rendering provider's business name.
          type: string
        providerCommercialNumber:
          description: The rendering provider's Provider Commercial Number.
          type: string
        stateLicenseNumber:
          description: The rendering provider's State License Number.
          type: string
        suffix:
          description: The rendering provider's name suffix, such as Jr. or III.
          type: string
        taxId:
          description: The rendering provider's Federal Taxpayer Identification Number.
          pattern: ^\d{9}$
          type: string
        uniquePhysicianIdentificationNumber:
          description: Deprecated; replaced by NPI in 2007.
          type: string
      type: object
    AccountNumberQualifier:
      description: Identifies the type of bank account being used for electronic payment transactions. This specifies whether the account is a checking (demand deposit) or savings account.
      enum:
      - DA
      - SA
      type: string
    DfiIdNumberQualifier:
      description: Identifies the type of Depository Financial Institution (DFI) identification number being used. This specifies the format and country of the bank routing information.
      enum:
      - '01'
      - '04'
      type: string
    ClaimPaymentAdviceFilingIndicatorCode:
      description: Identifies the type of health plan or insurance coverage under which the claim was filed. These codes indicate the specific type of insurance arrangement, government program, or coverage type that applies to the claim.
      enum:
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - AM
      - CH
      - DS
      - HM
      - LI
      - LM
      - MA
      - MB
      - MC
      - OF
      - TV
      - VA
      - WC
      - ZZ
      type: string
    GatewayTimeoutExceptionResponseContent:
      description: The server response for a gateway timeout error.
      properties:
        code:
          description: Classification of the exception type.
          type: string
        message:
          description: Human readable exception message.
          type: string
      required:
      - message
      type: object
    TraceTypeCode:
      description: Identifies the type of trace number used to uniquely identify and track payment transactions. This helps reassociate payments with their corresponding remittance advice.
      enum:
      - '1'
      type: string
    ClaimPaymentAdviceServiceLinesServiceIdentification:
      description: Additional identifiers related to the service line.
      properties:
        ambulatoryPatientGroupNumber:
          description: The service line's Ambulatory Patient Group (APG) Number.
          type: string
        ambulatoryPaymentClassification:
          description: The service line's Ambulatory Payment Classification Number.
          type: string
        attachmentCode:
          description: The service line's Attachment Code.
          type: string
        authorizationNumber:
          description: The service line's Authorization Number.
          type: string
        locationNumber:
          description: The payer's identification for the provider location.
          type: string
        preDeterminationOfBenefitsIdentificationNumber:
          description: The service line's Predetermination of Benefits Identification Number.
          type: string
        priorAuthorizationNumber:
          description: The service line's Prior Authorization Number.
          type: string
        rateCodeNumber:
          description: The service line's Rate code number, a percentage that reflects the Ambulatory Surgical Center (ASC) rate for Medicare. This is either 0, 50, 100, or 150.
          type: string
      type: object
    ClaimAdjustmentGroupCode:
      description: Defines the category of adjustment reason codes that explain why a claim payment was adjusted. These codes categorize adjustments into contractual obligations, payer-initiated reductions, patient responsibilities, and other adjustments.
      enum:
      - CO
      - OA
      - PI
      - PR
      type: string
    Payee:
      description: Information about the provider receiving the payment.
      properties:
        address:
          $ref: '#/components/schemas/PayeeAddress'
          description: The payee's address information.
        centersForMedicareAndMedicaidServicesPlanId:
          deprecated: true
          description: Formerly used to report the payee's Centers for Medicare and Medicaid Services (CMS) Plan ID. This used to report the Health Plan ID (HPID) or Other Entity Identifier (OEID). The Centers for Medicare and Medicaid Services (CMS) no longer uses HPID, so this property will not be populated.
          type: string
        federalTaxPayersIdentificationNumber:
          description: The payee's Federal Taxpayer's Identification Number (when the payee is a business) or the payee's social security number (when the payee is an individual provider).
          type: string
        name:
          description: The payee's name. This can be the name of an individual or an organization.
          type: string
        nationalCouncilForPrescriptionDrugProgramsPharmacyNumber:
          description: The payee's National Council for Prescription Drugs Pharmacy Number.
          type: string
        npi:
          description: The payee's National Provider Identifier (NPI).
          pattern: ^\d{10}$
          type: string
        payeeIdentification:
          description: Other information necessary to identify the payee.
          type: string
        remittanceDeliveryMethod:
          $ref: '#/components/schemas/PayeeRemittanceDeliveryMethod'
          description: Method for delivering remittance advice to the payee.
        stateLicenseNumber:
          description: The payee's State License Number.
          type: string
        taxId:
          description: The payee's Federal Tax Identification Number (TIN).
          pattern: ^\d{9}$
          type: string
      type: object
    PaymentInfoOutpatientAdjudication:
      description: Information about the adjudication of claims not related to an inpatient setting.
      properties:
        claimESRDPaymentAmount:
          description: The End Stage Renal Disease (ESRD) payment amount.
          type: string
        claimHCPCSPayableAmount:
          description: The claim Health Care Financing Administration Common Procedural Coding System (HCPCS) payable amount, expressed as a decimal.
          type: string
        claimPaymentRemarkCode1:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode2:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode3:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode4:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        claimPaymentRemarkCode5:
          description: A [Claim Payment Remark Code](https://x12.org/codes/remittance-advice-remark-codes).
          type: string
        nonPayableProfessionalComponentAmount:
          description: The professional component amount billed but not payable.
          type: string
        reimbursementRate:
          description: The reimbursement rate, expressed as a decimal.
          type: string
      type: object
    PaymentInfoClaimPaymentInfo:
      description: Claim payment information for the payment info structure.
      properties:
        claimFilingIndicatorCode:
          $ref: '#/components/schemas/ClaimPaymentAdviceFilingIndicatorCode'
          description: A code identifying the type of claim. For example `DS` - Disability. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#claim-filing-indicator-code) for a complete list and usage notes.
        claimFrequencyCode:
          description: A code identifying the frequency of the claim. It matches what the payer received in the original claim. Visit [Bill Type Frequency Codes](https://www.nubc.org/system/files/media/file/2019/06/billTypeFrequencyCodes837.pdf) for a complete list and definitions.
          type: string
        claimPaymentAmount:
          description: The total amount of the claim payment, expressed as a decimal. This value can be positive, zero, or negative.
          type: string
        claimStatusCode:
          $ref: '#/components/schemas/ClaimStatusCode'
          description: The status of the claim. For example, `1` - Processed as Primary. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#claim-status-code) for a complete list and usage notes.
        diagnosisRelatedGroupDRGCode:
          description: Code indicating a patient's diagnosis group based on their medical symptoms.
          type: string
        diagnosisRelatedGroupDRGWeight:
          description: The adjudicated diagnosis-related group (DRG) weight.
          type: string
        dischargeFraction:
          description: The adjudicated discharge fraction.
          type: string
        facilityTypeCode:
          description: A code identifying where services were or may be performed. This is the [Place of Service Codes](https://www.cms.gov/medicare/coding-billing/place-of-service-codes/code-sets) for Professional or Dental Services.
          type: string
        patientControlNumber:
          description: The patient control number provided in the original claim. You can use this value to correlate the payer's response with the original claim.
          type: string
        patientResponsibilityAmount:
          description: The amount the patient is responsible for paying. This can include the deductible, non-covered services, co-pay, and co-insurance. This is not used for reversals.
          type: string
        payerClaimControlNumber:
          description: The payer's internal control number for the claim.
          type: string
        totalClaimChargeAmount:
          description: The total amount of submitted charges for this claim, expressed as a decimal. This can be positive, zero, or negative. For example, this may contain a negative charge for a reversal claim.
          type: string
      type: object
    ClaimPaymentAdviceServiceLinesServicePaymentInformation:
      description: Payment and control information about a provider for a particular service.
      properties:
        adjudicatedProcedureCode:
          description: The adjudicated procedure code - an identifying number for a product or service.
          type: string
        adjudicatedProcedureModifierCodes:
          description: A list of up to four modifiers that identify special circumstances related to the product or service.
          items:
            type: string
          type: array
        lineItemChargeAmount:
          description: The submitted service charge, expressed as a decimal.
          type: string
        lineItemProviderPaymentAmount:
          description: "The amount paid for the service, expressed as a decimal. \n\n This amount is calculated as follows: \n\n`servicePaymentInformation.lineItemProviderPaymentAmount =\n  servicePaymentInformation.lineItemChargeAmount - (sum(serviceAdjustments[].adjustmentAmount1) + sum(serviceAdjustments[].adjustmentAmount2) + sum(serviceAdjustments[].adjustmentAmount3) + sum(serviceAdjustments[].adjustmentAmount4) + sum(serviceAdjustments[].adjustmentAmount5) + sum(serviceAdjustments[].adjustmentAmount6))`\n\nAll properties in the formula are within a single `transactions[].detailInfo[].paymentInfo[].serviceLines` array entry. Note that `serviceAdjustments` is an object array that could contain up to 99 entries, each with up to 6 adjustment amounts in separate properties. This allows for up to 594 total adjustments.\n\nAdjustments can be either positive or negative. When the adjustment amounts are positive, the payment decreases. When the adjustment amounts are negative, the payment amount increases, and will be larger than the `lineItemChargeAmount`."
          type: string
        nationalUniformBillingCommitteeRevenueCode:
          description: The National Uniform Billing Committee Revenue Code.
          type: string
        originalUnitsOfServiceCount:
          description: The original number of units of service submitted, expressed as a decimal.
          type: string
        productOrServiceIDQualifier:
          $ref: '#/components/schemas/ProductServiceIdQualifier'
          description: The code identifying the source of the `adjudicatedProcedureCode`.
        productOrServiceIDQualifierValue:
          description: The description of the `productOrServiceIDQualifier`.
          type: string
        submittedAdjudicatedProcedureCode:
          description: The submitted adjudicated procedure code - an identifying number for a product or service.
          type: string
        submittedAdjudicatedProcedureModifierCodes:
          description: A list of up to four modifiers that identify special circumstances related to the product or service.
          items:
            type: string
          type: array
        submittedProcedureCodeDescription:
          description: A free-form description to further clarify the procedure code and any modifiers.
          type: string
        submittedProductOrServiceIDQualifier:
          $ref: '#/components/schemas/ProductServiceIdQualifier'
          description: The code identifying the source of the `submittedAdjudicatedProcedureCode`.
        submittedProductOrServiceIDQualifierValue:
          description: The description of the `submittedProductOrServiceIDQualifier`.
          type: string
        unitsOfServicePaidCount:
          description: The number of units of service that were paid, expressed as a decimal. If not present, the value is assumed to be one.
          type: string
      type: object
    ReportsContactInformation:
      properties:
        contactMethods:
          items:
            $ref: '#/components/schemas/ContactMethod'
          type: array
        contactName:
          description: The name of the contact person or entity.
          type: string
      type: object
    ClaimPaymentAdvicePayerAddress:
      description: Address information for the payer.
      properties:
        address1:
          description: The first line of the address.
          type: string
        address2:
          description: The second line of the address.
          type: string
        city:
          description: The city where the address is located.
          type: string
        countryCode:
          description: The standard code for the country from Part 1 of ISO 3166.
          type: string
        countrySubCode:
          description: The standard code for the country subdivision from Part 2 of ISO 3166.
          type: string
        postalCode:
          description: The postal code for the address, excluding punctuation and blanks.
          type: string
        state:
          description: The standard code for the state or province. For example `PA` for Pennsylvania.
          type: string
      type: object
    ClaimPaymentAdviceServiceLines:
      description: Information about specific service lines in the claim payment advice.
      properties:
        healthCareCheckRemarkCodes:
          description: Healthcare check remark codes for this service.
          items:
            $ref: '#/components/schemas/HealthCareCheckRemarkCodes'
          type: array
        healthCarePolicyIdentification:
          description: Healthcare policy identification for this service.
          items:
            $ref: '#/components/schemas/HealthCarePolicyIdentification'
          type: array
        lineItemControlNumber:
          description: The `providerControlNumber` submitted in the original claim to identify the service line.
          type: string
        renderingProviderInformation:
          $ref: '#/components/schemas/ClaimPaymentAdviceServiceLinesRenderingProviderInformation'
          description: Information about the provider who rendered this service.
        serviceAdjustments:
          description: Adjustments applied to this service line.
          items:
            $ref: '#/components/schemas/ClaimAdjustments'
          type: array
        serviceDate:
          description: The date the service was rendered. Used for single-day services.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        serviceEndDate:
          description: The date the service ended. Used for multi-day services.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        serviceIdentification:
          $ref: '#/components/schemas/ClaimPaymentAdviceServiceLinesServiceIdentification'
          description: Service identification details.
        servicePaymentInformation:
          $ref: '#/components/schemas/ClaimPaymentAdviceServiceLinesServicePaymentInformation'
          description: Payment information for this service line.
        serviceStartDate:
          description: The date the service began. Used for multi-day services.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        serviceSupplementalAmounts:
          $ref: '#/components/schemas/ClaimPaymentAdviceServiceLinesServiceSupplementalAmounts'
          description: Supplemental amount information for this service.
        serviceSupplementalQuantities:
          $ref: '#/components/schemas/ClaimPaymentAdviceServiceLinesServiceSupplementalQuantities'
          description: Supplemental quantity information for this service.
      type: object
    ClaimPaymentAdviceResponsePaymentAndRemitReassociationDetails:
      description: Information to uniquely identify the transaction and help with reassociating payments and remittances that have been separated.
      properties:
        checkOrEFTTraceNumber:
          description: This value uniquely identifies the transaction. This is either the check number, the EFT reference number, or a unique remittance advice identification number (for non-payment ERAs).
          type: string
        originatingCompanyIdentifier:
          description: A unique identifier for the payer. This is a 1 followed by the payer's Employer Identification Number (EIN) or Taxpayer Identification Number (TIN).
          type: string
        originatingCompanySupplementalCode:
          description: A value that identifies a further subdivision within the payer's organization.
          type: string
        traceTypeCode:
          $ref: '#/components/schemas/TraceTypeCode'
          description: Code that identifies which transaction is being referenced. This can be set to `1` - Current Transaction Trace Numbers.
      type: object
    GetElectronicRemittanceAdvicePdfOutputPayload:
      contentEncoding: byte
      description: 'A binary blob containing the Electronic Remittance Advice (ERA) PDF. You MUST send the ''accept: application/pdf'' header to get back the pdf content. Otherwise, the response will be base64-encoded and you must first decode it. To render the PDF, you must save the output to a file with a `.pdf` extension.'
      type: string
    PaymentMethodCode:
      description: Specifies the method used to deliver payment to the provider. This determines how the payment will be transmitted, such as electronically through ACH, by physical check, or wire transfer.
      enum:
      - ACH
      - BOP
      - CHK
      - FWT
      - NON
      type: string
    ProductServiceIdQualifier:
      description: Identifies the coding system or classification used to describe medical products, services, or procedures. These qualifiers specify which standardized code set is being used to identify the healthcare service or product.
      enum:
      - HC
      - AD
      - ER
      - IV
      - N4
      - NU
      - WK
      type: string
    BusinessContactInformation:
      description: A person or office to whom administrative communications should be directed.
      properties:
        contactMethods:
          items:
            $ref: '#/components/schemas/ContactMethod'
          type: array
        contactName:
          description: The name of the contact person or entity.
          type: string
      type: object
    ThrottlingExceptionResponseContent:
      description: The server response when usage plan or account-level throttling limits exceeded.
      properties:
        code:
          description: Error classification code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - message
      type: object
    PaymentInfoRenderingProviderIdentification:
      description: Additional identifiers for the rendering provider.
      properties:
        blueCrossProviderNumber:
          description: The rendering provider's Blue Cross Provider Number.
          type: string
        blueShieldProviderNumber:
          description: The rendering provider's Blue Shield Provider Number.
          type: string
        champusIdentificationNumber:
          description: The rendering provider's CHAMPUS Identification Number.
          type: string
        facilityIdNumber:
          description: The rendering provider's Facility ID Number.
          type: string
        locationNumber:
          description: The rendering provider's Location Number.
          type: string
        medicaidProviderNumber:
          description: The rendering provider's Medicaid Provider Number.
          type: string
        medicareProviderNumber:
          description: The rendering provider's Medicare Provider Number.
          type: string
        nationalCouncilForPrescriptionDrugProgramPharmacyNumber:
          description: The rendering provider's National Council for Prescription Drug Program Pharmacy Number.
          type: string
        providerCommercialNumber:
          description: The rendering provider's Provider Commercial Number.
          type: string
        providerUPINNumber:
          description: Deprecated; replaced by NPI in 2007.
          type: string
        stateLicenseNumber:
          description: The rendering provider's State License Number.
          type: string
      type: object
    ClaimPaymentAdviceServiceLinesServiceSupplementalAmounts:
      description: Information about the service supplemental amount. All values are expressed as decimals.
      properties:
        allowedActual:
          description: The payer payment plus any assigned patient responsibility.
          type: string
        deductionAmount:
          description: This is the late filing reduction amount.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory1:
          description: Federal Medicare or Medicaid Payment Mandate - Category 1.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory2:
          description: Federal Medicare or Medicaid Payment Mandate - Category 2.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory3:
          description: Federal Medicare or Medicaid Payment Mandate - Category 3.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory4:
          description: Federal Medicare or Medicaid Payment Mandate - Category 4.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory5:
          description: Federal Medicare or Medicaid Payment Mandate - Category 5.
          type: string
        tax:
          description: The tax amount.
          type: string
        totalClaimBeforeTaxes:
          description: The total amount for the service charge before taxes.
          type: string
      type: object
    ClaimAdjustments:
      description: Claim-level adjustments with reason codes and amounts.
      properties:
        adjustmentAmount1:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentAmount2:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentAmount3:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentAmount4:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentAmount5:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentAmount6:
          description: The amount of the adjustment. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        adjustmentQuantity1:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentQuantity2:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentQuantity3:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentQuantity4:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentQuantity5:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentQuantity6:
          description: The units of service being adjusted. A positive value decreases the covered days and a negative number increases the covered days.
          type: string
        adjustmentReason1:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReason2:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReason3:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReason4:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReason5:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReason6:
          description: A description identifying the detailed reason the adjustment was made.
          type: string
        adjustmentReasonCode1:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        adjustmentReasonCode2:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        adjustmentReasonCode3:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        adjustmentReasonCode4:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        adjustmentReasonCode5:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        adjustmentReasonCode6:
          description: A code identifying the detailed reason the adjustment was made. Visit [Claim Adjustment Reason Codes](https://x12.org/codes/claim-adjustment-reason-codes) in the X12 documentation for a complete list.
          type: string
        claimAdjustmentGroupCode:
          $ref: '#/components/schemas/ClaimAdjustmentGroupCode'
          description: The code identifying the category of adjustment reason codes. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#claim-adjustment-group-code) for a complete list and usage notes.
        claimAdjustmentGroupCodeValue:
          description: The description of the `claimAdjustmentGroupCode`.
          type: string
      type: object
    PayeeRemittanceDeliveryMethod:
      description: The method by which the remittance advice is delivered. This is used when the remittance is separate from the payment.
      properties:
        email:
          description: The email address.
          type: string
        ftp:
          description: Information for file transfer deliveries, such as SFTP, FTP, or FTPS.
          type: string
        name:
          description: The name of the third party processor, if required, that would be the first recipient of the remittance.
          type: string
        onLine:
          description: The web address of the online portal for secure hosted or other electronic delivery. The URL is typically provided without the scheme and separator. For example, `stedi.com`.
          type: string
      type: object
    PaymentInfoClaimSupplementalInformationQuantities:
      description: Additional quantity information about the claim payment. All values are expressed as decimals.
      properties:
        coInsuredActual:
          description: The actual amount of co-insurance designated by the health plan.
          type: string
        coveredActual:
          description: The number of days covered.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory1:
          description: Federal Medicare or Medicaid Payment Mandate - Category 1.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory2:
          description: Federal Medicare or Medicaid Payment Mandate - Category 2.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory3:
          description: Federal Medicare or Medicaid Payment Mandate - Category 3.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory4:
          description: Federal Medicare or Medicaid Payment Mandate - Category 4.
          type: string
        federalMedicareOrMedicaidPaymentMandateCategory5:
          description: Federal Medicare or Medicaid Payment Mandate - Category 5.
          type: string
        lifeTimeReserveActual:
          description: The actual lifetime reserve days.
          type: string
        lifeTimeReserveEstimated:
          description: The estimated lifetime reserve days.
          type: string
        nonCoveredEstimated:
          description: The non-covered estimated amount.
          type: string
        notReplacedBloodUnits:
          description: The number of non-replaced blood units.
          type: string
        outlierDays:
          description: The number of outlier days.
          type: string
        prescription:
          description: The prescription.
          type: string
        visits:
          description: The number of visits.
          type: string
      type: object
    Adjustments:
      description: Provider adjustment details including reason codes and amounts.
      properties:
        adjustmentReasonCode:
          description: A code identifying the reason for the adjustment. Visit [Provider Adjustment Reason Codes](https://www.stedi.com/docs/healthcare/claims-code-lists#provider-adjustment-reason-code) for a complete list and descriptions.
          type: string
        adjustmentReasonCodeValue:
          description: The description of the `adjustmentReasonCode`.
          type: string
        providerAdjustmentAmount:
          description: The amount of the adjustment, per the adjustment reason provided. A negative amount increases the claim payment and a positive amount decreases the claim payment.
          type: string
        providerAdjustmentIdentifier:
          description: An identifier used to assist the receiver in identifying, tracking, or reconciling the adjustment.
          type: string
      type: object
    PaymentInfo:
      description: Detailed payment information for a specific claim.
      properties:
        claimAdjustments:
          description: Adjustments applied to this claim.
          items:
            $ref: '#/components/schemas/ClaimAdjustments'
          type: array
        claimContactInformation:
          description: Contact information for claim-related communications.
          items:
            $ref: '#/components/schemas/ReportsContactInformation'
          type: array
        claimPaymentInfo:
          $ref: '#/components/schemas/PaymentInfoClaimPaymentInfo'
          description: Basic claim payment information including amounts and status.
        claimReceivedDate:
          description: The date the claim was received by the payer.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        claimStatementPeriodEnd:
          description: The claim period end date in ISO 8601 format (YYYY-MM-DD). This format is intentionally inconsistent with other date properties to maintain backwards compatibility.
          pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$
          type: string
        claimStatementPeriodStart:
          description: 'The claim period start date in ISO 8601 format (YYYY-MM-DD). This format is intentionally inconsistent with other date properties to maintain backwards compatibility.


            If the response doesn’t include a `claimStatementPeriodEnd`, you should assume the end date is the same as the start date.'
          pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$
          type: string
        claimSupplementalInformation:
          $ref: '#/components/schemas/PaymentInfoClaimSupplementalInformation'
          description: Supplemental information about the claim.
        claimSupplementalInformationQuantities:
          $ref: '#/components/schemas/PaymentInfoClaimSupplementalInformationQuantities'
          description: Supplemental quantity information about the claim.
        correctedPatientOrInsuredName:
          $ref: '#/components/schemas/PaymentInfoCorrectedPatientOrInsuredName'
          description: Corrected patient or insured name information.
        correctedPriorityPayer:
          $ref: '#/components/schemas/CorrectedPriorityPayer'
          description: Corrected priority payer information.
        coverageExpirationDate:
          description: The expiration date of the patient's coverage.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        crossoverCarrier:
          $ref: '#/components/schemas/CrossoverCarrier'
          description: Crossover carrier information.
        inpatientAdjudication:
          $ref: '#/components/schemas/PaymentInfoInpatientAdjudication'
          description: Inpatient adjudication information.
        otherClaimRelatedIdentification:
          $ref: '#/components/schemas/PaymentInfoOtherClaimRelatedIdentification'
          description: Other claim-related identification numbers.
        otherSubscriber:
          $ref: '#/components/schemas/OtherSubscriber'
          description: Other subscriber information.
        outpatientAdjudication:
          $ref: '#/components/schemas/PaymentInfoOutpatientAdjudication'
          description: Outpatient adjudication information.
        patientName:
          $ref: '#/components/schemas/PaymentInfoPatientName'
          description: Patient name information.
        renderingProvider:
          $ref: '#/components/schemas/PaymentInfoRenderingProvider'
          description: Information about the provider who rendered services.
        renderingProviderIdentification:
          $ref: '#/components/schemas/PaymentInfoRenderingProviderIdentification'
          description: Rendering provider identification information.
        serviceLines:
          description: Service lines included in this claim.
          items:
            $ref: '#/components/schemas/ClaimPaymentAdviceServiceLines'
          type: array
        subscriber:
          $ref: '#/components/schemas/PaymentInfoSubscriber'
          description: Subscriber information for the insurance policy.
      type: object
    CrossoverCarrier:
      description: Information about the crossover carrier. The crossover carrier is defined as any payer to which the claim is transferred for further payment after the current payer has finalized it.
      properties:
        blueCrossBlueShieldAssociationPlanCode:
          description: The provider's Blue Cross Blue Shield Association Plan Code.
          type: string
        centersForMedicareAndMedicaidServicesPlanId:
          description: Used to report the provider's Health Plan ID (HPID) or Other Entity Identifier (OEID).
          type: string
        nationalAssociationOfInsuranceCommissionersIdentification:
          description: The provider's National Association of Insurance Commissioners (NAIC) number.
          type: string
        organizationName:
          description: The provider's business name (when the provider is not an individual) or the provider's last name (when the provider is an individual).
          type: string
        payorId:
          description: The provider's Payer Identification number.
          type: string
        pharmacyProcessorNumber:
          description: The provider's Pharmacy Processor Number.
          type: string
        taxId:
          description: The provider's Federal Tax Identification Number.
          pattern: ^\d{9}$
          type: string
      type: object
    ContactMethod:
      properties:
        email:
          description: The email address.
          type: string
        fax:
          description: The fax number.
          type: string
        phone:
          description: The telephone number including the area code (if applicable). Phone numbers are formatted as AAABBBCCCC, where AAA represents the area code, BBB represents the telephone number prefix, and CCCC represents the telephone number. Phone numbers are provided without separators, such as dashes or parentheses. For example, `5551123345` for `555-112-3345`.
          type: string
        phoneExtension:
          description: The telephone extension, if applicable.
          type: string
      type: object
    CorrectedPriorityPayer:
      description: Information about the corrected priority payer. Used when the current payer believes that another payer has priority for making a payment and the claim is not being automatically transferred to that payer.
      properties:
        blueCrossBlueShieldAssociationPlanCode:
          description: The provider's Blue Cross Blue Shield Association Plan Code.
          type: string
        centersForMedicareAndMedicaidServicesPlanId:
          description: Used to report the provider's Health Plan ID (HPID) or Other Entity Identifier (OEID).
          type: string
        nationalAssociationOfInsuranceCommissionersIdentification:
          description: The provider's National Association of Insurance Commissioners (NAIC) number.
          type: string
        organizationName:
          description: The provider's business name (when the provider is not an individual) or the provider's last name (when the provider is an individual).
          type: string
        payorId:
          description: The provider's Payer Identification number.
          type: string
        pharmacyProcessorNumber:
          description: The provider's Pharmacy Processor Number.
          type: string
        taxId:
          description: The provider's Federal Tax Identification Number.
          pattern: ^\d{9}$
          type: string
      type: object
    HealthCarePolicyIdentification:
      description: Included when the payer adjusted the payment in accordance with a published healthcare policy code list.
      properties:
        policyFormIdentifyingNumber:
          description: The identifying number for the policy form.
          type: string
      type: object
    PaymentInfoSubscriber:
      description: Information about the primary policyholder for the health plan. This may or may not be the patient.
      properties:
        firstName:
          description: The subscriber's first name.
          type: string
        lastName:
          description: The subscriber's last name.
          type: string
        memberId:
          description: The subscriber's member ID for their health plan.
          type: string
        middleName:
          description: The subscriber's middle name or initial.
          type: string
        organizationName:
          description: The subscriber's business name, if the subscriber is not an individual.
          type: string
        standardUniqueHealthIdentifierForEachIndividualInTheUnitedStates:
          description: Deprecated
          type: string
        suffix:
          description: The subscriber's name suffix, such as Jr. or III.
          type: string
        taxId:
          description: The subscriber's Federal Taxpayer's Identification Number. Only used when the subscriber is a business entity and not an individual.
          pattern: ^\d{9}$
          type: string
      type: object
    ClaimPaymentAdviceResponseFinancialInformation:
      description: Information about a payment, including the payment method, payment amount, and account details for both the sender and receiver.
      properties:
        checkIssueOrEFTEffectiveDate:
          description: The date the payer considers the transaction to be settled. If the payment is made by automated clearinghouse (ACH), this is the date the funds are available to the provider. If the payment is made by check, this is the date the check is issued. If the payment is made by Federal Reserve Funds/wire transfer, this is the date that the payer anticipates the money to move.
          pattern: ^\d{4}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])$
          type: string
        creditOrDebitFlagCode:
          $ref: '#/components/schemas/CreditDebitFlagCode'
          description: A code indicating whether the payment is a credit or debit. Can be set to `C` - Credit or `D` - Debit. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#credit-or-debit-flag-code) for usage notes.
        originatingCompanySupplementalCode:
          description: A code that further identifies the payer by division or region.
          type: string
        payerIdentifier:
          description: A unique identifier for the payer, mutually established between the financial institution and the payer.
          type: string
        paymentFormatCode:
          $ref: '#/components/schemas/PaymentFormatCode'
          description: A code identifying the payment format. Can be set to `CCP` - Cash Concentration/Disbursement plus Addenda (CCD+) (ACH) or `CTX` - Corporate Trade Exchange (CTX) (ACH).
        paymentMethodCode:
          $ref: '#/components/schemas/PaymentMethodCode'
          description: A code indicating the payment method. For example, `ACH` - Automated Clearing House or `CHK` - Check. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#payment-method-code) for a complete list and usage notes.
        receiverAccountDetails:
          $ref: '#/components/schemas/ReceiverAccountDetails'
          description: Account details for the payment receiver.
        senderAccountDetails:
          $ref: '#/components/schemas/SenderAccountDetails'
          description: Account details for the payment sender.
        totalActualProviderPaymentAmount:
          description: The total amount of the payment to the provider, expressed as a decimal.
          type: string
        transactionHandlingCode:
          $ref: '#/components/schemas/TransactionHandlingCode'
          description: A code indicating the actions taken by both the sender and the receiver. For example, `D` - Make Payment Only. Visit [ERA code lists](https://www.stedi.com/docs/healthcare/claims-code-lists#transaction-handling-code) for a complete list and usage notes.
      type: object
  securitySchemes:
    httpApiKeyAuth:
      description: A [Stedi API Key](https://www.stedi.com/app/settings/api-keys) for authentication.
      in: header
      name: Authorization
      type: apiKey
x-stedi:
  lifecycle: general_availability
  product: claims
  public: true
